<div class="tab-pane" id="">
  <h1>Company Settings</h1>
  <accordion>
    <accordion-group  #group1
      [isOpen]="status.isFirstOpen"
    >
      <div accordion-heading>
        Company Information
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group1.isOpen, 'icon-chevron-right': !group1.isOpen}"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Company Name:</th>
            <td>{{(userOrganisation$ | async)?.name}}</td>
          </tr>
          <tr>
            <th>Legal Name:</th>
            <td>{{(userOrganisation$ | async)?.legalName}}</td>
          </tr>
          <tr>
            <th>Short Code:</th>
            <td>{{(userOrganisation$ | async)?.shortCode}}</td>
          </tr>
          <tr>
            <th>Address:</th>
            <td>{{(userOrganisation$ | async)?.address}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>

    <accordion-group  #group2
      [isOpen]= true
    >
      <div accordion-heading>
        System Notifications
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group2.isOpen, 'icon-chevron-right': !group2.isOpen}"></span>
      </div>

      <table class="table">
        <tbody>
          <tr *ngFor="let systemNotification of organisationSystemNotifications$ | async">
            <th>{{systemNotification.description}}:</th>
            <td>
              <div *ngIf="systemNotification.mappings.length===0">
                  If not explicitly set, notifications will be sent to {{(userOrganisation$ | async)?.email}}
              </div>

              <div class="checkbox" *ngFor="let mapping of systemNotification.mappings">
                <input type="checkbox"
                  *ngIf="editEnabled$ | async"
                  (click)="toggleSelection(mapping)"
                >
                <label>{{mapping.emailAddress}} ({{mapping.name}})</label>
              </div>

            </td>
          </tr>
        </tbody>
      </table>

      <div class="settings-cta">
        <button class="btn btn-primary pull-right" *ngIf="editEnabled$ | async" (click)="addMapping()">Create</button>
        <button class="btn btn-default pull-right" *ngIf="editEnabled$ | async" [disabled]="deleteDisabled" (click)="delMapping()">Delete Selected</button>
      </div>
    </accordion-group>
  </accordion>

</div>
