<html lang="en" ng-app="AomMonitoring">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="./css/default.css"/>
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body layout="column" ng-controller="IndexCtrl">

<div class="gridListdemoBasicUsage" ng-controller="processorStatusCtrl">
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile ng-class="summary.cssClass" md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                      ng-repeat="summary in processorSummary">
            <md-grid-tile-header>
                {{summary.headerText}}
            </md-grid-tile-header>
            <h2>Count: {{summary.count}}</h2>
            <md-grid-tile-footer>
                <h3>Status - {{summary.procStatus}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ng-class="processor.processorStatusClass" md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                      ng-repeat="processor in processorStatusRolled">
            <md-grid-tile-header>
                <p class="processor-title">{{processor.processor}}</p>
            </md-grid-tile-header>
            <!--<ul ng-repeat="machine in processor.machines">-->
                <!--<li>{{machine.machineName}} - {{machine.responseTimeAge / 1000 | number:2}} seconds</li>-->
            <!--</ul>-->
            <md-list>
                <md-list-item class="md-1-line" ng-repeat="machine in processor.machines">
                    <img src="images/green.png" ng-show="{{machine.processorStatus === 0}}" width="60px"/>
                    <img src="images/amber.png" ng-show="{{machine.processorStatus === 1}}" width="60px"/>
                    <img src="images/red.png" ng-show="{{machine.processorStatus === 2}}" width="60px"/>
                    <p ng-class="machine.processorStatusClass"> {{ machine.machineName }} - {{ machine.responseTimeAge / 1000 | number:2 }} </p>
                </md-list-item>
            </md-list>
            <md-grid-tile-footer>
                <p class="small-footer-text">Last Check: <strong>{{lastCheck | date: "h:mm:ss" }}</strong></p>
                <p class="small-footer-text">Actual Items: {{ processor.machines.length }} / Expected Items: {{ expectedNumberProcessors }}</p>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>


<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
<script src="./Javascript/indexCtrl.js"></script>
<script src="./Javascript/processorListCrtl.js"></script>
</body>
</html>