// From: https://github.com/flatlogic/awesome-bootstrap-checkbox
// Checkboxes
// --------------------------------------------------

// import the variables and mixins from BS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

$fa-var-check: "\e90f" !default;
$check-icon: $fa-var-check !default;

@mixin checkbox-variant($parent, $color) {
  #{$parent} input[type="checkbox"]:checked + label,
  #{$parent} input[type="radio"]:checked + label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      color: $white;
    }
  }
}

@mixin checkbox-variant-indeterminate($parent, $color) {
  #{$parent} input[type="checkbox"]:indeterminate + label,
  #{$parent} input[type="radio"]:indeterminate + label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      background-color: $white;
    }
  }
}

.checkbox{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $input-border;
      border-radius: 3px;
      background-color: $input-bg;
      @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
    }

    &::after{
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: $input-color;
      line-height: 1.4;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:focus + label::before{
      @include tab-focus();
    }

    &:checked + label::after{
      font-family: "aom-icons";
      content: $check-icon;
    }

    &:indeterminate + label::after{
      display: block;
      content: "";
      width: 10px;
      height: 3px;
      background-color: $gray;
      border-radius: 2px;
      margin-left: -16.5px;
      margin-top: 7px;
    }

    &:disabled{
      cursor: not-allowed;
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        background-color: $input-bg-disabled;
        cursor: not-allowed;
      }
    }

  }

  &.checkbox-circle label::before{
    border-radius: 50%;
  }

  &.checkbox-inline{
    margin-top: 0;
  }
}

@include checkbox-variant('.checkbox-primary', $brand-primary);
@include checkbox-variant('.checkbox-danger', $brand-danger);
@include checkbox-variant('.checkbox-info', $brand-info);
@include checkbox-variant('.checkbox-warning', $brand-warning);
@include checkbox-variant('.checkbox-success', $brand-success);


@include checkbox-variant-indeterminate('.checkbox-primary', $brand-primary);
@include checkbox-variant-indeterminate('.checkbox-danger', $brand-danger);
@include checkbox-variant-indeterminate('.checkbox-info', $brand-info);
@include checkbox-variant-indeterminate('.checkbox-warning', $brand-warning);
@include checkbox-variant-indeterminate('.checkbox-success', $brand-success);

//
// Radios
// --------------------------------------------------

@mixin radio-variant($parent, $color) {
  #{$parent} input[type="radio"]{
    + label{
      &::after{
        background-color: $color;
      }
    }
    &:checked + label{
      &::before {
        border-color: $color;
      }
      &::after{
        background-color: $color;
      }
    }
  }
}

.radio{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid $input-border;
      border-radius: 50%;
      background-color: $input-bg;
      @include transition(border 0.15s ease-in-out);
    }

    &::after{
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: $input-color;
      @include scale(0, 0);

      @include transition-transform(.1s cubic-bezier(.8,-0.33,.2,1.33));
      //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
    }
  }

  input[type="radio"]{
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:focus + label::before{
      @include tab-focus();
    }

    &:checked + label::after{
      @include scale(1, 1);
    }

    &:disabled{
      cursor: not-allowed;
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        cursor: not-allowed;
      }
    }

  }

  &.radio-inline{
    margin-top: 0;
  }
}

@include radio-variant('.radio-primary', $brand-primary);
@include radio-variant('.radio-danger', $brand-danger);
@include radio-variant('.radio-info', $brand-info);
@include radio-variant('.radio-warning', $brand-warning);
@include radio-variant('.radio-success', $brand-success);


input[type="checkbox"],
input[type="radio"] {
  &.styled:checked + label:after {
    font-family: "aom-icons";
    content: $check-icon;
  }
  .styled:checked + label {
    &::before {
      color: $white;
    }
    &::after {
      color: $white;
    }
  }
}





















// styled checkboxes version 2 from https://www.bootply.com/ugwCnanAfm - DELETE 01/12/17
// .custom-checkbox {
//   > [type="checkbox"],
//   > label {
//     user-select: none;
//     @extend %font-normal;
//   }
//
//   > [type="checkbox"]:not(:checked),
//   > [type="checkbox"]:checked {
//     position: absolute;
//     left: -9999px;
//
//     + label {
//       position: relative;
//       padding-left: 22px;
//       cursor: pointer;
//
//       &:before {
//         content: '';
//         position: absolute;
//         left:0;
//         top: 50%;
//         margin-top:-9px;
//         width: 15px;
//         height: 15px;
//         border: 1px solid $gray-light;
//         background: $gray;
//         border-radius: 2px;
//       }
//
//       &:after {
//         font-family: 'aom-icons';
//         content: "\e90f";
//         font-size: $font-size-base * 0.9;
//         position: absolute;
//         top: 50%;
//         margin-top:-8px;
//         left: 2px;
//       }
//     }
//   }
//
//   > [type="checkbox"]:not(:checked) {
//     + label:after {
//       opacity: 0;
//       transform: scale(0);
//     }
//   }
//
//   > [type="checkbox"]:checked {
//     + label:after {
//       opacity: 1;
//       transform: scale(1);
//     }
//   }
//
//   > [type="checkbox"][data-indeterminate] + label:after,
//   > [type="checkbox"][data-indeterminate] + label:after {
//     content: '\2212';
//     left: 2px;
//     opacity: 1;
//     transform: scale(1);
//   }
//
//   > [type="checkbox"]:disabled:not(:checked),
//   > [type="checkbox"]:disabled:checked {
//     + label:before {
//       box-shadow: none;
//       background-color: $gray-lighter;
//       border-color: $gray-lighter;
//       cursor: not-allowed;
//       opacity: 1;
//       color: #dadada;
//     }
//   }
//
//   > [type="checkbox"]:disabled:checked {
//     + label:after {
//       color: $gray-light;
//       cursor: not-allowed;
//     }
//   }
//
//   > [type="checkbox"]:disabled {
//     + label {
//       color: $gray-light;
//       cursor: not-allowed;
//     }
//   }
//
//   > [type="checkbox"]:checked:focus,
//   > [type="checkbox"]:not(:checked):focus {
//     + label:before {
//       border: 1px solid $aom-turquoise;
//       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
//     }
//   }
//
//   > label:hover:before {
//       border: 1px solid $aom-turquoise !important;
//   }
//
//   > [type="checkbox"]:disabled:not(:checked),
//   .custom-checkbox > [type="checkbox"]:disabled:checked {
//     + label:hover:before{
//       border: 1px solid $gray-light !important;
//     }
//   }
// }
