.add-bid {
  padding-top: $unit-px * 20;
  padding-bottom: $unit-px * 10;
}


.pricing-bid-divider {
  position: relative;
  height: 1px;
  background-color: $panel-default-heading-bg;
  @extend %margin-vertical-4;
  text-align: center;

  span {
    position: absolute;
    @extend %pad-all-2;
    margin-top:-17px;
    background-color: $panel-bg;
    color: $gray;
  }
}

.pricing-options {
  // .pricing-options-selectable
  &-selectable {
    label {
      width: 100%;
      border: $unit-px solid transparent;
      border-width: $unit-px * 2;
      position: relative;
      padding-left: 0;
      border-image: url("~/assets/images/border-img-default.png") 10;

      input[type="radio"] {
        top:0;
        left:0;
        margin-left: $unit-px * 3;
        margin-top: $unit-px * 2;
      }

      &.isChecked {
        border-width: $unit-px * 2;
        border-image: url("~/assets/images/border-img-solid-bid.png") 10;
      }
    }

    .pricing-bid-divider {
      background-color: transparent;

      span {
        background-color: transparent;
        color: $white;
      }
    }
  }

  // .pricing-options-editable
  // &-editable   {
  //   .component-quantity {
  //     max-width: 110px;
  //   }
  // }

  // .pricing-options-ask
  &-ask {
    a,
    .btn-link {
      color: $ask-highlight;
    }

    label {
      //border-bottom-color: $ask-lighter;

      &:hover {
        border-image: url("~/assets/images/border-img-ask.png") 10;
      }

      &:hover.isChecked {
        border-image: url("~/assets/images/border-img-solid-ask.png") 10;
      }
    }

    .radio {
      input:checked + span::after {
        background-color: $ask-highlight;
      }
    }
  }

  // .pricing-options-bid
  &-bid {
    a,
    .btn-link {
      color: $bid-lightest;
    }

    label {
      &:hover {
        border-image: url("~/assets/images/border-img-bid.png") 10;
      }

      &:hover.isChecked {
        border-image: url("~/assets/images/border-img-solid-bid.png") 10;
      }
    }

    .radio {
      input:checked + span::after {
        background-color: $bid-highlight;
      }
    }
  }

  // The styled radio buttons
  .radio {
    @extend %styled-checkbox-radio;
    padding: 0;

    input + span {
      border-radius: 4px;
      width: $unit-px * 5;
      height: $unit-px * 5;
      background-color: $black;
      border: 2px solid $table-border-color;

      &::after {
        border-radius: 4px;
        margin: 4px;
        width: 13px;
        height: 13px;
      }
    }
  }

}

.pricing-options {
  // any table within the .pricing-options wrapper
  .table {
    th {
      border-bottom-width: 0;
    }

    td {
      border-top-width: 0;
    }

    th,
    td {
      .btn-link {
        @extend %pad-all-0;

        [class^="icon-"], [class*=" icon-"] {
          font-size: $font-size-base * 1.15;
        }
      }
    }
  }

  .pricing-basis {
    tbody {
      td {

      }
    }
  }

  // .pricing-options-selectable
  &-selectable {
    table {
      border-bottom: 2px solid $table-border-color;
      @extend %margin-bottom-0;
    }

    tbody {
      &:nth-of-type(odd),
      &:nth-of-type(even),
      &:hover {
        background-color: transparent;
      }
    }

    th {
      vertical-align: middle!important;

      &:first-child {
        @extend %pad-all-1;
      }
    }

    td {
      @extend %text-left;
    }

    .table-ask {
      border-bottom-color: $pricing-table-ask-bg;

      th {
        background-color: $pricing-table-ask-bg;
      }
    }

    .table-bid {
      border-bottom-color: $pricing-table-bid-bg;

      th {
        background-color: $pricing-table-bid-bg;
      }
    }

    // hide the default styled radio
    .radio {
      label {
        &:before,
        &:after {
          opacity: 0;
        }
      }
    }
  }

  // .pricing-options-editable
  &-editable   {
    .table {
      th {
        @extend %font-normal;
        @extend %pad-horizontal-1;
      }

      td {
        @extend %pad-horizontal-1;
        vertical-align: middle;
      }

      &-ask {
        th {
          background-color: $pricing-table-ask-bg;
        }
      }

      &-bid {
        th {
          background-color: $pricing-table-bid-bg;
        }
      }
    }
  }

  // .pricing-options-static
  &-static {
    .table {
      th {
        border-bottom-width: 2px;
      }
    }
  }
}

// the form elements within table-pricing
.table-pricing,
.pricing-options-editable .table {
  .form-group {
    @extend %margin-all-0;
    position: relative;

    &-pricing {
      width: $unit-px * 10;
    }

    &-basis {
      width: $unit-px * 14;
    }

    &-quantity {

    }
  }

  .custom-select {
    select {
      @extend %pad-right-0;
    }

    &:before {
      right: $unit-px;
    }

    &:after {
      right: $unit-px;
    }
  }

  .btn-group-count {
    margin-right: 3px!important;
  }

  .btn-count {
    @extend %pad-horizontal-1;
    min-width: $unit-px;
  }

}
