/*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */

.tabs {
  &-left {
    @extend %tab-basic-settings;

    > li {
      > a {
        border-radius: 0;
        margin-right: 0;
        display:block;
      }
    }
  }

  &-right {
    @extend %tab-basic-settings;
    border-left: $unit-px solid $table-border-color;

    > li {
      margin-left: -1px;

      > a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          border-bottom-color: lighten($table-border-color, 10%);
          border-left-color: transparent;
        }
      }
    }
  }
}
