// footer
footer {
  @extend %override-responsiveness;
  border-top: 1px solid $white;
  color: $white;
  bottom: 0;
  width: 100%;
  text-align: left;
  @extend %pad-bottom-2;

  p {
    color: $gray-lighter;
  }

  .footer-menu {
    @extend %margin-top-4;

    li {
      display: inline-block;
      @extend %margin-right-8;
    }
  }
}
