// add extras for the modal
@import "./src/assets/sass/components/_component.multi-select";

.modal {

  &-body {
    @extend %pad-horizontal-1;
  }

  &-title {
    @extend %text-upper;
    font-size: $font-size-h4 * 0.8;
  }

  &-header {
    background-color: $gray;
    border-bottom-width: 0;
    padding-bottom: 8px;
    padding-left: 2px;

    .close {
      text-shadow: none;
      font-size: $font-size-base;
      opacity: 1;
    }
  }

  &-footer {
    .btn {
      @extend %pad-horizontal-2;
      @extend %pad-vertical-2;
      padding-bottom: 8px!important;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: $brand-success;
        border-color: $gray;
      }

      &-secondary {
        background-color: $btn-default-bg;
        border-color: $btn-default-border;
        color: $btn-default-color;

        &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: $gray;
          border-color: $gray;
        }

      }
    }
  }

  // the modified order layer that masks modal-content
  &-content-overlay {
     position: absolute;
     top:0;
     right:0;
     bottom:0;
     left:0;
     background-color: rgba(40, 40, 40, 0.75);

     height: 100%;
     width: 100%;
     z-index: 1045;

     &-header {
       @extend .modal-header;
       background-color: $brand-danger!important;
     }
  }

  // for the select section modals
  .modal-body-settings {
    @extend %pad-all-3;

    .dropdown {
      .dropdown-menu {
        li {
          a {
            @extend %pad-horizontal-2;
          }

          span {
            &:last-child {
              @extend %pad-left-1;
            }
          }

          &.check-control {
            span {
              @extend %pad-left-0;
              @extend %pad-right-1;
            }
          }
        }
      }
    }
  }
}

// the order form modal layout
.order-form {
  display: flex;
  flex-direction: row;

  // the left side / right side .order-form-child
  &-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    width: 50%;
    padding-left: 15px;

    // the left side only .order-form-child:first-child
    &:first-child {
      padding-left: 0;
      padding-right: 15px;
      border-right: 1px solid $table-border-color;
    }

    .control-label {
      padding-right: 0;
    }

    .col-xs-2 {
      width: 10%;
    }

    .col-xs-10 {
      width: 90%;
    }
  }

  .pricing-options-editable {
    .form-group {
      &-percentage {
      }

      &-basis {
      }

      &-pricing-period {

      }

      &-quantity {
        width: $unit-px * 22;
      }
    }
  }
}
