header {
  @extend %fixed-width-1350;
  
  .am-link {
    padding: 18px 15px;
    border-right: 1px solid $gray-lighter;
  }
}

.logo-wrapper {
  width: $unit-px * 21;
  height: $navbar-height - 10px;
  display: block;
  background:url("~/assets/images/logo-sprite.svg") no-repeat 0 -37px;
}

#header-login {
  .am-link {
    border-right: 0;
  }
}

.navbar {
  &-inverse {
    border-bottom-width: 0;
  }

  &-nav {
    @extend %pad-top-1;

    .dropdown-toggle {
      font-size: $font-size-base * 2.25;
      @extend %pad-horizontal-1;
      padding-top: 13px;
      padding-bottom: 0;
    }
  }

  &-header {
    &.navbar-right {
      margin-right: 0!important;
      height: $navbar-height + 10px;
      border-left: 1px solid $gray;
      @extend %pad-all-2;
      @extend %pad-bottom-3;
    }
  }

  &-brand {
    @extend %pad-top-4;
  }
}

.user-details {
  border-right: 1px solid $gray;
  height: $navbar-height + 10px;
  @extend %pad-top-3;


  ul {
    @extend %pad-horizontal-3;

    li {
      @extend %text-center;
    }
  }
}

// three columns in the dropdown
.dropdown-menu {
  z-index: 1030;
  li {
    a {
      color: $text-color;
    }
  }
}

.multi-column {
  &-3 {
    min-width: 600px;
    left: inherit;
    right: -37px;
      @extend %text-upper;
  }

  &-dropdown {
    list-style: none;
    @extend %margin-left-0;
    @extend %pad-horizontal-2;
    @extend %pad-vertical-0;
  }

  li {
    border-bottom: 1px solid $aom-gray;

    &:last-child {
      border-bottom: 0;
    }

    a {
      @extend %pad-horizontal-0;
      padding-top: 9px;
      padding-bottom: 7px;
      display: block;
    }
  }

  .dropdown-title {
    color: $aom-gray;
  }

  .btn-link {
    width: 100%;
    @extend %text-left;
  }
}
