// CSS styling for the select
// http://cssdeck.com/labs/styling-select-box-with-css3
.custom-select {
  position: relative;

  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
      padding-right:18px;
    }
  }

  &:before {
    content:'';
    right: 18px;
    top: 3px;
    width: $unit-px * 4;
    height: 22px;
    background: $input-bg;
    position: absolute;
    pointer-events: none;
    display: block;
  }

  &:after {
    font-family: "Consolas", monospace;
    content: '>';
    font-size: $font-size-base * 2;
    transform: rotate(90deg);
    right: $unit-px * 4;
    top: -4px;
    padding: 0;
    position: absolute;
    pointer-events: none;
  }

}
