/*
  see here: https://valor-software.com/ngx-bootstrap/#/datepicker
  The css isn't part of ngx-bootstrap, so this has been copied from an external css file.
  If the component is updated then this css may well be out of date!!
  TODO: make it SASS, not CSS!
*/

/* .bs-datepicker */
.bs-datepicker {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background: $white;
  box-shadow: $shadow;
  position: relative;
  z-index: 1050;
  /* button */
  /* .bs-datepicker-head */
  /* .bs-datepicker-body */
  /* .current-timedate */
  /* .bs-datepicker-multiple */
  /* .bs-datepicker-btns */
  /*.bs-datepicker-custom-range */
  /* .bs-datepicker-predefined-btns */
  /* .is-other-month */
  /* .bs-datepicker-buttons */

  &:after {
    clear: both;
    content: '';
    display: block;
  }


  // .bs-datepicker-head
  &-head {
    min-width: 270px;
    height: $unit-px * 8;
    @extend %pad-all-1;
    //border-radius: 3px 3px 0 0;
    @extend %text-justify;

    button {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      height: 30px;
      line-height: 30px;
      border: 0;
      background: transparent;
      text-align: center;
      cursor: pointer;
      color: $gray;
      transition: 0.3s;

      &[disabled],
      &[disabled]:hover,
      &[disabled]:active {
        background: rgba(221, 221, 221, 0.3);
        color: $gray-lightest;
        cursor: not-allowed;
      }

      &.next,
      &.previous {
        width: 30px;
        height: 30px;

        span {
          font-size: $font-size-base * 2.33;
          line-height: 1;
          display: inline-block;
          position: relative;
          height: 100%;
          width: 100%;
        }
      }

      // button.current
      &.current {
        max-width: 155px;
        padding: 0 13px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }

    }

    &:after {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }
  }

  // .bs-datepicker-body
  &-body {
    @extend %pad-all-2;
    min-height: 232px;
    min-width: 278px;
    border: 5px solid $gray-light;
    border-top-width: 0;

    .days.weeks {
      position: relative;
      z-index: 1;
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;

      th {
        font-size: 13px;
        color: #9aaec1;
        font-weight: 400;
        text-align: center;
      }

      td {
        color: #54708b;
        text-align: center;
        position: relative;
        padding: 0;

        span {
          display: block;
          margin: 0 auto;
          font-size: 13px;
          position: relative;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;

          &.is-highlighted {
            &:not(.disabled):not(.selected) {
              background-color: $gray-light;
              transition: 0s;
            }
          }

          &.disabled {
            color: #9aaec1;
          }

          &.selected {
            color: $white;
          }

          &.active {

          }
        }

        &:not(.disabled) {
          span {
            cursor: pointer;
          }
        }

        &.is-highlighted {
          &:not(.disabled):not(.selected) {
            span {
              background-color: $gray-light;
              transition: 0s;
            }
          }
        }

        // td.desiabled
        &.disabled {
          span {
            color: #9aaec1;
          }
        }
        // td.selected
        &.selected {
          span {
            color: $white;
          }
        }

        // td.active
        &.active {
          position: relative;

          &.select {
            &-start {
              &:before {
                left: 35%;
              }
            }

            &-end {
              &:before {
                left: -85%;
              }
            }
          }
        }
      }

      td span.active.select-start:after,
      td span.active.select-end:after,
      td.active.select-start span:after,
      td.active.select-end span:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        top: 0;
        // border-radius: 50%;
      }

      td:before,
      td span:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 6px;
        bottom: 6px;
        left: -2px;
        right: -2px;
        box-sizing: content-box;
        background: transparent;
      }

      // .bs-datepicker-body table.days
      &.days {
        span {
          width: 32px;
          height: 32px;
          line-height: 32px;

          &.select-start {
            z-index: 2;
          }

          &.is-highlighted.inrange:before,
          &.in-range.select-end:before {
            background: none;
            right: 0;
            left: 0;
          }
        }

        td.active:not(.select-start):before,
        td.in-range:not(.select-start):before,
        span.active:not(.select-start):before,
        span.in-range:not(.select-start):before {
          background: $gray-light;
        }

        td.select-start + td.select-end:before,
        td.select-start + td.is-highlighted:before,
        td.active + td.is-highlighted:before,
        td.active + td.select-end:before,
        td.in-range + td.is-highlighted:before,
        td.in-range + td.select-end:before {
          background: $gray-light;
          width: 100%;
        }

      }

      // .bs-datepicker-body table.weeks
      &.weeks {
        tr {
          td {
            &:nth-child(2) {
              &.active:before {
                left: 0;
                width: 100%;
              }
            }
          }
        }
      }

      // .bs-datepicker-body table.months
      &.months {
        td {
          height: 52px;

          span {
            padding: 6px;
          }
        }
      }


      // .bs-datepicker-body table.years
      &.years {
        td {
          span {
            width: 46px;
            height: 46px;
            line-height: 45px;
            margin: 0 auto;
          }
        }
      }

      tr {
        &:not(:last-child) {
          td {
            span {
              margin-bottom: 8px;
            }
          }
        }
      }

    }
  }

  .current-timedate {
    color: #54708b;
    font-size: 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid $gray-light;
    margin-bottom: 10px;
    cursor: pointer;
    @extend %text-upper;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .is-other-month {
    //color: rgba(0, 0, 0, 0.25);
    display: none;
  }
}



.bs-datepicker bs-day-picker {
    float: left;
}

.bs-datepicker button:hover,
.bs-datepicker button:focus,
.bs-datepicker button:active,
.bs-datepicker input:hover,
.bs-datepicker input:focus,
.bs-datepicker input:active,
.bs-datepicker-btns button:hover,
.bs-datepicker-btns button:focus,
.bs-datepicker-btns button:active,
.bs-datepicker-predefined-btns button:active,
.bs-datepicker-predefined-btns button:focus {
  outline: none;
}

.bs-datepicker-body table td.active.select-start + td.active:before {
  left: -20%;
}

.bs-datepicker-body table td:last-child.active:before {
  // border-radius: 0 3px 3px 0;
  width: 125%;
  left: -25%;
}

.bs-datepicker-body table td span[class*="select-"],
.bs-datepicker-body table td[class*="select-"] span {
  // border-radius: 50%;
  color: $white;
}

.bs-datepicker .current-timedate span:not(:empty):before {
  content: "";
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: text-bottom;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABMklEQVQoU9VTwW3CQBCcOUgBtEBKSAukAnBKME+wFCAlYIhk8sQlxFABtJAScAsuAPBEewYcxCP8ouxrPDsza61uiVN1o6RNHD4htSCmq49RfO71BvMJqBBkITRf1kmUW49nQRC9h1I5AZlBClaL8aP1fKgOOxCx8aSLs+Q19eZuNO8QmPqJRtDFguy7OAcDbJPs+/BKVPDIPrvD2ZJgWAmVe7O0rI0Vqs1seyWUXpuJoppYCa5L+U++NpNPkr5OE2oMdARsb3gykJT5ydZcL8Z9Ww60nxg2LhjON9li9OwXZzo+xLbp3nC2s9CL2RrueGyVrgwNm8HpsCzZ9EEW6kqXlo1GQe03FzP/7W8Hl0dBtu7Bf7zt6mIwvX1RvzDCm7+q3mAW0Dl/GPdUCeXrZLT9BrDrGkm4qlPvAAAAAElFTkSuQmCC);
}

  .bs-datepicker-multiple {
    display: inline-block;
    border-radius: 4px 0 0 4px;
  }

    .bs-datepicker-multiple + .bs-datepicker-multiple {
      margin-left: 10px; }

    .bs-datepicker-multiple .bs-datepicker {
      box-shadow: none;
      position: relative; }

      .bs-datepicker-multiple .bs-datepicker:not(:last-child) {
        padding-right: 10px; }

      .bs-datepicker-multiple .bs-datepicker + .bs-datepicker:after {
        content: "";
        display: block;
        width: 14px;
        height: 10px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA1ElEQVQoU42RsQrCUAxF77VuDu7O4oMWW//BURBBpZvgKk4uIrjoqKOTf+DopIO4uYggtFTfw3+pkQqCW1/G5J7kJiFy4m5MxUlxAzgIPHX+lzMPzupRYlYgxiR7vqsOP8YKzsTx0yxFMCUZ+q7aZzlr+OvgoWcAFyAHgat2jLWu48252DdqAihDJGSSJNUUxYmQjs3+hPQBlAh2rG2LCOPnaw3IiGDX99TRCs7ASJsNhUOA7d/LcuHvRG22FIZvsNXw1MX6VZExCilOQKEfeLXr/10+aC9Ho7arh7oAAAAASUVORK5CYII=);
        position: absolute;
        top: 25px;
        left: -8px; }

      .bs-datepicker-multiple .bs-datepicker .left {
        float: left; }


      .bs-datepicker-multiple .bs-datepicker .right {
        float: right; }

  .bs-datepicker-container {
    padding: 0px; }

  .bs-datepicker-custom-range {
    padding: 15px;
    background: #eee; }

  .bs-datepicker-predefined-btns button {
    width: 100%;
    display: block;
    height: 30px;
    background-color: #9aaec1;
    // border-radius: 4px;
    color: $white;
    border: 0;
    margin-bottom: 10px;
    padding: 0 18px;
    text-align: left;
    transition: 0.3s; }

    .bs-datepicker-predefined-btns button:active, .bs-datepicker-predefined-btns button:hover {
      background-color: #54708b; }


  .bs-datepicker-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid $gray-light; }

    .bs-datepicker-buttons .btn-default {
      margin-left: 10px; }


/* screen size < 1024px */
@media (max-width: 768px) {
  bs-datepicker-container,
  bs-daterangepicker-container {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
  }

  .bs-datepicker-multiple {
    display: flex;
  }

  .bs-datepicker-multiple + .bs-datepicker-multiple {
    margin-top: 10px;
    margin-left: 0;
  }
}


/* theming */
.theme-default .bs-datepicker-head {
  background-color: #777; }


.theme-default .bs-datepicker-body table td span.selected,
.theme-default .bs-datepicker-body table td.selected span,
.theme-default .bs-datepicker-body table td span[class*="select-"]:after,
.theme-default .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #777; }


.theme-default .bs-datepicker-body table td.week span {
  color: #777; }


.theme-green .bs-datepicker-head {
  background-color: #5cb85c; }


.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #5cb85c; }


.theme-green .bs-datepicker-body table td.week span {
  color: #5cb85c; }


.theme-blue .bs-datepicker-head {
  background-color: $gray-light; }


.theme-blue .bs-datepicker-body table td span.selected,
.theme-blue .bs-datepicker-body table td.selected span,
.theme-blue .bs-datepicker-body table td span[class*="select-"]:after,
.theme-blue .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: $aom-blue; }


.theme-blue .bs-datepicker-body table td.week span {
  color: $aom-blue; }


.theme-dark-blue .bs-datepicker-head {
  background-color: #337ab7; }


.theme-dark-blue .bs-datepicker-body table td span.selected,
.theme-dark-blue .bs-datepicker-body table td.selected span,
.theme-dark-blue .bs-datepicker-body table td span[class*="select-"]:after,
.theme-dark-blue .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #337ab7; }


.theme-dark-blue .bs-datepicker-body table td.week span {
  color: #337ab7; }


.theme-red .bs-datepicker-head {
  background-color: #d9534f; }


.theme-red .bs-datepicker-body table td span.selected,
.theme-red .bs-datepicker-body table td.selected span,
.theme-red .bs-datepicker-body table td span[class*="select-"]:after,
.theme-red .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #d9534f; }


.theme-red .bs-datepicker-body table td.week span {
  color: #d9534f; }


.theme-orange .bs-datepicker-head {
  background-color: #f0ad4e; }


.theme-orange .bs-datepicker-body table td span.selected,
.theme-orange .bs-datepicker-body table td.selected span,
.theme-orange .bs-datepicker-body table td span[class*="select-"]:after,
.theme-orange .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #f0ad4e; }


.theme-orange .bs-datepicker-body table td.week span {
  color: #f0ad4e; }


/* .bs-timepicker */
.bs-timepicker {
  &-container {
    @extend %pad-vertical-2;
    @extend %pad-horizontal-0;
  }

  &-label {
    color: #54708b;
    @extend %margin-bottom-2;
  }

  &-controls {
    display: inline-block;
    vertical-align: top;
    @extend %margin-top-2;

    button {
      width: 20px;
      height: 20px;
      // border-radius: 50%;
      border: 0;
      background-color: $gray-light;
      color: #54708b;
      font-size: 16px;
      font-weight: 700;
      vertical-align: middle;
      line-height: 0;
      padding: 0;
      transition: 0.3s;

      &:hover {
        background-color: #d5dadd;
      }

      input {
        width: 35px;
        height: 25px;
        // border-radius: 13px;
        text-align: center;
        border: 1px solid $gray-light;
      }
    }
  }

  .switch-time-format {
    @extend %text-upper;
    min-width: 54px;
    height: 25px;
    // border-radius: 20px;
    border: 1px solid $gray-light;
    background: $white;
    color: #54708b;
    font-size: 13px;

    img {
      vertical-align: initial;
      margin-left: 4px;
    }
  }
}

// date-range-item
.date-range {
  &-item {
    position: relative;
    width: 20%;
    float: left;
    padding-left: $unit-px * 3;
    padding-right: 0;

    .form-control-feedback {
      right: 0!important;
      top: 8px;
      font-size: $font-size-base * 1.15;
    }

    &:last-child {
      float: right;
      padding-right: $unit-px * 3;
    }
  }

  .days-selected {
    @extend %text-upper;
    font-size: $font-size-base * 0.75;
    @extend %pad-top-2;
    @extend %text-right;
    color: $days-selected-bid; // default color
  }
}

//
[class*="-ask"],
[class^="-ask"] {
  .days-selected {
    color: $days-selected-ask;
  }
}
[class*="-bid"],
[class^="-bid"] {
  .days-selected {
    color: $days-selected-bid;
  }
}

.modal-lg {
  .date-range {
    &-item {
      width: 25%!important;
    }
  }
}
