// styling the multi-select button
.btn-multi-select {
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  border-width: 2px;
  @extend %pad-vertical-1;
  background-color: $input-bg;
  overflow: hidden;

  &:hover,
  &:focus,
  &:active,
  &.active {
    border-color: $multi-select-highlight;
    outline: 0;
    box-shadow: (inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px (rgba(red($multi-select-highlight), green($multi-select-highlight), blue($multi-select-highlight), .6)));
    background-color: $input-bg;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    .caret {
      color: $multi-select-highlight;
    }
  }
}

// styling the multi-select dropdown list



// styling .selectize
.selectize {
  &-input {
    border: 2px solid $gray;
    background-color: $input-bg;
    border-radius: 0;
    min-height: 28px;
    @extend %pad-horizontal-2;
    @extend %pad-vertical-0;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus {
      border-color: $multi-select-highlight;
      outline: 0;
      box-shadow: (inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px (rgba(red($multi-select-highlight), green($multi-select-highlight), blue($multi-select-highlight), .6)));
      background-color: $input-bg;
    }

    > input {
      margin-top: 2px!important;
      color: $text-color!important;

    }
  }

  &-control {
    &.multi {
      .selectize-input {
        > div {
          border-radius: 0;
          margin: 1px 4px 0 0;
          padding: 0 $unit-px;
          background-color: $input-bg;
          color: $text-color;
        }
      }
    }
  }
}

.selectize-control.multi {
  .selectize-input {
    > div {

    }
  }
}



// styling the fake selct input (mulit-select)
.modal-body-settings {

  .dropdown {
    display: block!important;
  }

  .selectize-input {

  }

  .selectize-dropdown {
    border: 2px solid $gray;
    background-color: $input-bg;
    color: $text-color;
    border-radius: 0;
    margin-top: 27px;

    &-content {
      padding: 0;
    }
  }
}
