.popover {
  border-radius: 0;
  border-width: $popover-border-width;
  @extend %pad-all-0;
  width: $unit-1x * 1.4;
  font-size: $font-size-base * 0.9;

  &-title {
    border-radius: 0;
    border-bottom-width: 0;
    background-color: transparent;
    border-bottom-width: 0;
    @extend %text-upper;

  }

  &-content {
    @extend %pad-horizontal-1;
    @extend %margin-top-7;
  }

  // content Bid styling
  &-bid {
    hr {
      border-top-color: $bid-highlight;
      @extend %margin-vertical-2;
    }
  }

  // content Ask styling
  &-ask {
    hr {
      border-top-color: $ask-highlight;
    }
  }

  .pricing-bid-divider {
    @extend %margin-vertical-2;

    span {
      @extend %pad-all-1;
      @extend %pad-bottom-0;
      margin-top: -12px;
    }
  }
}

// table styling within a popover
.popover {
  .table {
    @extend %margin-bottom-2;

    th {
      border-bottom-width: 0;
      border-top-width: 0;
      @extend %pad-vertical-0;
      color: $gray-light;
    }

    td {
      border-top-width: 0;
      @extend %pad-vertical-0;
    }

    // .table-ask
    &-ask {

    }

    // .table-bid
    &-bid {

    }

    &-notes {
      th {
        min-width: $unit-px * 18;
      }
    }
  }
}
