// import the variables etc!
@import "./src/assets/sass/partials/partials";

.bg-am-blue {background-color: $aom-blue;}
.bg-am-ask {background-color: $ask;}
.bg-am-ask-dark {background-color: $ask-dark;}
.bg-am-ask-light {background-color: $ask-light;}
.bg-am-ask-lightest {background-color: $ask-lightest;}
.bg-am-bid {background-color: $bid;}
.bg-am-bid-dark {background-color: $bid-dark;}
.bg-am-bid-light {background-color: $bid-light;}
.bg-am-bid-highlight {background-color: $bid-lightest;}
.bg-am-green {background-color: $aom-green;}
.bg-aom-turquoise {background-color: $aom-turquoise;}
.bg-aom-orange {background-color: $aom-orange;}

.bg-brand-info {background-color: $brand-info;}
.bg-brand-success {background-color: $brand-success;}
.bg-brand-warning {background-color: $brand-warning;}
.bg-brand-danger {background-color: $brand-danger;}

.panel {
  // Example stuff for playground
  &-example {
    @extend %margin-vertical-8;
    @extend %margin-horizontal-0;

    .panel-body {
      @extend %pad-all-4;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;
      display: flex;

    }

    [class*="col-"],
    [class^="col-"] {
      @extend %pad-horizontal-1;
    }

    [class*="icon-"],
    [class^="icon-"] {
      font-size: $font-size-base * 2;
    }

    .table {
      [class*="icon-"],
      [class^="icon-"] {
        font-size: $font-size-base * 1;
      }
    }
  }
}



.example-item {
  border: 1px solid $gray;
  padding: $unit-px * 3;
  @extend %margin-bottom-3;
  @extend %text-center;
}

.example-text {
  .example-item {
    background-color: $white;
  }
}

.popover-title {
  background-color: red;
}
