<form [formGroup]="parentForm" class="form-group form-group-quantity">
  <label for="quantity" class="col-xs-3 control-label">Quantity ({{ quantityConfig.volumeUnitCode }})</label>
  <div class="col-xs-9">
    <div class="btn-group btn-group-count" role="group">
      <button type="button" class="btn btn-count btn-count-minus" (click)="decrement()">
        <div class="icon-minus"></div>
      </button>
      <button type="button" class="btn btn-count btn-count-plus" (click)="increment()">
        <div class="icon-plus"></div>
      </button>
    </div>
    <input class="form-control" id="quantity" formControlName="quantity">
    <!-- The amounts as a group of buttons -->
    <div class="btn-group-justified btn-group-quantity" role="group">
      <div class="btn-group" role="group" *ngFor="let option of sortedQuantityOptions">
        <button type="button" class="btn btn-quantity" (click)="setQuantityOption(option.value)" [class.selected]="option.value === quantitySelected.value">{{option.value}}</button>
      </div>
    </div>
  </div>
</form>