<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Argus</strong> Open Markets</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-header navbar-right">
            <!-- <a id="argus-logo" href="https://www.argusmedia.com" target="_blank"></a> -->
            <div class="logo-wrapper">
              <a id="argus-logo" href="https://www.argusmedia.com" target="_blank"></a>
            </div>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li dropdown [autoClose]="true" container="body">
          <a href dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown"><div class="icon-burger"></div></a>

          <ul *dropdownMenu class="dropdown-menu multi-column multi-column-3" role="menu">
            <div class="row">
              <div class="col-xs-4">
                <ul class="multi-column-dropdown">
                  <li class="dropdown-title">Panels</li>
                  <li role="menuitem"><a id="dashboard-link" [routerLink]=" ['/'] ">Dashboard<span class="pull-right icon-tick"></span></a></li>
                  <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
                    <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Dropdown demo</a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action1</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action2</a></li>
                    </ul>
                  </li>
                  <li role="menuitem"><a id="settings-link" [routerLink]=" ['/settings'] ">Settings<span class="pull-right icon-tick"></span></a></li>
                </ul>
              </div>
              <div class="col-xs-4">
                <ul class="multi-column-dropdown">
                  <li class="dropdown-title">General</li>
                  <li><a href="#">Terms &amp; Principles<span class="pull-right icon-file"></span></a></li>
                  <li><button id="help-button" class="btn btn-link" (click)="downloadHelpFile()">Help<span class="pull-right icon-question-circle"></span></button></li>
                  <li><a id="settings-link" [routerLink]=" ['/settings'] ">Settings<span class="pull-right icon-cog"></span></a></li>
                </ul>
              </div>
              <div class="col-xs-4">
                <ul class="multi-column-dropdown">
                  <li class="dropdown-title">Account</li>
                  <li role="menuitem"><a id="playground-link" [routerLink]=" ['/playground'] ">Playground<span class="pull-right icon-tick"></span></a></li>
                  <li><a href="#">{{ welcomeName }}<span class="pull-right icon-user"></span></a></li>
                  <li role="menuitem"><button id="logout-button" class="btn btn-link" (click)="logout()">Logout<span class="pull-right icon-logout"></span></button></li>
                </ul>
              </div>
            </div>
          </ul>
        </li>
      </ul>
      <!-- <div class="am-link pull-right">
        <a id="argus-link" href="https://www.argusmedia.com" target="_blank">Argusmedia.com</a>
      </div> -->
      <div class="pull-right user-details">
        <ul class="list-unstyled">
          <li>{{ welcomeName }}</li>
          <li>{{ organisationName }}</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div id="shell-wrapper">
  <section id="shell-main" class="container">
    <router-outlet></router-outlet>
  </section>
</div>
