// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import the header styling
@import "./src/assets/sass/components/_component.header";
@import "./src/assets/sass/components/_component.toastr";

// fixing the width to 1350pixels
#shell-wrapper {
  @extend %margin-bottom-6;
  @extend %fixed-width-1350;
  @extend %override-responsiveness;
  margin: auto;

  .container:first-child {
    @extend %fixed-width-1350;
  }
}


#shell-wrapper {
  @extend %margin-bottom-6;
}


#shell-main {
  @extend %margin-top-18;
}
