<!DOCTYPE html>
<html ng-app="argusOpenMarkets" ng-controller="applicationController">
  <head>
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body class="background col-lg-12">
    <div class="col-md-12">
            Argus Open Markets
    </div>
    <div class="row">
       <div class="col-md-12" ui-view></div>
    </div>
  </body>
  <footer class="footer">
  </footer>
</html>