﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p><strong>Argus Open Markets</strong> is a web-based electronic platform enabling registered market participants to post bids, offers and initiate commodity deals in real time on the spot market. The platform provides a transparent market place and market and price information for the spot value of the traded commodity. Market participants are able to participate in real time, see how price assessments evolve and keep up to date with market developments.</p>
