﻿@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Argus Media Ltd<br />
    Argus House, 175 St John Street, London<br/>
    EC1V 4LW<br />
</address>

<address>
    <strong>Support: </strong><a href="mailto:aomdevteam@argusmedia.com">aomdevteam@argusmedia.com</a><br />
</address>