<!-- <div *ngIf="isBid && templateType == 'header'; then header else Ask">

</div> -->
<table style="width: 100%">
    <ng-container *ngIf="isBid && showHeader">
        <ng-container *ngTemplateOutlet="header"></ng-container>
    </ng-container>

    <ng-container *ngIf="isBid">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-container>
</table>

<ng-template #header>
    <tr>
        <th>%</th>
        <th colspan="3" class="end">{{priceLineBasis?.description}}</th>
    </tr>
</ng-template>

<ng-template #content>
    <tr>
        <td>{{priceLineBasis ? priceLineBasis.percentageSplit : "&nbsp;"}}</td>
        <td>{{priceLineBasis ? "Feb": ""}}</td>
        <td>{{currentPriceBasis}}</td>
        <td class="price end">{{priceLineBasis?.priceLineBasisValue}}</td>
    </tr>
</ng-template>


<!-- <ng-template #Ask>
    <table id="t00" class="col-xs-4">
        <thead>
            <tr>
                <th>%</th>
                <th colspan="3" class="end">Pricing basis 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="price">+30.00</td>
                <td>AFEI</td>
                <td>FEB</td>
                <td class="end">100%</td>
            </tr>
            <!-- <tr>
                <td class="price">+32.00</td>
                <td>AFEI</td>
                <td>MAR</td>
                <td class="end">100%</td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td class="end">+8.00</td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td class="end"> </td>
            </tr>
        </tbody>
    </table>
</ng-template> -->