<div [class.col-md-4]="componentSize === 'small'" [class.col-md-6]="componentSize === 'medium'" [class.col-md-12]="componentSize === 'large'">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{bidAskProduct.productName}}</h3>
        </div>
        <div class="panel-body" [class.standard-fixed-panel]="componentHeight === 'standard'" [class.large-fixed-panel]="componentHeight === 'large'">
            <div class="row no-gutter">
                <div class="col-md-6">
                    <table class="table table-striped table-striped-blue table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Bro</th>
                                <th>Pri</th>
                                <th>Qty</th>
                                <th><button type="button" class="btn btn-primary btn-xs btn-bidstack" (click)="addBid()">+ Bid</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bid of bidAskProduct.bids; let i = index">
                                <td>{{bid.date}}</td>
                                <td>{{bid.broker}}</td>
                                <td>{{bid.price}}</td>
                                <td>{{bid.quantity}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped table-striped-red table-hover">
                        <thead>
                            <tr>
                                <th><button type="button" class="btn btn-danger btn-xs btn-askstack" (click)="addAsk()">+ Ask</button></th>
                                <th>Qty</th>
                                <th>Pri</th>
                                <th>Bro</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ask of bidAskProduct.asks; let i = index">
                                <td></td>
                                <td>{{ask.quantity}}</td>
                                <td>{{ask.price}}</td>
                                <td>{{ask.broker}}</td>
                                <td>{{ask.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div style="float:left">
                <button (click)="resizeSmall()">Small</button>
                <button (click)="resizeMedium()">Medium</button>
                <button (click)="resizeLarge()">Large</button>
            </div>
            <div style="float:right">
                <button (click)="resizeShrink()">Shrink</button>
                <button (click)="resizeExpand()">Expand</button>
            </div>
        </div>
    </div>
</div>