.standard-fixed-panel{
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.large-fixed-panel{
  min-height: 510px;
  max-height: 510px;
  overflow-y: auto;
}

.panel-body {
  background-color: #fff;
}

.panel-footer {
  height: 50px;
}