<div class="container-fluid" >
  <!-- <div [dragula]='"first-bag"' [dragulaModel]='bidaskProducts'> -->
  <bidask-product *ngFor="let product of bidaskProducts" [bidAskProduct]="product"></bidask-product>
  <!-- </div> -->
</div>