﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="AOM.Web.App.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>AOM Web App</title>
</head>
<body>
    <div align="center">Build Version: v<%=VersionInfo%></div>
</body>
</html>
