﻿@model PerformanceTestGraph.ViewModel.DynamicGraphData

@{
    ViewBag.Title = "Test Performance Graph";
}

<div id="chart_div" style="width: 2000px; height: 1000px;">
    <h1>Single User Performance Graphs</h1>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@*<script type="text/javascript" src="~/Scripts/underscore.js"></script>*@
<script type="text/javascript">

    var result = @Html.Raw(Json.Encode(Model));

     google.load("visualization", "1.1", { packages: ["corechart"] });
    //google.charts.load('current', {'packages':['line']});

    google.setOnLoadCallback(drawChart);

    function drawChart() {

       // Create and populate the data table.
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'AssemblyVersion');
        for (var i = 0; i < result.DynamicColumnLabels.length; i++) {
            data.addColumn('number', result.DynamicColumnLabels[i]);
        }

        for (var j = 0; j < result.ColumnValues.length; j++) {
            data.addRow([result.ColumnValues[j].AssemblyVersion, ...result.ColumnValues[j].Pages]);
        }
        var options = {
            title: 'Performance of Pages',
            //curveType: 'function',

            explorer: {
                actions: ['dragToZoom', 'rightClickToReset'],
              //  axis: 'horizontal'
                maxZoomIn : 0.01

            },
            hAxis: {
                title: 'Builds' , slantedText: true, slantedTextAngle: 270
            },

            pointSize: 5,

            vAxis: {
                title: 'Time taken in seconds',
            minValue: 0

            //},

            //animation: {
            //    duration: 1000,
            //    easing: 'in',
            //    startup: true
            }
            //interpolateNulls: true
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

       // var chart = new google.charts.Line(document.getElementById('chart_div'));

         //chart.draw(data, google.charts.Line.convertOptions(options));
         drawGoogleChart();

        function drawGoogleChart() {

            chart.draw(data, options);
        }

    }
</script>