<div class="modal-header">
  <h4 class="modal-title pull-left">Complex Pricing</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">
      <span class="icon-close"></span>
    </span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <form class="form-horizontal">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="col-xs-3 control-label" for="quantity">Quantity (t)</label>
          <div class="col-xs-9">
            <p class="form-control-static">500</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="deliveryPeriod">Delivery period</label>
          <div class="col-xs-6">
            <p class="form-control-static">
              <strong>23 Oct 2017</strong> TO
              <strong>07 Nov 2017</strong>
            </p>
          </div>
          <div class="col-xs-3">
            <div class="days-selected"><p class="form-control-static">15 days selected</p></div>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Buyer Principal</label>
          <div class="col-xs-9">
            <p class="form-control-static">Delta Trader (DKT)</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Buyer Broker</label>
          <div class="col-xs-9">
            <p class="form-control-static">Yankee Brokers (YKB)</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Seller Broker</label>
          <div class="col-xs-9">
            <p class="form-control-static">TODO: Fake select dropdown with search</p>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Meta Label 1</label>
          <div class="col-xs-9">
            <p class="form-control-static">Selected value 1</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Meta Label 2</label>
          <div class="col-xs-9">
            <p class="form-control-static">Selected value 2</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="">Meta Label 3</label>
          <div class="col-xs-9">
            <p class="form-control-static">Selected value 3</p>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label for="notes" class="col-xs-3 control-label">
            Notes
          </label>
          <div class="col-xs-9">
            <p class="form-control-static">
              Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which
              mankind is carrying out in accordance with the natural laws of human development.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="pricing-options pricing-options-selectable pricing-options-bid">
          <p class="text-prompt">Select a BID below and click 'EXECUTE' to proceed</p>
          <div class="radio">
            <label [ngClass]="{ 'isChecked':isRadioSelected(1) }">
              <table class="table table-bid">
                <thead>
                  <tr>
                    <th>
                      <input type="radio" name="bidvalue" value="1" class="" (click)="addLabelBorder($event.target.value)"
                      [hidden]='isRadioSelected(1)'>
                      <span></span>
                    </th>
                    <th>
                      <span class="text-highlight">Bid 1</span>
                    </th>
                    <th>%</th>
                    <th>Basis</th>
                    <th>Pricing Period</th>
                    <th>Price ($/t)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>Basis 1</td>
                    <td>50</td>
                    <td>Fixed</td>
                    <td>Jan</td>
                    <td>488.00</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Basis 2</td>
                    <td>50</td>
                    <td>CP</td>
                    <td>Feb</td>
                    <td>488.00</td>
                  </tr>
                </tbody>
              </table>
            </label>
          </div>
          <div class="pricing-bid-divider">
            <span>OR</span>
          </div>
          <div class="radio">
            <label [ngClass]='{ "isChecked":isRadioSelected(2) }'>
              <table class="table table-bid">
                <thead>
                  <tr>
                    <th>
                      <input type="radio" name="bidvalue" value="2" class="" (click)="addLabelBorder($event.target.value)"
                      [hidden]='isRadioSelected(2)'>
                      <span></span>
                    </th>
                    <th>
                      <span class="text-highlight">Bid 2</span>
                    </th>
                    <th>%</th>
                    <th>Basis</th>
                    <th>Pricing Period</th>
                    <th>Price ($/t)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>Basis 1</td>
                    <td>50</td>
                    <td>Fixed</td>
                    <td>Jan</td>
                    <td>488.00</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Basis 2</td>
                    <td>50</td>
                    <td>CP</td>
                    <td>Feb</td>
                    <td>488.00</td>
                  </tr>
                </tbody>
              </table>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default">Execute</button>
  <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
</div>
