/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0; font-family:verdana;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background:#000;
font-family:"TrebuchetMS", "Trebuchet MS";
background: url(login-background.jpg) no-repeat;
background-size:100% 100%;
overflow-y:hidden;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -140px;                                                              
float: left;
}

div#content {
width: 940px;
height: 280px;
margin: 0 auto;
clear: both;
position: relative;
top: -140px;
/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

td{
	height: 40px;
    vertical-align: middle;
}

.spacer{
	padding-left:20px;
}


h1 cufon{
margin-bottom: -4px;
}

h3{
font-size: 18px;
color: #E6DDDD;
float: left;
margin-right: 15px;
padding-top: 5px;
font-family:verdana;
}

.main_box{
float: left;
width: 500px;
height: 95px;
padding: 25px;
}

form{
width: 590px;
padding: 10px 0;
float: left;
background: url(../images/dots.gif) right top repeat-y;
height: 80px;
}

h2{
font-family: "TrebuchetMS", "Trebuchet MS";
color: white;
font-size: 24px;
margin-bottom: 20px;
}

.aom-heading{
	font-weight:bold;
	color:#006fa3;
}

.pull-right{
	float:right;
	padding-right:20px;
	padding-top:10px;
	color:white;
	font-size:10px;
	border:left:1px;
}

.nav
 {
 background-color:#262626;
 width:100%;
 height:40px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 top:0px;
}


h2 span{
color: #fff;
font-size: 16px;
line-height: 26px;
font-style: italic;
}

.contact{
	font-size: 14px;
}

.rcorners{
	font-family:'TrebuchetMS', 'Trebuchet MS';
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 450px;
	font-size:16px;
	vertical-align:middle;
}

a:link{
	color: #006fa3;
}

.stickyFooter {
  width: 1002px;
  border-top: 1px solid #ffffff;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 148px;
  height:auto;
}

a.footerCopyRightUrls {
  color: #ffffff;
}

ul.footerCopyRightList {
  overflow: hidden;
  font-weight: bold;
  font-size: 0.75em;
}

li.footerCopyRightLinks {
  display: inline;
  float: left;
  margin-right: 6px;
  margin-left: 30px;
}

SPAN.footerCopyRightGeneric {
  margin: 3px 0 16px;
}

p.footerCopyRightParagraphGeneric {
  margin-left: 30px;
  color: #d1d3d4;
  font-size: 0.7em;
}