<div class="pull-right settings-section">
    <div><h1>Broker Permissions</h1></div>
    <div class="internal-margins">

        <div class="confirmation-dialog settings-section-subcontainer" ng-show="showUpdateFailed">
            <div class="sessions-section-subcontainer">
                <div class="internal-margins">
                    <div align="center" class="success-message">The following permissions have not been updated
                        successfully.
                    </div>
                    <div align="center">
                        <div class="changed-permissions-container">
                            <div class="changed-permissions-counterparty"
                                 ng-repeat="failedUpdate in failedUpdates">
                                <div class="counterparty">{{failedUpdate.organisation}}</div>
                                <div class="products">
                                    <div class="broker-product">
                                        {{failedUpdate.product}} - {{failedUpdate.buyOrSell}} - {{failedUpdate.allowOrDeny}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        Please click the reload permissions button.
                    </div>
                    <div align="center">
                        <button id="btnReloadTab" type="submit" ng-click="updateFailedReloadTab()"
                                class="btn btn-sm btn-green">Reload
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONFIRMATION DIALOG -->

        <div class="confirmation-dialog settings-section-subcontainer" ng-show="updateRequested">
            <h2>Please confirm you want to make the following changes to your broker permissions:</h2>

            <div class="internal-margins">
                <div class="changed-permissions-container">
                    <div class="changed-permissions-counterparty"
                         ng-repeat="counterparty in counterparties" ng-hide="counterparty.filtered">
                        <div class="counterparty">{{counterparty.nameAndCode}}</div>
                        <div class="products">
                            <div ng-repeat="product in counterparty.products | filter:hasChangesFilter">
                                <div class="broker-product">{{products[$index].name}}</div>
                                <div class="buy {{translateTriStateToPermission(product.buy.us.permission)}}"
                                     ng-show="product.buy.us.permission!=product.buy.us.originalPermission">
                                    {{translateTriStateToPermission(product.buy.us.permission) + " Buys"}}
                                </div>
                                <div class="sell {{translateTriStateToPermission(product.sell.us.permission)}}"
                                     ng-show="product.sell.us.permission!=product.sell.us.originalPermission">
                                    {{translateTriStateToPermission(product.sell.us.permission) + " Sells"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="confirmSpinnerOverlay" class="settings-section-subcontainer" ng-show="updateInProgress">
                    <div class="internal-margins">
                        Sending Updates. Please wait ... <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
                <div id="confirmSuccess" class="settings-section-subcontainer" ng-show="updateWasSuccessful">
                    <div class="internal-margins">
                        <div align="center" class="success-message">Permissions were updated successfully</div>
                        <div align="center">
                            <button id="btnSuccessOk" type="submit" ng-click="closeSuccessConfirmation()"
                                    class="btn btn-sm btn-green">Ok
                            </button>
                        </div>
                    </div>
                </div>
                <div class="button-container" ng-hide="updateInProgress || updateWasSuccessful">
                    <button id="btnUpdateConfirm" type="submit" ng-click="updateConfirmAccept()"
                            class="btn btn-sm btn-green">Confirm
                    </button>
                    <button id="btnUpdateCancel" class="btn btn-sm btn-grey" ng-click="updateConfirmReject()">
                        Cancel
                    </button>
                </div>
                <div class="error-message" ng-show="errorMessage>'' && !updateWasSuccessful">{{errorMessage}}</div>
            </div>
        </div>

        <!-- MAIN FORM -->
        <div class="main-form" ng-hide="updateRequested || updateInProgress">
            <div class="filter-container">
                <label>Organisations:</label>
                <input id="counterpartyFilter" name="counterpartyFilter" ng-model="filters.counterparty"
                       ng-change="counterpartyFilterChange()" type="text" class="filter-input"/>

                <!-- <label>Products:</label>
                <input id="productFilter" name="productFilter" ng-model="filters.product"
                       ng-change="productFilterChange()" type="text" class="filter-input"/> -->

                <div class="pull-right">
                    <label>Show 'Action Required' items only:</label>
                    <input id="actionRequiredFilter" name="actionRequiredFilter" ng-model="filters.actionRequired"
                           ng-change="actionRequiredFilterChange()" type="checkbox" class="filter-input checkbox"/>
                </div>
            </div>
            <div class="matrix-container">
                <div class="matrix-header-container">
                    <table>
                        <tr>
                            <td>&nbsp;</td>
                            <td align="right">
                                <div tab-control tabsdisplay="brokerTabs"
                                     usermadechange="userHasMadeAChange"
                                     ontabselected="onTabSelected"
                                     ondatalosschangetab="onTabChangeDataLosss"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="counterparty-header">{{organisationType==="Trading"?"Broker":"TradingOrganisation"}}
                            </td>
                            <td class="products-header">
                                <table>
                                    <tr>
                                        <td valign="bottom" class="product-header broker-product-header" ng-repeat="product in products"
                                            ng-hide="product.filtered">
                                            <div class="title">{{product.name}}<br/>We can buy/sell for</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="scroll-container-vertical">
                    <div class="matrix-body-container">
                        <div class="scroll-container-horizontal">
                            <table cellspacing="10px">
                                <tr class="matrix-body-row" ng-repeat="counterparty in counterparties | orderBy:'name'"
                                    ng-hide="counterparty.filtered">
                                    <td class="counterparty" hover pointing="middle" position="middle middle"
                                        titlerowstyle="{'width': '210px'}" content="{{counterparty.hoverContent}}">
                                        {{counterparty.nameAndCode}}
                                        <i class="us fa fa-ban ban-counterparty"
                                           ng-click="changeAllCPPermissions(counterparty,false)"></i>
                                        <i class="us fa fa-check allow-counterparty"
                                           ng-click="changeAllCPPermissions(counterparty,true)"></i>
                                    </td>
                                    <td class="products">
                                        <table cellspacing="10px">
                                            <tr>
                                                <td class="broker-product" ng-repeat="product in counterparty.products"
                                                    ng-hide="products[$index].filtered">
                                                    <table width="100%">
                                                        <tr>
                                                            <td class="broker-buy"
                                                                ng-class="'changed-' + (product.buy.us.permission!=product.buy.us.originalPermission) + ' status-' + product.buy.overallStatus + ' subscribed-' + product.cpSubscribed">
                                                                <i class="brokerus fa"
                                                                   ng-show="product.cpSubscribed"
                                                                   ng-class="{'fa-question': product.buy.us.permission==null,'fa-ban': product.buy.us.permission==false,'fa-check': product.buy.us.permission==true}"
                                                                   ng-click="permissionChangeClick(product.buy, product.sell)"
                                                                   hover position="bottom center" pointing="center"
                                                                   contentstyle="permission-hover-content"
                                                                   titlerowclass="'permission-hover-title'"
                                                                   titletemplate="Permission to Buy - Our Perspective"
                                                                   content={{buildPermissionHover(product.buy,'Us',true)}}>
                                                                </i>
                                                                <i class="brokerthem fa"
                                                                   ng-show="product.cpSubscribed"
                                                                   ng-class="{'fa-question': product.buy.them.permission==null,'fa-ban': product.buy.them.permission==false,'fa-check': product.buy.them.permission==true}"
                                                                   hover position="bottom center" pointing="center"
                                                                   contentstyle="permission-hover-content"
                                                                   titlerowclass="'permission-hover-title'"
                                                                   titletemplate="Permission to Buy - Their Perspective"
                                                                   content={{buildPermissionHover(product.buy,'Them',false)}}>
                                                                </i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="wait-message" ng-show="waiting">Populating the permissions matrix. Please wait ... <i
                        class="fa fa-circle-o-notch fa-spin"></i></div>
                <div class="last-updated" ng-hide="waiting">{{"Our last update was on " + (lastUpdatedInfo.lastUpdated |
                    date:'dd-MMM-y HH:mm') + " by " + lastUpdatedInfo.lastUpdatedBy}}
                </div>
                <div class="button-container" ng-show="updateAllowed">
                    <button id="btnUpdate" class="btn btn-sm btn-green" type="button" ng-disabled="!userHasMadeAChange"
                            ng-click="commitChanges()">Update
                    </button>
                    <button id="btnCancel" class="btn btn-sm btn-grey" type="button" ng-disabled="!userHasMadeAChange"
                            ng-click="cancelChanges()">Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>