.assessmentFormInputFieldsContainer {
  &:extend(.orderFormInputFieldsContainer);
  height:250px;
}

.small-modal {
  .modal-dialog {
    width: 500px !important;
    margin: 30px auto;
  }
}

.assessment-data-container{
  font-size:9px;
  width:100%;
  border-collapse: separate !important;
  border: solid #424A51 1px;
  border-spacing: 3px;
}

.assessment-title{
  background-color: @aomSharkGrey;
  padding:3px;
  text-align:left;
  padding:1px;
}

.assessment-container {
  height: inherit;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: @aomFontFamily;
  //width: 1004px;
}

.assessment-header-container {
  min-width: 650px;
  width: 1000px;
  height: 37px;
  // padding-top: 3px;
  background-color: @aomBlueGrey;
}

.assessment-header-collapse {
  float: left;
  margin-left: 4px;
  margin-top: 4px;
}

.assessment-header-title {
  float: left;
  width: 330px;
  height: 100%;
  padding-top: 11px;
  text-align: left;
  font-size: 12px;
}

.assessment-data {
  float: right;
  width: 68%;
  height: 100%;
  font-size: 10px;
}

.assessment-item {
  position: inherit;
}

.assessment-item-table {
  position: inherit;
  top: 0px;
  bottom: 0;
  overflow-y: hidden;
  margin-top: 0px;
 // margin-right: 1px;
  height: 45px;
  background: @aomSharkGrey;
  font-size: 10px;
}

.assessment-item-row {
  background: #2a2e33;
}

.ae-cursor{
  cursor: pointer;
}

.normal-cursor{
  cursor: default;
}

.assessment-item-product {
  padding: 0px 4px;
  padding-top: 14px;
  padding-left: 12px;
  width: 47.5%;
  text-align: left;
  font-size: 11px;
}

.assessment-low-high {
  padding-right: 22px;
  background: @aomBlack;
}

.assessment-day {
  margin-top: 5.5px;
  margin-right: 3px;
  padding-right: 5px;
  padding-left: 5px;
  background: #060606;
  font-size: 10px;
  line-height: 17px;
  width: 174px;
}

.assessment-row{
  margin-left: 1px;
  margin-right: 2px;
  background-color: black;
}

.assessment-label{
  font-weight: bold;
}

.assessment-item-title {
  overflow-x: wrap;
  width: 56px;
  background: @aomBlack;
  text-align: center;
}

.assessment-item-price {
  width: 20px;
  background: @aomBlack;
  text-align: center;
  font-weight: 700;
  font-size: 9px;
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  .caret {
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-top: 4px solid transparent !important;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent !important;
    width: 0px;
    height: 0px;
    float: inherit;
    display: inline-block;
    position: relative;
  }
}

.assessment-item-price-up {
  color: @aomLightGreen;
  .caret {
    border-width: 0px 6px 9px 6px;
    border-bottom-color: @aomLightGreen;
    top: 10px;
    right: -2px;
    border-bottom: 10px solid;
  }
}

.assessment-price-table{
  border-collapse: separate !important;
  border: solid #424A51 1px;
  border-spacing: 3px;
  width:100%
}

.assessment-status-display-name{
  text-align: right;
}

.assessment-item-price-down {
  color: @aomBrightRed;
  .caret {
    border-width: 9px 6px 0px 6px;
    border-top-color: @aomBrightRed;
    top: 10px;
    right: -2px;
    border-top: 10px solid;
  }
}

.news-item-price-down {
  color: @aomWhite;
  .caret {
    border-width: 9px 6px 0px 6px;
    border-top-color: @aomWhite;
    top: 10px;
    right: -2px;
    border-top: 10px solid;
  }
}

.assessment-item-price-level {
  &:extend(.assessment-item-price);
  background: @aomBlack;
  .caret {
    border-width: 5px 0px 5px 9px;
    border-left-color: #FFFF00;
    top: 0px;
    right: 4px;
    border-top: 5px solid transparent !important;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent !important;
  }
}

.input-medium {
    width: 70px;
}

.assessment-table{
  width:100%;

  .tr{
    margin-top:10px;
  }
}

#assessment-product-label{
    font-size:13px;
    width:300px;
}

.center-text{
  text-align: center;
}

//
.no-left-padding {
  padding:10px 1px !important;
  margin-left: 0px;
}


