/* dark color overrides */
@validBorderColor: #424a51;
#dark-select {
  .chosen-container {
    .chosen-results {
      li {
        color: #999999;
        width: 270px;
        em {
          background: none;
        }
      }
      .highlighted {
        background: #333333;
        color: #ffffff;
      }
      .no-results {
        background: #333;
      }
    }
    .chosen-drop {
      border: 1px solid #121212;
    }
  }
  .chosen-container-single {
    .chosen-single {
      background-color: #181818;
      background-image: none;
      background: #181818 none top left no-repeat;
      filter: none;
      border: 2px solid @validBorderColor;
      display: block;
      height: 24px;
      box-shadow: none;
      div {
        background-image: -webkit-gradient(linear, left bottom, left top,color-stop(0, #181818), color-stop(0.6, #181818));
        background-image: -webkit-linear-gradient(center bottom, #181818 0%, #181818 60%);
        background-image: -moz-linear-gradient(center bottom, #181818 0%, #181818 60%);
        background-image: -o-linear-gradient(bottom, #181818 0%, #181818 60%);
        background-image: -ms-linear-gradient(top, #181818 0%,#181818 60%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333',endColorstr='#121212',GradientType=0 );
        background-image: linear-gradient(top, #181818 0%,#181818 60%);
        border-left: 1px solid #252525;
        b {
          background: url('chosen-sprite-dark.png') no-repeat 0 1px;
          margin-top: -4px;
        }
      }
      abbr {
        background: url('chosen-sprite-dark.png') right top no-repeat;
        margin-top: -2px;
      }
      span {
        margin-top: -2px;
      }
    }
  }
  .chosen-container-active.chosen-with-drop {
    .chosen-single {
      box-shadow: none;
      box-shadow: 0 1px 0 rgba(22, 8, 8, 0.16) inset;
    }
  }
  .chosen-container-multi {
    .chosen-choices {
      .search-choice {
        .search-choice-close {
          background: url('chosen-sprite-dark.png') right top no-repeat;
          margin-top: -4px;
        }
      }
    }
  }
}
#dark-select .chosen-container .chosen-drop, .chosen-container-single .chosen-single {
  background-color: #181818;
  color: #ffffff;
  width: 270px;
}
#dark-select .no-touch a.content, .no-touch a:hover {
  color: #ffffff;
}
#dark-select .chosen-container-single .chosen-search input,#dark-select .chosen-rtl .chosen-search input {
  background: #333 url('chosen-sprite-dark.png') no-repeat 100% -22px;
  color: #ffffff;
  border: 1px solid #555555;
}
.chosen-container .chosen-drop {
  position: fixed;
  display: none;
  top: auto;
  left: auto;
}
.chosen-container.chosen-with-drop .chosen-drop {
  display: block;
  left: auto;
}
