@import 'variables.less';
@headerTextNormal: @aomWhite;
@headerTextOrange: orange;
@grey: #CCC;

.headerSection{
  margin-left:5px;
}

.header-text {
  color: @grey;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  font-family: @aomFontFamily;
  line-height: 0px;
}

.header-text-normal {
  .header-text;
  color: @headerTextNormal;
  font-weight: 400;
}

.logoIconContainer {
  margin-top: 4px !important;
  margin-left: 0px;
}

.logoIcon {
  width: 60px
}

.logo {
  background: url(../header/logo-sprite.png) no-repeat;
  background-size: 400px 41px;
  zoom: 0.5;
}

.aomtitle{
  color: @headerTextNormal;
  font-family: "TrebuchetMS", "Trebuchet MS";
  padding-top: 7px;
  padding-left: 7px;
}
.aomtitle-argus
{
  .aomtitle;
  .bold;
  margin-top: 6px;
  font-size: 17px;
  padding-left: 8px;
}

.aomtitle-open-markets {
  .aomtitle;
  margin-top: 7px;
  margin-left: 58px;
  position: absolute;
}


.header-text-orange {
  .header-text;
  color: @headerTextOrange;
  font-weight: 400;
}

#header-logged-on-user {
  .header-text;
  .bold;
  margin-top: 6px;
  color: @headerTextNormal;
  //font-weight: 400;
}

.header-help-image {
  background: url(../assets/header/helpIcon.png) no-repeat;
}

.header-single-line {
  .header-text-normal;
 .bold;
  margin-top: 10px;

}

.userDetails.menuItemContainer {
  margin-left: 15px;
  width: auto;
  padding-right: 10px;
  cursor:auto;
}

.headerIcon {
  margin-bottom: 3px;
  height: 17px;
}

.header-user-role {
  .header-text;
  margin-top: 10px;
  color: @headerTextNormal;
  //font-weight: 400;
}

.bold{
  font-weight: bold;
}
.dividerLeft {
  height: 20px;
  border-left: 1px solid #666666;
}

.dividerRight {
  height: 20px;
  border-right: 1px solid #666666;
}

.center {
  text-align: center;
}

.menuItemContainer {
  float: left;
  margin-top: 5px;
  width: 80px;
  cursor: pointer;
}

.menu-header {
  margin-right: auto;
  margin-left: auto;
  width: 1006px;
  height: 28px;
  background: #333333;
  color: @aomWhite;
  margin-bottom:4px;

}

#header-container ul {
  display: inline;
  list-style-type: none;
}

#header-container ul li {
  display: inline;
}

/*
Following is used by the footer
*/

.ngFooterPanel {
  margin-top: -30px;
  border: 0 !important;
  background: #303030 !important;

}

.footerMenu {
}

.footerCell {
  display: inline-block;
  margin-top: -10px;
  height: 12px !important;
  color: white;

}

/* Footer menu styling */

.nav-footer ul li {
  display: inline;
}

.nav-footer ul li a {
  color: #ffffff;
  font-size: 0.7em !important;
}

.nav-footer li a:hover {
  color: #fc911a;
}

.footerimg {
  padding-top: 5px;
}

.footerText {
  color: white;
  font-size: 0.80em;
  line-height: 1.00em;
}

.footerAnchor {
  a {
    color: white
  }
}

.footerCopyright {
  margin-top: -5px;
  margin-bottom: 2px;
  margin-left: 220px;
  padding-top: 2px;
  width: 100%;
  background: #333;
  font-size: 0.80em;
}

element.style {
  margin-top: 0px;
  horizontal-align: left;
  width: 70px;
  height: 25px;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logoDirectDashboard {
  width: 70px;
  height: 25px;
  background: url(login/logo-small.png) no-repeat;
}