/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';
@import 'dateSlider.less';
@import 'qtipCustom.less';
@import 'modal.less';
@import 'multiselect.less';
@import 'header.less';
@import 'assessments.less';
@import 'userSettings.less';
@import 'userSettingsCPM.less';
@import 'companySettings.less';
@import 'perfect-scrollbar.less';
@import '../../vendor/font-awesome/less/font-awesome.less';
@import '../../vendor/angular-gridster/src/angular-gridster.less';

@fa-font-path:        "../vendor/font-awesome/fonts";

.tile {
  min-height: inherit !important;
  width: 100% !important;

}

.spinner {
  padding-left: 2px;
  width: 12px;
}

@-webkit-keyframes smooth {
  0% { opacity: 0.5;}
  100% { opacity: 1;}
}

.highlight{
  border-radius: 5px;
  border: 1px solid #fcefa1;
  background: #fbf9ee 50% 50% repeat-x; color: #363636;
  webkit-animation: smooth 2s ease-in;
  -moz-animation: smooth 2s ease-in;
  -o-animation: smooth 2s ease-in;
  -ms-animation: smooth 2s ease-in;
  animation: smooth 2s ease-in;
}

.co-brokered-checkbox{
  vertical-align: bottom;
}
.co-brokered-label{
}
.co-brokered-label-disabled{
  opacity: .30;
}

body {
  overflow-x: hidden;
}

.gridStyle {
  width: 90%;
  height: 90%;
  border: 1px solid rgb(212, 212, 212)
}

.ui-widget {
  height: inherit;
}

.appContainer {
  overflow-x: hidden;
}

.background {
  background-color: @aomSharkGrey;
}

td.hoverContentRowHeader {
  margin-right: 10px;
  padding-bottom: 0.5em;
  vertical-align: top;
}

.hoverContentRowHeader {
  padding-right: 10px;
}



.gridster {
  background-color: @aomSharkGrey;
}


.gridster-loaded .gridster-item {
  background: @aomBlueGrey;
}

/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.marketContractHoverHeader {
  background-color: @aomBlueGrey;
}

.marketContractHoverContent {
  background-color: blue;
}

code, pre, .pre {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #DADADA;
  background-color: #EFEFEF;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}

/**
 * Navigation
 */
.disabledlogin {
  background-color: #80A0BC !important;
}

.navbar {
  .navbar-inner {
    padding: 0;
  }

  .nav {
    margin: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 1%;
      float: none;

      a {
        font-weight: bold;
        text-align: center;
        //border-left: 1px solid rgba(255, 255, 255, 0.75);
        border-right: 1px solid rgba(0, 0, 0, .1);
      }

      &:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }

      &:last-child a {
        border-right: 0;
        border-radius: 3px 0 0 3px;
      }
    }
  }
}

/* bid ask stack */

.bidAskStackHeader{
  font-size: 09px;
}

.bidAskStackHeaderCell {
   background-color: #282828; 
}

.bidAskStacksContainer {
  min-width: inherit;
  width: inherit;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-family: Verdana, Verdana;
  border: 3px @aomBlueGrey solid;
  margin-top: -5px;
}

.bidAskStackGridsContainer {
  margin: 0px;
  width: 493px;
}

.spinna-position{
  position: relative;
  left: 3px;
  cursor: default;
}

.bidAskGrid {
  float: left;
  width: 246.5px !important;
  //border-right: solid 1px @aomSharkGrey;
  text-align: center;
  font-size: 10px;
  line-height: normal;
  background-color: #282828;
}

.market-ticker-footer{
  height: 16px;
  background-color: @aomBlueGrey;
  font-size: 8px;
  text-align: center;
}

.bidAskGridFooter {
  height: 16px;
  background-color: @aomBlueGrey;
  font-size: 8px;
}

.pre-live-background-class{
   background-color: #953b39;
 }

.pre-live-background-class-ci{
  background-color: #ffcce6;
}

.pre-live-background-class-demo{
  background-color: #005dab;
}

.bidAskGridAsksFooter {
  text-align: left;
}

.bidAskGridBidsFooter {
  text-align: right;
}

.bidAskGridUpButton {
  margin-top: 1px;
  margin-right: 3px;
  width: 55px;
  height: 14px;
  border: 1px solid @aomAlmostBlack;
  border-radius: 3px 3px 3px 3px;
  background-color: @aomAlmostBlack;
  padding: 0px 1px;
  vertical-align: middle;
}

.bidAskGridDownButton {
  margin-top: 1px;
  margin-left: 1px;
  width: 60px;
  height: 14px;
  border: 1px solid @aomAlmostBlack;
  border-radius: 3px 3px 3px 3px;
  background-color: @aomAlmostBlack;
  padding: 0px 1px;
  vertical-align: middle;
  color: white;
}

// .market-ticker-up-button {
//   margin-top: 1px;
//   margin-right: -1px;
//   width: 55px;
//   height: 14px;
//   border: 2px solid #424A51;
//   border-radius: 5px 0px 0px 0px;
//   background-color: #101010;


// }

// .market-ticker-down-button {
//   margin-top: 1px;
//   margin-left: -1px;
//   width: 60px;
//   height: 14px;
//   border: 2px solid #424A51;
//   border-radius: 0px 5px 0px 0px;
//   background-color: #101010;
// }

.ngViewport {
  overflow: hidden !important;
}

.cellIsMine {
  color: @aomOrange;
  &:hover {color: @aomWhite};
}

.nonTradeable {
  color: @aomDoveGrey;
  &:hover {color: @aomDoveGrey};
}

.coBrokering{
  color: deeppink;
}

.nonTradeable.cellIsMine {
  color: @aomOrange;
  &:hover {color: @aomWhite};
};

.noBroker{
  color: @aomDoveGrey;
}

.heldOrder {
  text-decoration: line-through;
}

.btn-bidaskstack {
  margin-top: 2px;
  margin-right: 0px;
  padding-left: 0px;
  width: 100%;
  color: #FFFFFF !important;
  text-align: center;
  text-decoration: none !important;
  font-weight: 400;
  font-style: normal;
  font-size: 10px !important;
  font-family: 'Verdana', 'Verdana';
  line-height: normal;
  z-index: 999999;
  margin-left: -2px;
  position:relative;
}

.btn-askstack {
  border: 1px solid #7C0702;
  background-color: @aomCrimsonRed;
}

.btn-askstack-modal {
  border: 1px solid #666666;;
  background-color: @aomSlateGrey;
  &:hover {
    color: @aomWhite;
    background-color: @aomCrimsonRed;
  }
  &.selected {
    border: 1px solid #666666;;
    background-color: @aomCrimsonRed;
    color: @aomWhite;
  }
}

.btn-bidstack {
  border: 1px solid #006C9F;
  background-color: @aomBlue;
}

.btn-bidstack-modal {
  border: 1px solid #666666;
  background-color: @aomSlateGrey;
   &:hover {
      color: @aomWhite;
      background-color: @aomBlue;
    }
    &.selected {
      border: 1px solid #666666;
      background-color: @aomBlue;
      color: @aomWhite;
    }
}

.askPrice {
  color: rgb(204, 0, 0) !important;
  font-weight: 700;
}

.bidPrice {
  color: rgb(51, 153, 204) !important;
  font-weight: 700;

}

.bidAskStackHeaderContainer {
  min-width: 495px;
  width: 493px;
  height: 35px;
  padding-top: 3px;
  background-color: @aomBlueGrey;
}

.gridCellBorder {
  border-bottom: 1px solid yellow;
}

.bidAskStackGridRowHover:hover {
  background-color: @aomOrange !important;
}

.bidHoverTitle {
  background-color: @aomSeaGreen;
}
.bidCellEven {
  background-color: @aomSeaGreen;
}

.bidCellEvenBlink {
  .blink-animation(bidCellEvenBlink, @aomSeaGreen);
}

.bidCellOdd {
  background-color: @aomBlueGreen;
}

.bidCellOddBlink {
  .blink-animation(bidCellOddBlink, @aomBlueGreen);
}

.askCellEven {
  background-color: @aomBrown;
}

.askCellEvenBlink {
  .blink-animation(askCellEvenBlink, @aomBrown);
}

.askCellOdd {
  background-color: @aomRustBrown;
}

.askCellOddBlink {
  .blink-animation(askCellOddBlink, @aomRustBrown);
}

.blink-animation (@name, @color) {
  background-color: lighten(@color, 15%);
  animation-name: @name;
  //animation-duration: 4.0s;
  //animation-timing-function: ease-in-out;
  //animation-delay: 0s;
  //animation-iteration-count: 1;
  //animation-direction: normal;
  -webkit-transition: background 3.0s ease-in-out;
  -ms-transition:     background 3.0s ease-in-out;
  transition:         background 3.0s ease-in-out;

  //@keyframes @name {
//    from {
//      background: @color
//    }
//    to {
//      background: lighten(@color, 15%)
//    }
//  }
}

//.blink-animation (@color){
//  @keyframes blink-animation {
//    from {
//      background: @color
//    }
//    to {
//      background: lighten(@color, 15%)
//    }
//  }
//}

.ngVerticalBarVisible {
  width: 0 !important;
}

.ngCellNotesIconOverride {
  top: 0;
  bottom: 0;
  padding: 0;
  padding-top: 5px;
  border-bottom: 1px solid #304C59;
  background-color: inherit;
  vertical-align: middle;
  font-size: 13px;
  img {
    width: 12px;
    height: 14px;
  }
}

.ngCellText{
  padding: 6px 0px 0px 0px;
}
.ngHeaderText {
  padding-top: 9px;
}

.ngCellBidGridOverride {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid #304C59;
  background-color: inherit;
  font-size: 11px;
}

.ngCellBidGridOverrideBottom {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom: 5px solid yellow;
  background-color: inherit;
}

.ngCellAskGridOverride {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid #4E3C40;
  background-color: inherit;
  font-size: 11px;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

/* Footer */
.footerLinks {
  margin-right: auto;
  margin-left: auto;
  width: 1002px;
  border-top: 1px solid @aomWhite;
  background-color: @aomMineShaftGrey;
}

.indexHtml{
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
}

.indexBody {
  /* Margin bottom by footer height */
  //margin-bottom: @footerHeight;
}

.stickyFooter {
  width: 1002px;
  border-top: 1px solid @aomWhite;
  background-color: @aomMineShaftGrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footerHeight;
}

a.footerCopyRightUrls {
  color: #ffffff
}

ul.footerCopyRightList {
  overflow: hidden;
  font-weight: bold;
  font-size: 0.75em
}

li.footerCopyRightLinks {
  display: inline;
  float: left;
  margin-right: 6px;
  margin-left: 30px
}

SPAN.footerCopyRightGeneric {
  margin: 3px 0 16px
}

p.footerCopyRightParagraphGeneric {
  margin-left: 30px;
  color: #d1d3d4;
  font-size: 0.7em
}

.dashboardGrid{
  margin-right: auto;
  margin-left: auto;
  width: 1006px;
  padding-top: 7px;
}

.grid-tile{
  margin-right: 3px;
  margin-bottom: 12px;
}

.even {
  background-color: #050505;
}

.odd {
  background-color: rgba(30, 34, 38, 0.49);
}

.spinna-disabled{
  opacity: 0.4;
}


.widget-icon-color{
  color: white;
  font-size:14pt;
  margin-right:5px;
  margin-top:4px;
}

.collapse-arrow{
   margin-top: -1px;
   color: white;
   font-size:10pt;
 }

.collapse-arrow-disabled{
  margin-top: -1px;
  color: grey;
  font-size:10pt;
}