@import 'variables.less';

.ticker-container {
  width: 1001px;
  height: 100%;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: 'ArialMT', 'Arial';
  border: 3px #424A51 solid;
}

.ticker-header-container {
  display: table;
  min-width: 650px;
  width: 100%;
  height: 35px;
  background-color: @aomBlueGrey;
  vertical-align: middle;
  text-align: center;
  line-height: 35px;
}

.ticker-header-img {
  display: table-cell;
  float: left;
  vertical-align: middle;
  margin-top: 1px;
  margin-left: 2px;
  text-align: center;
  img {
    vertical-align: middle;
  }
}

.ticker-header-title {
  display: table-cell;
  float: left;
  width: auto;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 10px !important;
  font-family: 'Arial', 'ArialMT';
}

.ticker-header-products {
  display: table-cell;
  float: right;
  margin-right: -85px;
  width: 600;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  div.marketTickerProducts.multiSelect.inlineBlock {
    width: 240px !important;
  }
}

.ticker-header-pending {
  display: table-cell;
  float: right;
  margin-right: 10px;
  height: 100%;
  vertical-align: middle;
  text-align: right;
}

.ticker-header-items {
  display: table-cell;
  float: right;
  margin-right: 10px;
  width: 200px;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  div.marketTickerType.multiSelect.inlineBlock {
    width: 125px !important;
  }
}

.ticker-header-deal {
  display: table-cell;
  float: right;
  margin-right: 10px;
  width: 180px;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  margin-left: -5px;
}

.ticker-header-external-order {
  display: table-cell;
  float: right;
  margin-right: 10px;
  width: 180px;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  margin-left: -5px;
}

.ticker-header-external-info{
  display: table-cell;
  float: right;
  margin-right: 10px;
  width: 80px;
  height: 100%;
  vertical-align: middle;
  text-align: right;
  margin-left: -5px;
  margin-top: -4px;
}

.button-float-left {
  .button {
    float: left;
  }
}

.btn-group-width {
  width: 174px !important;
}

// .btn-grouping {
//   //margin-top: -5px;
//   .btn-group;
//   .btn-group-width;
//   .defaultMTHeaderHeight;
// }

// .btn-grouping-ind {
//   .btn-group;
//   .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//   } 
//   .btn-group > .btn:first-child {
//     margin-left: 0;
//   }
//   .btn-group > .btn, .btn-group-vertical > .btn {
//     position: relative;
//     float: left;
//   }
// }

.btn-deal {
  width: 65px !important;
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;
  background-color: @aomMarketTickerLightBlack !important;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;
  font-family: inherit;
}

.btn-deal:hover {
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;;
  background-color: @aomLightGreen !important;
}

.btn-external-info {
  width: 65px !important;
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;
  background-color: @aomMarketTickerLightBlack !important;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;
  font-family: inherit;
}

.btn-external-info:hover {
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;;
  background-color: @aomLightGreen !important;
}

.bid-selected{
  background-color: #085070;
  color: white !important;
}

.ask-selected{
  background-color: #52201e;
  color:white !important;
}

.deal-selected{
  background-color: #008000;
  color:white !important;
}

.info-selected{
  background-color: #023434;
  color:white !important;
}


.btn-external-market {
  width: 65px !important;
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;
  background-color: @aomMarketTickerLightBlack !important;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;
  font-family: inherit;
}

.btn-external-deal:hover {
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;;
  background-color: @aomLightGreen !important;
}

.btn-pending {
  width: 152px !important;
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;
  background-color: @aomMarketTickerLightBlack !important;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;;
  font-family: inherit;
  margin-top: -7px;
}

.btn-pending:hover {
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;;
  background-color: @aomLightGreen !important;
}

.btn-market {
  width: 109px !important;
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;
  background-color: @aomMarketTickerLightBlack !important;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;
  font-family: inherit;
}

.btn-market:hover {
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomMarketTickerDarkGrey !important;;
  background-color: @aomLightGreen !important;
}

#btnEditOrderReinstate {
  width: 90px;
}

.ticker-header-title-style {
  float: left;
  margin-top: -2px !important;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
}

.ticker-grid-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  margin-top: 0px !important;
  margin-right: 4px;
  margin-bottom: 4px;
  //margin-left: 4px;
  width: 997px;
  font-size: 12px;
  height:245px;
}

.ticker-deal-text {
  text-align: center;
}

.ticker-market-info-text {
  margin-top: -10%;
  text-align: center;
}

.ticker-deal-button:hover {
  background-color: @aomPeaGreen;
}

.ticker-market-info-button:hover {
  background-color: @aomPeaGreen;
}

.defaultMTHeaderHeight{
  height: 37px;
}

.marketTickerType {
  .defaultMTHeaderHeight;
  width: 100px;
  vertical-align: middle;
  text-align: left;
  font-size: 10px;
  line-height: 30px;
  button {
    height: 30px !important;
  }
  div.multiSelect.checkboxLayer {
    width: 113px !important;
    margin-left:12px;
  }
}

.marketTickerProducts {
  .defaultMTHeaderHeight;
  width: 400px;
  vertical-align: middle;
  text-align: left;
  font-size: 10px;
  line-height: 30px;
  button {
    height: 30px !important;
  }
  div.multiSelect.checkboxLayer {
    width: 260px !important;
  }
}

.market-info-btn-selected{
  background-color: #008000;
  color: #ffffff !important;
}

.panel-body-height {
  padding: 1px !important;
  height: auto;
  border-bottom: 2px solid @aomBlueGrey !important;
  vertical-align: top;
  text-align: justify !important;
}

.panel-body-container {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: top;
  //background-color: red;
  text-align: center;
  line-height: 100%;
}
.panel-body-container:hover {
  background-color: @aomOrange !important;
  color: @aomWhite !important;
}

.panel-body-btn-container {
  display: table-cell;
  float: left;
  width: 7.5%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  line-height: 100%;
  margin-top: -2px;
}

.panel-body-market-info-container {
  display: table-cell;
  float: left;
  width: 90%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  line-height: auto;
}

.market-ticker-item-cobrokering-icon i {
  margin-top: 4px;
}

.market-ticker-item-notes-icon i {
  margin-top: 4px;
  margin-bottom: 10px;
}

.panel-body-content-container {
  display: table;
  float: left;
  width: 90%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  line-height: 100%;
}

.panel-body-date-content-container {
  display: table-row;
  width: 100%;
  height: 40%;
  vertical-align: middle !important;
  text-align: justify !important;
  line-height: 100%;
  p {
    margin-top: 6px !important;
  }
}

.panel-body-info-content-container {
  display: table-row;
  float: left;
  width: 100%;
  height: auto;
  vertical-align: middle !important;
  text-align: justify !important;
  line-height: 100%;
  p {
    margin-top: 2px
  }
}

.market-ticker-message-text{
  height:auto;
  word-wrap:break-word;
  width: 868px;
  padding-bottom: 4px;
}

.btn-deal-action {
  float: left;
  margin-top: 8px !important;
  margin-left: 6px !important;
  padding: 1px !important;
  width: 54px !important;
  height: 24px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: @aomMarketTickerLightBlack;
  color: @aomWhite;
  font-weight: 400;
  font-size: 10px !important;
  font-family: 'ArialMT', 'Arial';
  p {
    margin-top: 6px !important;
  }
}

.bid {
  background-color: @aomBlue;
}

.ask {
  background-color: @aomCrimsonRed;
}

.deal {
  background-color: @aomLightGreen;
}

.external-deal{
  background-color: @aomLightGreen;
}

.info {
  background-color: @aomOlive;
}

.btn-strike {
  text-decoration: line-through;
}

.message-ticker-item-is-void {
  text-decoration: line-through;
}

.message-ticker-item-active {
  color: @aomWhite;
}

.message-ticker-item-is-pending {
  color: @aomYellow;
  cursor: pointer;
}

.message-ticker-item-is-mine {
  color: @aomOrange;
}

.message-ticker-item-non-tradeable{
  color: @aomDoveGrey;
}

.panel-body-container:hover {
  color: @aomWhite;
}

.prefix {
  margin-top: 6px !important;
  margin-right:10px;
}

.ticker-text{
  margin-top: 6px !important;
}

.market-ticker-size-arrow-image {
  vertical-align: top;
}

.market-ticker-item-prefix-medium {
  font-size: 10px;
  line-height: 10px
}

.market-ticker-item-type {
  vertical-align: top;
}