/*
 * qTip2 - Pretty powerful tooltips - v2.2.0
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Mon Nov 25 2013 11:54 GMT+0000
 * Plugins: tips modal viewport svg imagemap ie6
 * Styles: basic css3
 */
.qtip {
  position: absolute;
  top: -28000px;
  left: -28000px;
  display: none;
  padding: 0;

  min-width: 50px;
  max-width: 280px;

  box-shadow: none;
  font-size: 10.5px;

  font-family: 'Verdana', 'Verdana';

  line-height: 12px;
  direction: ltr;
}

.qtip-content {
  position: relative;
  overflow: hidden;
  padding: 2px 2px;

  text-align: left;
  word-wrap: break-word;
}

.qtip-titlebar {
  position: relative;
  overflow: hidden;
  padding: 5px 35px 5px 10px;
  color: @aomCanaryYellow;
  border-width: 0 0 1px;
  font-weight: bold;
}

.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important;
}

/* Default close button class */
.qtip-close {
  position: absolute;
  top: -9px;
  right: -9px;

  outline: medium none;
  border-width: 1px;

  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}

.qtip-titlebar .qtip-close {
  top: 50%;
  right: 4px;
  margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
  top: 16px;
}

/* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;

  background: transparent none no-repeat -100em -100em;
  color: inherit;
  text-align: center;
  text-indent: 0;

  font: normal bold 10px/13px Tahoma, sans-serif;
  line-height: 14px;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus {
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover {
}

/* Default tooltip style */
.qtip-default {
  border-width: 2px !important;
  border-style: solid;
  border-color: #787878 !important;
  background-color: #303030 !important;
  color: #555;
}

.qtip-default .qtip-titlebar {
}

.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}

/*! Dark tooltip style */
.qtip-dark {
  border-color: #303030;
  color: #f3f3f3;
}

.qtip-dark .qtip-titlebar {
}

.qtip-dark .qtip-icon {
  border-color: #444;
}

.qtip-dark .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.qtip-rounded .qtip-titlebar {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* Youtube tooltip style */
.qtip-youtube {
  border-width: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  border-radius: 2px;
  background: #4A4A4A;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A4A4A), color-stop(100%, black));

  background-image: -webkit-linear-gradient(top, #4A4A4A 0, black 100%);
  background-image: -moz-linear-gradient(top, #4A4A4A 0, black 100%);

  background-image: -ms-linear-gradient(top, #4A4A4A 0, black 100%);
  background-image: -o-linear-gradient(top, #4A4A4A 0, black 100%);
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  color: white;
}

/* jQuery TOOLS Tooltip style */
.qtip-jtools {
  border: 2px solid #ddd;
  border: 2px solid rgba(241, 241, 241, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: rgba(0, 0, 0, 0.7);

  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
  background-image: -moz-linear-gradient(top, #717171, #232323);

  background-image: -webkit-linear-gradient(top, #717171, #232323);
  background-image: -ms-linear-gradient(top, #717171, #232323);
  background-image: -o-linear-gradient(top, #717171, #232323);

  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333;
}

/* IE Specific */
.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);
}

.qtip-jtools .qtip-content {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
}

.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
  border: 0 dashed transparent;
  background: transparent;
  color: white;
}

.qtip-jtools .qtip-icon {
  border-color: #555;
}

.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333;
}

/* Cluetip style */
.qtip-cluetip {
  border: 0 dashed transparent;
  background-color: #D9D9C2;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);

  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  color: #111;
}

.qtip-cluetip .qtip-titlebar {
  border: 0 dashed transparent;
  background-color: #87876A;
  color: white;
}

.qtip-cluetip .qtip-icon {
  border-color: #808064;
}

.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}

/* Tipsy style */
.qtip-tipsy {
  border: 0 solid transparent;
  background: black;

  background: rgba(0, 0, 0, .87);
  color: white;

  text-shadow: 0 1px black;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Verdana', 'Verdana';
  line-height: 16px;
}

.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10px;
  background-color: transparent;
}

.qtip-tipsy .qtip-content {
  padding: 6px 10px;
}

.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none;
}

.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Tipped style */
.qtip-tipped {
  border: 3px solid #959FA9;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-color: #F9F9F9;
  color: #454545;

  font-weight: normal;
  font-family: serif;
}

.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;

  background: #3A79B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));
  background-image: -webkit-linear-gradient(top, #3A79B8, #2E629D);
  background-image: -moz-linear-gradient(top, #3A79B8, #2E629D);
  background-image: -ms-linear-gradient(top, #3A79B8, #2E629D);
  background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
  color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
}

.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589;
}

.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}

/**
 * Twitter Bootstrap style.
 *
 * Tested with IE 8, IE 9, Chrome 18, Firefox 9, Opera 11.
 * Does not work with IE 7.
 */
.qtip-bootstrap {
  /** Taken from Bootstrap body */
  padding: 1px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  /** Taken from Bootstrap .popover */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffffff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}

.qtip-bootstrap .qtip-titlebar {
  /** Taken from Bootstrap .popover-title */
  margin: 0;
  padding: 8px 14px;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #f7f7f7;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.qtip-bootstrap .qtip-titlebar .qtip-close {
  /**
   * Overrides qTip2:
   * .qtip-titlebar .qtip-close{
   *   [...]
   *   right: 4px;
   *   top: 50%;
   *   [...]
   *   border-style: solid;
   * }
   */
  top: 45%;
  right: 11px;
  border-style: none;
}

.qtip-bootstrap .qtip-content {
  /** Taken from Bootstrap .popover-content */
  padding: 9px 14px;
}

.qtip-bootstrap .qtip-icon {
  /**
   * Overrides qTip2:
   * .qtip-default .qtip-icon {
   *   border-color: #CCC;
   *   background: #F1F1F1;
   *   color: #777;
   * }
   */
  background: transparent;
}

.qtip-bootstrap .qtip-icon .ui-icon {
  /**
   * Overrides qTip2:
   * .qtip-icon .ui-icon{
   *   width: 18px;
   *   height: 14px;
   * }
   */
  float: right;
  width: auto;

  /* Taken from Bootstrap .close */
  height: auto;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.qtip-bootstrap .qtip-icon .ui-icon:hover {
  /* Taken from Bootstrap .close:hover */
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
  -ms-filter: none;
  filter: none;
}

.qtip .qtip-tip {
  z-index: 10;
  overflow: hidden;
  margin: 0 auto;

}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip {
  visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
  position: absolute;

  border: 0 dashed transparent;
  background: transparent;
  color: #123456;
}

.qtip .qtip-tip canvas {
  top: 0;
  left: 0;
}

.qtip .qtip-tip .qtip-vml {
  display: inline-block;
  visibility: visible;
  behavior: url(#default#VML);
}

#qtip-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Applied to modals with show.modal.blur set to true */
#qtip-overlay.blurs {
  cursor: pointer;
}

/* Change opacity of overlay here */
#qtip-overlay div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: black;

  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.qtipmodal-ie6fix {
  position: absolute !important;
}