.mappingsFormInputFieldsContainer {
  &:extend(.orderFormInputFieldsContainer);
  height:210px;
}

.small-modal {
  .modal-dialog {
    width: 500px !important;
    margin: 30px auto;
  }
}

#mapping-category-label{
  font-size:13px;
  width:300px;
  height: inherit;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: @aomFontFamily;
}

#mapping-product-label{
  font-size:13px;
  width:300px;
  height: inherit;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: @aomFontFamily;
}

#mapping-email-label{
  font-size:13px;
  width:300px;
  height: inherit;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: @aomFontFamily;
}

#mapping-email {
  width:10000px;
}