.aom-date-slider {
  .ui-slider-range.ui-widget-header {
    background: #006600;
  }
  .ui-datepicker {
    font-size: 0.77em;
    height: 210px;
    table {
      font-size: .7em;
    }
  }
  .ui-datepicker-title {
    font-size: 0.85em;
    select {
      font-size: 0.8em;
    }
  }
  .ui-slider {
    .ui-slider-handle {
      width: 1em;
      height: 1.1em;
      margin-left: -1px;
    }
  }
}

div#slider {
  margin-bottom: 4px;
  margin-right: 7px;
}

#ui-datepicker-div {z-index:9999 !important;}
.a.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #000000;
  background: #006600;
}
.ui-widget-content {
  background: #666666;
}
.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
}
.datepicker-input {
  margin-top: 4px;
  margin-right: 5px;
  width: 92px;
  height: 22px;
  background: url(cal.png) no-repeat scroll 67px 0px;
  background-color: @aomSlateGrey;
}
.slider {
    height: 7px;
    width: 100%;
    margin-left: 0;
  }

.ui-datepicker {
  height: 220px !important;
}