/*** uncss> filename: http://web.aom.com/vendor/bootstrap/dist/css/bootstrap.css ***/

/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
@import 'variables.less';
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

button,
input {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h2.forgotten-password.h2 {
  font-weight: 600;
}
p.forgotten-password {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 15px;
}


p.platform{
font-size: 12px;
font-weight: 600;
display: inline-block;
color: gray;
  padding-bottom: 15px;
}

p.forgottenPassword {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

input {
  line-height: normal;
}

input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

@-ms-viewport {
  width: device-width;
}

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}



html,
body,
div,
span,
h2,
p,
a,
img,
ul,
li,
form,
label,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

header,
section {
  display: block;
}

/*!
 * jQuery UI CSS Framework 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

.tick {
  color: green;
  padding-top: 3px;
}

.validation {
  float: left;
  padding-right: 10px;
  padding-top: 3px;
}

.cross {
  color: rgb(165, 52, 52);
  padding-top: 3px;
}

button.ui-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*!
* jQuery UI Progressbar 1.8.22
*
* Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Progressbar#theming
*/

.logoDirect {
  display: inline-block;
  display: inline;
  width: 100px;
  height: 40px;
  background: url(login/logo-sprite.png) no-repeat;
  background-size: 400px 41px;
  zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-width: 48em;
}

.topbar-inner,
header {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1%;
  padding-left: 1%;
  max-width: 107%;
  max-width: 98em;
  *zoom: 1;
  _width: 107%;
}

.topbar-inner:after,
header:after {
  display: table;
  clear: both;
  content: "";
}

@media only screen and (min-width: 48em) {
  .topbar-inner,
  header {
    max-width: 66em;
  }
}

@media only screen and (min-width: 78.8em) {
  .topbar-inner,
  header {
    max-width: 98em;
  }
}

::selection {
  background: #005dab;
  color: white;
}

::-moz-selection {
  background: #005dab;
  color: white;
}

@-ms-viewport {
  width: device-width;
}

:-moz-placeholder {
  color: gray;
  opacity: 1;
}

::-moz-placeholder {
  color: gray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: gray;
}

.radius [placeholder]:focus::-moz-placeholder {
  color: transparent;
}

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

img {
  max-width: 100%;
  border: none;
  -ms-interpolation-mode: bicubic;
}

img.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  background-color: black;
}

body {
  background: @aomWhite;
  color: #333;
  font-size: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 100%;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body-wrapper {
  clear: both;
  margin-bottom: -172px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

input[type="text"],
input[type="password"] {
  padding: 1px 2px;
  font-size: inherit;
  font-family: inherit;
}

.blue {
  background: #005dab;
}

.green {
  background: #9fc544;
}

h2 {
  margin-left: 8px;
  color: #676767;
  font-weight: bold;
  font-size: 0.9em;
}

::-webkit-validation-bubble-message {
  font-size: 14px;
  font-family: inherit;
}

a {
  color: #005dab;
  text-decoration: none;
}

a:active {
  background-color: transparent;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.button,
button {
  font-family: inherit;
  -webkit-appearance: none;
}

button {
  font-size: inherit;
}

button:focus {
  outline: none;
}

.topbar {
  height: 41px;
  background: rgba(0, 0, 0, 0.8);
}

.topbar.auth {
  background: #414141;
}

.topbar-nav {
  float: right;
}

.topbar-li {
  float: left;
  height: 41px;
  border-left: 1px solid #545454;
  font-size: 0.75em;
}

.topbar-li:first-child {
  padding: 13px;
}

.loggedin-msg {
  overflow: hidden;
  padding: 13px;
  border: none;
  color: #b2b2b2;
}

.loggedin-msg .welcome-text {
  float: left;
  padding-right: 4px;
}

.topbar-link {
  color: #eeeeee;
}

.auth .auth-hide {
  display: none;
}

.logoDirect .small {
  display: block;
  width: 102px;
  height: 45px;
  background-position: 1px 10;
}

//#025dab
.direct-blue {
  display: block;
  width: 314px;
  height: 15px;
  background-position: -217px 0;
  color: @aomLightBlue;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 20px !important;
  font-family: "TrebuchetMS", "Trebuchet MS";
}

.searchbar :-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.searchbar ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.searchbar :-ms-input-placeholder {
  color: #fff;
}

.price-dialog .search-input :-moz-placeholder {
  color: #222;
  opacity: 1;
}

.price-dialog .search-input ::-moz-placeholder {
  color: #222;
  opacity: 1;
}

.price-dialog .search-input :-ms-input-placeholder {
  color: #222;
}

.login-screen {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background: black;
}

.login-wrapper {
  position: absolute;
  left: 50%;
  z-index: 1000;
  margin: -170px 0 0 -300px;
  width: 600px;
}

.login-wrapper a:hover {
  color: black;
}

.login-wrapper .cookie-policy {
  padding: 16px;
  color: white;
  text-shadow: 1px 1px 3px #000;
  font-weight: bold;
  font-size: 0.75em;
}

@media only screen and (max-width: 43.75em) {
  .login-wrapper .cookie-policy {
    padding-top: 4px;
  }
}

@media only screen and (max-width: 43.75em) {
  .login-wrapper {
    left: auto;
    top: 80px;
    margin: 0 30px;
    width: auto;
  }
}

.login-box {
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  color: #333;
}

.login-box h2 {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 1em;
}

@media only screen and (max-width: 43.75em) {
  .login-box h2 {
    margin: 0;
  }
}

.login-box section {
  float: left;
  width: 49%;
}

@media only screen and (max-width: 43.75em) {
  .login-box section {
    width: 100%;
  }
}

.login-box .input-text {
  width: 100%;
}

.login-box .button {
  float: right;
  margin: 0;
  font-family: inherit !important;
}

.login-box .login-inputs {
  font-size: 0.75em;
}

.password-link a:hover {
  color: @aomLightBlue !important;
  cursor: pointer;
}

.login-box .login-pane {
  padding-right: 10px;
  border-right: 1px solid #b8b8b8;
}

.login-box .login-pane li {
  overflow: hidden;
  margin-top: 16px;
}

@media only screen and (max-width: 43.75em) {
  .login-box .login-pane {
    border: none;
    padding: 0;
  }
}

.login-box .login-h2 {
  color: @aomLightBlue;;
}

.login-box .first-time-login-h2 {
  color: @aomBrightRed;
  font-weight: bold;
}

@media only screen and (max-width: 43.75em) {
  .login-box .login-h2 {
    display: none;
  }
}

.login-box .register-pane {
  padding-left: 10px;
}

.login-box .register-pane h2 {
  color: #82a333;
}

.login-box .register-pane p {
  margin-bottom: 16px;
  font-size: 0.85em;
}

.login-box .register-pane .button {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

@media only screen and (max-width: 43.75em) {
  .login-box .register-pane {
    display: none;
  }
}

/* Footer logo */

@media screen and (max-device-width: 460px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-height: 630px) {
  .login-box {
    left: auto;
    top: auto;
    margin: 0 auto 10px;
    position: relative;
  }
}

@media only screen and (min-width: 950px) {
  img.bg {
    top: -20px;
  }
}

@media only screen and (min-width: 1125px) {
  img.bg {
    top: -100px;
  }
}

@media only screen and (min-width: 1225px) {
  img.bg {
    top: -150px;
  }
}

@media only screen and (min-width: 1325px) {
  img.bg {
    top: -200px;
  }
}

@media only screen and (min-width: 1425px) {
  img.bg {
    top: -250px;
  }
}

@media only screen and (min-width: 1525px) {
  img.bg {
    top: -300px;
  }
}

@media only screen and (min-width: 1625px) {
  img.bg {
    top: -350px;
  }
}

@media only screen and (min-width: 1725px) {
  img.bg {
    top: -420px;
  }
}

.privacy{
  color:@aomMarketTickerGrey;
  text-shadow: 1px 1px 3px #000;
  font-weight: bold;
  font-size: 1em;
}

/*** uncss> filename: http://web.aom.com/assets/ArgusOpenMarkets-1.0.3Page2.css ***/

