.modal {
  outline: 0 !important;
  width: 650px;
  position: absolute;
  margin-left: -300px;
  left: 50%;
  z-index: 1050;
  right: 0;
  height: auto;
  overflow: auto;
  display: table !important;
  @media screen{
    top: 5%;
    @media (max-height:766px){
      top: 0%;
    }
  }
}

.modal-open {
  overflow-y: auto;
  overflow-x: auto;
  max-width: inherit;
}
.modal.fade {
  overflow-x: auto;
}
.modal-dialog{
  width: 650px !important;
}

.modal-content {
  background: @aomBlueGrey;
  border-radius: 2px;
}

.modal-header {
  padding: 4px 0px 0px 5px;
  height: 30px;
  border: hidden;
}

.modalNotesLabel {
  padding-top: 5px; 
  position: relative;
  float: left;
  height: 70px;
  width: 100px;
}

.modalNotesLabelMi {
  padding-top: 5px; 
  position: relative;
  float: left;
  height: 125px;
  width: 100px;
}

.modalCharactersLeft{
    padding-right: 3px;
    position: absolute;
    bottom: 15px;
    right: -20px;
}

.invisible {
  visibility: hidden;
}

.form-header-title {
  padding-top: 10px;
  padding-left: 5px;
}

.input-form {
  background: @aomBlueGrey;
  color: @aomBlueGrey;
  font-family: @aomFontFamily;

  h3 {
    margin-top: 5px;
    margin-left: 5px;
    color: @aomWhite;
    font-weight: 400;
    font-size: 12px;

  }
  li {
    margin-top: 10px;
    list-style-type: none;
    font-size: 12px;
  }
  ul {
    padding-left: 0px;
  }
  label {
    margin-bottom: 5px;
    /*margin-left: 18px;*/
    padding-right: 18px;
    width: 120px;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    &.label-short{
      width:60px !important;
    }
    &.label-footnote {
      margin-bottom: 0px;
      margin-top: 10px;
      margin-left: 5px;
      width: auto;
      font-style: italic;
      color: @aomBlueGrey;
    }
    &.label-required {
      &:after {
        content: " *";
      }
    }
  }
  hr {
    margin-right: 5px;
    margin-left: 5px;
    border-top: 1px solid @aomBlueGrey;
    background-color: @aomBlueGrey;
  }
  textarea {
    border: 2px solid @aomDoveGrey;
    border-radius: 5px;
    background-color: @aomWhite;
    vertical-align: top;
    resize: none;
  }
  input {
    border: 2px solid @aomDoveGrey;
    border-radius: 5px;
    background-color: @aomWhite;
    vertical-align: top;
    &.large-input{
      width: 272px;
      height: 24px;
    }
    &.order-input{
      width: 110px;
      height: 24px;
      padding-left:1px;
      padding-right:1px;
    }
  }
}

.number-increment-image{
  border: 1px solid #666666;
  border-radius: 5px;
  background-color: #181818;
  cursor: hand;
  cursor: pointer;
}

#tabular-layout {
  display: table;
  width: 98%;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;

  hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid @aomBlueGrey;
    background-color: @aomBlueGrey;
  }
  textarea {
    border: 2px solid @aomDoveGrey;
    border-radius: 5px;
    background-color: @aomWhite;
    vertical-align: top;
    resize: none;
    width: 100%;
  }
  label {
    /*margin: 0;*/
    padding: 0;
    width: auto;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    &.dim {
      color: @aomCmeDarkGrey;
    }
    &.right {
      text-align: right;
    }
    &.read-only-content {
      font-weight: 400;
    }
  }
  div.daysselected {
    float: right;
    padding-top: 8px;
    padding-right: 0px;
  }
}
#tabular-layout row {
  display: table-row;
  margin-top:10px;
  @media screen{
    line-height: 12px;
    @media (max-height:766px){
      line-height: 10px;
    }
  }
}
#tabular-layout row cell {
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 3px;

}#tabular-layout row cell-labels {
   display: table-cell;
   padding-top: 3px;
   padding-bottom: 3px;
   width: 124px;
   vertical-align: middle;
}

#voidReasonSelection {
  height: 30%;
  width: 80%;
  margin-left: 10%;
  margin-top: 40%;
  padding: 10px;
  border: 4px solid @aomDoveGrey;
  border-radius: 5px;
  background-color: @aomSharkGrey;
  label {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
  }
}

.modalLabelAdjustment {
  @media screen{
    margin-top: 3px;
    @media (max-height:766px){
      margin-top: 5px;
    }
  }
}

.email-link:hover {
  text-decoration: underline;
  -moz-text-decoration-color: @aomBlue; /* Code for Firefox */
  text-decoration-color: @aomBlue;
}

.errorMessage {
  padding-top: 5px;
  padding-right: 17px;
  padding-left: 83px;
  color: @aomBrightRed;
}

.errorMessageUnderInput {
  margin-top:2px;
  color: @aomBrightRed;
}

.ng-dirty.ng-invalid {
  outline-color: @aomBrightRed;
  border-color: @aomBrightRed;
}

.ng-dirty.ng-invalid-price {
  outline-color: @aomBrightRed;
  border-color: @aomBrightRed;
}

.ng-dirty.ng-invalid-quantity {
  outline-color: @aomBrightRed;
  border-color: @aomBrightRed;
}

.valid {
  outline-color: @aomLightGreen;
  border-color: @aomLightGreen;
}

.orderFormInputFieldsContainer {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-right: 5px !important;
  background-color: @aomSharkGrey;
  @media screen{
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-height:766px){
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.btn {
  margin-left: 2px;
  width: 80px;
  //border: 1px solid @aomDoveGrey;
  background-color: @aomCmeBlue;
  color: @aomWhite;
  font-weight: 700;
  font-size: 10px;

  &-md{
    width: 130px;
  }

  &-lg{
    width:160px;
  }

  // &:hover {
  //   color: @aomWhite;
  // }

  // &-green {
  //   &:hover {
  //     background-color: @aomLightGreen;
  //   }
  //   &.selected {
  //     background-color: @aomLightGreen;
  //     color: @aomWhite;
  //   }
  // }

  // &-red {
  //   &:hover {
  //     background-color: @aomMaroonRed;
  //   }
  //   &.selected {
  //     background-color: @aomMaroonRed;
  //     color: @aomWhite;
  //   }
  // }

  // &-orange {
  //   &:hover {
  //     background-color: @aomOrange;
  //   }
  // }

  // &-grey {
  //   &:hover {
  //     background-color: @aomDoveGrey;
  //   }
  // }

  //   &-bid {
  //     &:hover {
  //       background-color: @aomBlueGreen;
  //     }
  //     &.selected {
  //       background-color: @aomBlueGreen;
  //       color: @aomWhite;
  //     }
  //   }
  //   &-ask {
  //     &:hover {
  //       background-color: @aomCrimsonRed;
  //     }
  //     &.selected {
  //       background-color: @aomCrimsonRed;
  //       color: @aomWhite;
  //     }
  //   }
  //   &.disabled, &.btn[disabled], fieldset[disabled]{
  //     opacity: .30;
  //   }
}

.btn-group-qty {
  padding-left: 6px;
  margin-top: -1px;
}

.btn-qty {
  padding: 4px 5px;
  width: 50px;
  height: 24px;
  &:hover {
    background-color: @aomCmeDarkGrey;
  }
  &.selected {
    background-color: @aomCmeDarkGrey;
    color: @aomWhite;
  }
}

.orderButtonContainer {
  margin-right: 10px;
  margin-bottom: 30px;
}

.closeButton {
  float: right;
  margin-right: 5px;
  height: 20px !important;
}

.daysselected {
  padding-top: 8px;
  padding-right: 13px;
}

.dropdown-menu {
  background-color: @aomSharkGrey;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: @aomWhite;
  background-color: @aomMineShaftGrey;
}

.dropdown-menu > li > a {
  color: #999999;
}

.input-medium{
  width:113px !important;
}

.order-changed {
  background-color: #BD362F;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.order-updated-header {
  font-weight:bold;
  font-size:12px;
  font-family: Verdana, Verdana;
  padding:4px;
}

.order-updated-text {
  font-weight:normal;
  font-size:12px;
  font-family: Verdana, Verdana;
  padding:4px;
}