@import 'variables.less';

.multiSelect {
  font-family: 'ArialMT', 'Arial';
  img {
    position: absolute;
    right: 6px;
    margin-top: 6px;
    margin-bottom: 0px;
    padding-top: 2px;
    width: 12px;
    height: 14px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    position: relative;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border: 1px solid @aomSharkGrey;
    padding: 5px 8px 6px;
    float: right;
    font-size: 10px;
    line-height: 1;
    border-radius: 2px;
    color: @aomBlueGrey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: @aomWhite;
    //background-image: linear-gradient(#282828, #282828);
    & > div {
      float: left;
    }
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 15px !important;
    vertical-align: middle;
    border-top: 6px solid @aomBlueGrey;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted;
  }
  .button:hover {
    background-image: linear-gradient(@aomSharkGrey, @aomSharkGrey);
  }
  .checkboxLayer {
      background-color: @aomSharkGrey;
      position: absolute;
      margin-top: 30px;
      z-index: 999;
      border-radius: 0px;
      background-clip: padding-box;
      min-width: 0px;
      font-size: 11px;
      border-top: 1px solid grey;
  }
  .vertical {
    float: none;
  }
  .horizontal {
    float: left;
  }
  .checkbox {
    position: absolute;
    left: -9999px;
    cursor: pointer;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  .line {
    margin-bottom: 10px;
  }
  .helperButton {
    margin-left: 1px;
  }
  .checkboxSelected {
    color: @aomBlueGrey;
  }
}

.multiSelect.inlineBlock {
  display: inline-block;
  width: 400px;
}

//.multiSelectItem:hover {
//  background-color: #006600;
//}

.multiSelect.multiSelectItem {
  display: block;
  padding-left: 5px;
  min-height: 20px;
  border-right: 1px solid grey;
  border-bottom: 1px solid gray;
  border-left: 1px solid grey;
  color: @aomBlueGrey;
  vertical-align: middle;
}

label.multiSelect {
  span {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

label.multiSelect input:focus ~ span, label.multiSelect span:hover {
  color: @aomBlueGrey;
  cursor: pointer;
}

.multiSelect.disabled, .multiSelect.disabled:hover {
  color: @aomDoveGrey;
  cursor: not-allowed;
}
