.dealFormInputFieldsContainer {
   margin-right: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   padding-top: 20px;
   padding-right: 5px !important;
   padding-bottom: 20px;
   background-color: @aomSharkGrey;
 }