@import 'variables.less';


@news-headline-color: @aomLighterBlue;
@news-intro-color: @aomNewsGrey;
@news-data-color: white;
@menuHeaderBackground: @aomMineShaftGrey;
@argusOrange : @aomOrange;

.news-container {
  width: inherit;
  height: inherit;
  color: @aomWhite;
  font-weight: 400;
  font-style: normal;
  font-family: 'ArialMT', 'Arial';
  border: 3px @aomBlueGrey solid;
}

.news-header-container {
  min-width: 650px;
  width: 1000px;
  height: 35px;
  padding-top: 3px;
  background-color: @aomBlueGrey;
}

.news-header-collapse {
  float: left;
  margin-left: 2px;
  //margin-top: 2px;
}

.news-header-title {
  float: left;
  width: 330px;
  height: 100%;
  padding-top: 6px;
  text-align: left;
  font-size: 12px;
}

.news.header-close {
  float: right;
  width: 45px;
  height: 100%;
}

.news-data {
  //  overflow-x: hidden;
  top: 0;
  bottom: 0;
  //  overflow-y: scroll;
  width: 997px;
  height: auto;
  font-size: 12px;
  background-color: @aomWhite;
}

.news {
  clip: rect(5px, auto, 5px, auto);
  font-size: 0.75em;
  font-size: 12px;
}

.news-date {
  .news;
  color: @news-headline-color;
  font-size: 13px;
  font-weight: bold;
}

.news-headline {
  .news;
  color: @news-headline-color;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.news-intro {
  .news;
  color: @news-intro-color;
  font-size: 12px;
}

.news-icon {
  float: right;
  padding-top: 3px;
  padding-left: 4px;
}

.news-data-ul {
  overflow-y: hidden;
  position: relative;
  //margin: 2px;
  height: 267px;
  list-style: none;
}

.news-data-li {
  color: @aomBlueGrey;
  min-height: 50px;
  border-bottom: solid 1px @aomBlueGrey;
  text-align: justify;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 15px;
}

.news-data-li:hover {
  background-color: @aomOrange;
}

.news-headline-expanded {
  .news;
  color: @news-headline-color;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}

.news-data-li-expanded {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
}

.news-story-error {
  color: @aomBrightRed;
}
// .news-data-li-expanded:hover {
//   background-color: @aomBlack;
// }