.settings-container{
  margin-right: auto;
  margin-left: auto;
  width: 1006px;
  padding-top: 7px;
  font-size: smaller;
}

.settings-icon-active{
  color:@aomLightOrange;
}

#layoutSettings{
  margin-top: -25px;
  width: 130px;
  display: inline-block;
  background: #424a51;
  text-align: center;
  position: inherit;
  margin-left: -134px;
  height: 100%;
  .caret {
    margin-top: 4px;
    margin-right: 2px;
  }
  h2{
    color: @aomCanaryYellow;
    padding: 5px 6px 6px 9px;
  }
  h3 {
    color: white;
    text-align: left;
    font-size: 14px;
    margin: 0px;
    margin-left: 6px;
    padding: 5px 6px 6px 2px;
    background-color: #424a51;
  }
  h4 {
    color: white;
    text-align: left;
    font-size: 14px;
    margin: 0px;
    margin-left: 0px;
    padding: 5px 6px 6px 15px;
    display: inline-flex;
    background-color: #424a51;
  }
}
.button-container-layout{
  margin-right: 9px;
  margin-bottom: 9px;
}

.sidebar{
  border-left: 140px solid #424a51 !important;
}
.user-layout.gridster {
  width: 630px;
  margin-left: 22px;
  margin-bottom: 15px;
}

.rotated{
  position: absolute;
top: 130px;
left: 19px;
background: none;
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
-ms-transform-origin: 0 0;
-o-transform-origin: 0 0;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
}

.settings-link:hover{
  background-color: @aomBlueGrey;
}
.settings-links-container {
  margin-top: 35px;
  width: 20%;
}

.tileTitle{
  font-weight: 700;
  margin-left: 6px;
  margin-top: 2px;
}

.box-header-btns {
  top: 2px;
  right: 10px;
  cursor: pointer;
  position: absolute;
  a{
    color: rgb(163, 163, 163);
  }
}

.broker-product{
  font-weight: 200;
  padding-left: 5px;
  margin-top: 2px;
  color: rgb(189, 191, 192);
  width: 200px !important;
}

.product{
  font-weight: 200;
  margin-left: 6px;
  margin-top: 2px;
  color: rgb(189, 191, 192);
}

.settings-link{
  color: white;
  background-color: @aomSharkGrey;
  width: 100%;
  height: 50px;
  padding: 7px;
  font-weight: 300;
  font-family: "ArialMT", "Arial";
  border-left: 2px solid @aomBlueGrey;
  border-bottom: 2px solid @aomBlueGrey;
  text-align: center;
}
.settings-link.top{
  border-top: 2px solid @aomBlueGrey;
}

.settings-link.active{
  background-color: @aomBlueGrey;
}

.settings-section{
  width: 80%;
  background-color: @aomSharkGrey;
  border-left: 4px solid @aomBlueGrey;
  border-right: 4px solid @aomBlueGrey;
  border-top: 4px solid @aomBlueGrey;
  border-bottom: 4px solid @aomBlueGrey;
  min-height: 400px;
  color: white;
  margin-bottom: 15px;
}

.settings-section-subcontainer{
  width: 100%;
  background-color: @aomSharkGrey;
  border: 2px solid @aomBlueGrey;
  color: white;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 0px;
  }

.settings-section h1 {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  background-color: @aomBlueGrey;
  padding-bottom: 12px;
}
.settings-section {
  h2 {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-top: 0;
    margin-left: 0px;
    padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
    background-color: @aomBlueGrey;
  }
}
.settings-section .internal-margins {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

.internal-margins-dashboard-layout{
  padding-top: 15px;
  padding-bottom: 15px;
}

.settings-section input {
  color:#666666;
}
.passwordChange{
  font-size: 14px;
  margin-left: 35px;
}

.settings-section .passwordChange label {
  width: 230px;
  font-weight: 700;
  font-size: 14px;
}

.settings-section label {
  color: white;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.layout-container{
  position: relative;
}

.settings-section .passwordValidation {
  margin-left:30px;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid white;
}

.privilege {
  padding-left: 40px;
  padding-bottom: 4px;
}

.privilege-market-open {
  color: grey;
}

label.productTitle {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: @aomCanaryYellow;
}

.settings-section input {
  border: 2px solid @aomDoveGrey;
  border-radius: 5px;
  background-color: @aomSlateGrey;
  vertical-align: top;
}

.settings-section button {
  height: 30px !important;
  border: 1px solid @aomMarketTickerGrey !important;
  border-color: @aomDoveGrey !important;
  background-color: @aomSharkGrey !important;
  color: @aomWhite;
  font-weight: 400;
  font-family: inherit;
}

// Tab settings for the new Counterparty and Broker Tabs.
.tabrow {
  text-align: center;
  list-style: none;
  margin: 0px 0 2px;
  padding-left: 5px;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}
.tabrow li {
  border: 1px solid #57626B;
  background: #57626B;
  // background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  // background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  // background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  // background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  // background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  color: #222;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0 0px;
  padding: 0 20px;
  cursor: pointer;
}
.tabrow a {
  color: #555;
  text-decoration: none;
}
.tabrow li.selected {
  background: #424a51;
  color: #fff;
  z-index: 2;
  border: 1px solid #424a51;
}
.tabrow:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #424a51;
  z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
  border: 1px solid #424a51;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}
.tabrow li:before {
  left: -6px;
  border-bottom-right-radius: 2px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #57626B;
}
.tabrow li:after {
  right: -6px;
  border-bottom-left-radius: 2px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #57626B;
}
.tabrow li.selected:before {
  box-shadow: 2px 2px 0 #424a51;
}
.tabrow li.selected:after {
  box-shadow: -2px 2px 0 #424a51;
}