// FILTER

.filter-container{
  width: 100%;
  background-color: @aomBlueGrey;
  font-size: small;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
}

#counterpartyFilter{
  width: 60px;
  color: @aomWhite;
}

#productFilter{
  width: 60px;
  color: @aomWhite;
}

#actionRequiredFilter{
  display: inline;
}


// MATRIX

.matrix-container{
  width: 100%;
  //border: 1px solid green;
  font-size: small;
  margin-bottom: 10px;
}

.matrix-container .scroll-container-vertical{
  overflow-y: auto;
}
.matrix-container .scroll-container-horizontal{
  overflow-x: auto;
}

//     MATRIX HEADER
.matrix-header-container {
  //border: 1px solid red;
}

.matrix-header-container .counterparty-header{
  width: 200px;
  background-color: @aomBlueGrey;
  padding-left: 4px;
}
.matrix-header-container .products-header{
  display: inline-block;
  float: left;
  overflow-x: auto;
}

.broker-product-header{
  width:200px;
  text-align:center;
  overflow: hidden;
  background-color: #181818;
}
.matrix-header-container .product-header{
  background-color: @aomSlateGrey;
  text-align: center;
  padding-left: 5px;

}.matrix-header-container .product-header .title{
   background-color: @aomBlueGrey;
   text-align: center;
 }
.matrix-header-container .product-header .buy{
  width: 100px;
  font-weight: 200;
  background-color: @aomBlueGreen;
  border: 1px solid @aomBlueGreen;
  text-align: center;
}
.matrix-header-container .product-header .sell{
  width: 100px;
  font-weight: 200;
  background-color: @aomRustBrown;
  border: 1px solid @aomRustBrown;
  text-align: center;
}

//     MATRIX BODY
.matrix-body-container{
  //border: 1px solid blue;
}

.matrix-body-container .matrix-body-row{}

.matrix-body-container .matrix-body-row .counterparty{
  width: 200px;
  height: 30px;
  background-color: @aomPastelGrey;
  color: @aomSharkGrey;
  padding-left: 4px;
}
.matrix-body-container .matrix-body-row .counterparty .allow-counterparty{
  background-color: @aomPastelGrey;
  color: @aomLightGreen;
  border: 1px solid @aomSharkGrey;
  border-radius: 2px;
  margin-right: 2px;
  float: right;
  cursor: pointer;
}
.matrix-body-container .matrix-body-row .counterparty .ban-counterparty{
  background-color: @aomPastelGrey;
  color: @aomBrightRed;
  border: 1px solid @aomSharkGrey;
  border-radius: 2px;
  margin-right: 2px;
  float: right;
  cursor: pointer;
}
.matrix-body-container .matrix-body-row .products{}

.matrix-body-container .matrix-body-row .products .product{
  text-align: center;
  padding-left: 5px;
}
.matrix-body-container .matrix-body-row .products .product .buy{
  width: 100px;
  height: 30px;
  text-align: center;
  border: 1px solid @aomSharkGrey;
}

.matrix-body-container .matrix-body-row .products .broker-product .broker-buy{
  width: 199px;
  height: 30px;
  text-align: center;
  border: 1px solid @aomSharkGrey;
}

.matrix-body-container .matrix-body-row .products .broker-product .broker-sell{
  width: 1px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid @aomSharkGrey;
}

.matrix-body-container .matrix-body-row .products .product .sell{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid @aomSharkGrey;
}

.brokerus{
  width: 50%;
  color: @aomWhite;
  float: left;
  cursor: pointer;
}
.brokerthem{
  width: 50%;
  color: @aomNewsGrey;
  float: left;
}

.matrix-body-container .matrix-body-row .products .product .us{
  width: 50%;
  color: @aomWhite;
  float: left;
  cursor: pointer;
}
.matrix-body-container .matrix-body-row .products .product .them{
  width: 50%;
  color: @aomNewsGrey;
  float: left;
}

.matrix-body-container .matrix-body-row .products .product .status-allow{
  background-color: @aomLightGreen;
  border: 1px solid @aomLightGreen;
}
.matrix-body-container .matrix-body-row .products .product .status-forbid{
  background-color: @aomCrimsonRed;
  border: 1px solid @aomCrimsonRed;
}
.matrix-body-container .matrix-body-row .products .product .status-conflict{
  background-color: @aomLightOrange;
  border: 1px solid @aomLightOrange;
}
.matrix-body-container .matrix-body-row .products .product .changed-false{

}
.matrix-body-container .matrix-body-row .products .product .changed-true{
  border: 1px solid @aomCanaryYellow;
}

.matrix-body-container .matrix-body-row .products .product .subscribed-false{
  background-color: @aomSharkGrey;
  border: 1px solid @aomSharkGrey;
}

// BROKER PRODUCT
.matrix-body-container .matrix-body-row .products .broker-product .status-allow{
  background-color: @aomLightGreen;
  border: 1px solid @aomLightGreen;
}
.matrix-body-container .matrix-body-row .products .broker-product .status-forbid{
  background-color: @aomCrimsonRed;
  border: 1px solid @aomCrimsonRed;
}
.matrix-body-container .matrix-body-row .products .broker-product .status-conflict{
  background-color: @aomLightOrange;
  border: 1px solid @aomLightOrange;
}
.matrix-body-container .matrix-body-row .products .broker-product .changed-false{

}
.matrix-body-container .matrix-body-row .products .broker-product .changed-true{
  border: 1px solid @aomCanaryYellow;
}

.matrix-body-container .matrix-body-row .products .broker-product .subscribed-false{
  background-color: @aomSharkGrey;
  border: 1px solid @aomSharkGrey;
}

// END BROKER-PRODUCT


// FOOTER

.footer-container{
  width: 100%;
  font-size: small;
}

.footer-container .wait-message{
  float:left;
  padding: 5px;
  color: @aomCanaryYellow;
  background-color: @aomBlueGrey;
}
.footer-container .last-updated{
  float:left;
  padding: 5px;
  background-color: @aomBlueGrey;
}

.footer-container .button-container{
  float:right;
  margin-bottom: 10px;

}.footer-container .button-container .btn{
   font-size: small;
   cursor: pointer;
 }

// CONFIRMATION

.confirmation-dialog{}

.confirmation-dialog .counterparties {
  margin-bottom: 10px;
}
.confirmation-dialog .counterparty {
  margin-top: 10px;
  color: @aomCanaryYellow;
}
.confirmation-dialog .products {
  margin-top: 5px;
  margin-bottom: 10px;
}
.confirmation-dialog .product {
  margin-left: 20px;
  text-underline: single @aomWhite;
}
.confirmation-dialog .buy {
  margin-left: 40px;
}
.confirmation-dialog .sell {
  margin-left: 40px;
}

.confirmation-dialog .Allow {
  color: @aomLightGreen;
}
.confirmation-dialog .Deny {
  color: @aomBrightRed;
}
.confirmation-dialog .NotSet {
  color: @aomLightOrange;
}
.confirmation-dialog .error-message {
  color: @aomBrightRed;
  margin-top: 10px;
}
