/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */
//@import '../../vendor/bootstrap/less/variables.less';


//OLD
//@titleBarGrey: @aomBlueGrey;
//@sansFontFamily: 'Roboto', sans-serif;
//@background: @aomSharkGrey;
//@tileBackground: #424b52; = @aomBlueGrey
//@bidBlueLight: #162F3A; //= @aomBlueGreen
//@bidBlueDark: #061C25; // = @aomSeaGreen
//@askOddRow: @aomRustBrown;
//@askEvenRow: @aomBrown;
//@darkGrey: @aomSlateGrey;
//@buttonBlue: #0B5070; // =@aomBlue
//@buttonRed: @aomCrimsonRed; //=@aomCrimsonRed
//@buttonGreen: #006600; //=@aomLightGreen
//@buttonTeal: @aomBlueGreen;
//@errorRed: #FF0000; //=@aomBrightRed
//@hoverOrange: #CC6600; //=@aomOrange
//@itemIsMineHighlight: #f39400; // !CHANGED to @aomOrange #FF6600
//@itemPendingHighlight: #ffff00; //CHANGED to @aomYellow #FFFF33
//@priceDown: #a00000; // not used
//@priceUp: @aomLightGreen; //not used
//@darkGreen: #006600; //@aomLightGreen: #008000;


//OLD

@aomFontFamily: "ArialMT", "Arial";
//greens
@aomLightGreen: #008000;
@aomDarkGreen: #003333;
@aomPeaGreen: #4b9a31;
@aomOlive: #023434;
//blues
@aomLightBlue: #006FA3;
@aomBlue: #085070;
@aomLighterBlue: #1A88BA;

//@aomSeaGreen: #071C25;
//@aomBlueGreen: #172F3A;
@aomSeaGreen: @aomCmeLightGrey;
@aomBlueGreen: @aomWhite;

//@aomRustBrown: #311B1C;
//@aomBrown: #1E0504;
@aomRustBrown: @aomWhite;
@aomBrown: @aomCmeLightGrey;

//yellows
@aomYellow: #FFFF33;
@aomCanaryYellow: #FFCC00;

//oranges
@aomOrange: #FF7400;
@aomLightOrange:#FF7400;

//reds
@aomBrightRed: #CC0000;
@aomMaroonRed: #810600;
@aomCrimsonRed: #52201E;

//grey scale
@aomMarketTickerGrey: #d3d3d3;
@aomPastelGrey: #CCCCCC;
@aomNewsGrey: #999999;
@aomNewsLightGrey: #787878;
@aomDoveGrey: #666666;
@aomMarketTickerDarkGrey: @aomDoveGrey;
//@aomBlueGrey: #424A51;
@aomBlueGrey: @aomCmeDarkGrey;
@aomCharcoalGrey: #414141;
@aomMineShaftGrey: #333333;
//@aomSharkGrey: #282828;
@aomSharkGrey: @aomCmeLightGrey;
@aomMarketTickerLightBlack: @aomSharkGrey;
@aomDarkGrey: #1D2124;
@aomSlateGrey: #181818;
@aomBlack: #060606;
@aomAlmostBlack: #101010;
// whites
@aomWhite: #FFFFFF;

@footerHeight: 148px;

@aomCmeBlue: #0195E7;
@aomCmeDarkGrey: #575C60;
@aomCmeLightGrey: #DCDCDC;




