<div id="assessment-container" class="">
  <div class="panel panel-assessment">
    <div *ngIf="(loading$ | async)" class="spinner-wrapper spinner-wrapper-assessment">
      <div class="loading-spinner"></div>
    </div>

    <div id="assessment-heading" class="panel-heading">{{product.name}}</div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row assessment-status">
          <div class="col-xs-6">
            <div [ngSwitch]="(assessment$ | async)?.previous?.trendFromPreviousAssesment?.toUpperCase()">
              <span class="glyphicon glyphicon-triangle-top text-success" *ngSwitchCase="'UPWARD'"></span>
              <span class="glyphicon glyphicon-triangle-bottom text-danger" *ngSwitchCase="'DOWNWARD'"></span>
              <span class="glyphicon glyphicon-triangle-right text-warning" *ngSwitchDefault></span>
              <div id="today-assessment-status" class="pull-right">{{ (assessment$ | async)?.today?.assessmentStatus }}</div>
            </div>
          </div>
          <div class="col-xs-6">
            <div id="previous-assessment-status" class="pull-right">{{ (assessment$ | async)?.previous?.assessmentStatus }}</div>
          </div>
        </div>
        <!-- results rows -->
        <div class="row assessment-results">
          <div class="col-xs-6">
            <div id="today-business-date" class="text-left">{{ (assessment$ | async)?.today?.businessDate | date: 'dd-MMM'}}</div>
            <hr /> Low:
            <span id="today-price-low" class="pull-right">{{ formatPrice((assessment$ | async)?.today?.priceLow)}}</span>
            <hr /> High:
            <span id="today-price-high" class="pull-right">{{ formatPrice((assessment$ | async)?.today?.priceHigh)}}</span>
          </div>
          <div class="col-xs-6">
            <div id="previous-business-date" class="text-right">{{ (assessment$ | async)?.previous?.businessDate | date: 'dd-MMM'}}</div>
            <hr /> Low:
            <span id="previous-price-low" class="pull-right">{{ formatPrice((assessment$ | async)?.previous?.priceLow)}}</span>
            <hr /> High:
            <span id="previous-price-high" class="pull-right">{{ formatPrice((assessment$ | async)?.previous?.priceHigh)}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
