<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <popup-layer></popup-layer>
            <modal #modal>
            </modal>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                    <button (click)="refreshUsers()" class="btn btn-primary col-xs-2">Refresh
                    </button>
                    </div>
                    <div class="col-md-4">
                    <p><search-box (update)="term = $event"></search-box></p>
                    </div>
                </div>
                <ul class="list-group">
                    <li *ngFor="#user of listUsers | search : term; #i=index" class="list-group-item">
                        <div class="row">
                            <label class="col-xs-3"><input type="checkbox" title="User Blocked" [(ngModel)]="user.isBlocked">
                                {{user.name}}</label>
                            <label class="col-xs-3">{{user.username}}</label>
                            <label class="col-xs-3">{{user.organisation}}</label>
                            <label class="col-xs-3">{{user.lastSeen | date: 'medium'}}</label>
                        </div>
                        <div class="row">
                            <button (click)="modal.open(user, 'reset')" [disabled]="disableResetPassword(user)" class="btn btn-primary col-xs-2">Reset Pwd
                            </button>
                            <button (click)="modal.open(user, 'terminate')" [disabled]="disableTerminateUser(user)" class="btn btn-primary col-xs-2">Terminate User
                            </button>
                            <button (click)="modal.open(user, 'block')" [disabled]="disableBlockUser(user)" class="btn btn-primary col-xs-2">Block User
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>