<div ngcloak class="stickyFooter">
    <div style="position: relative; margin: auto; height: 150px; width: 990px;">
        <div>
            <img src="assets/footerimg.png" alt="" />
        </div>

        <div class="col-md-12" style="margin-left: 240px; margin-top: -16px;">
            <div id="footer-inside">
                <ul id="footerLinks" class="footerCopyRightList">
                    <li class="footerCopyRightLinks"><a target="_blank" class="footerCopyRightUrls" href="http://www.argusmedia.com/Ft/Trademarks">Trademarks</a></li>
                    <li class="footerCopyRightLinks"><a target="_blank" class="footerCopyRightUrls" href="http://www.argusmedia.com/Ft/Terms">Terms</a></li>
                    <li class="footerCopyRightLinks"><a target="_blank" class="footerCopyRightUrls" href="http://www.argusmedia.com/Ft/Privacy-Policy">Privacy policy</a></li>
                    <li class="footerCopyRightLinks"><a target="_blank" class="footerCopyRightUrls" href="http://www.argusmedia.com/AOM">Contact us</a></li>
                    <li class="footerCopyRightLinks"><a target="_blank" class="footerCopyRightUrls" href="http://www.argusmedia.com">www.argusmedia.com</a></li>
                </ul>
                <p class="footerCopyRightParagraphGeneric">
                    <span class="footerCopyRightGeneric">Copyright © {{copyrightYear}}.</span>
                    <span class="footerCopyRightGeneric">Argus Media group, All rights reserved</span>
                    <br /><br />
                    <span class="footerCopyRightGeneric">Notice: By accessing this site you agree that you will not copy or reproduce any part of its contents (including, but not limited to,<br /></span>
                    <span class="footerCopyRightGeneric">single prices, graphs or news content) in any form or any purpose whatsoever without the prior written consent of the publisher.</span>
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>