<div>
    <table class="assessment-price-table">
        <tr class="assessment-item-price">
            <td class="assessment-label">{{assessmentlabel}}</td>
            <td>Low -</td>
            <td ng-class="getPriceClass(assessment)">{{assessment.priceLow | formatAssessmentPrice}}</td>
        </tr>
        <tr class="assessment-item-price">
            <td>{{ assessment.businessDate | formatAssessmentDate }}</td>
            <td>High -</td>
            <td ng-class="getPriceClass(assessment)">{{assessment.priceHigh | formatAssessmentPrice}}</td>
        </tr>
    </table>
</div>