<div class="assessment-container"> <!-- ng-style="{{getGridHeight()}}" ng-grid="assessmentsGridOptions">-->
    <div class="assessment-header-container">
        <div class="assessment-header-collapse">
            <!--<img src="assets/gridtitlecollapse.png" />-->
            <i class="fa fa-calculator widget-icon-color" aria-hidden="true"></i>
        </div>
        <div class="assessment-header-title" titletemplate="{{Title}}">{{Title | capitalize}}</div>
    </div>
    <div class="assessment-item">
        <div class="row assessment-row">
            <div class="col-md-3 " style="text-align: center; padding-top:4px; padding-bottom:4px;" ng-repeat="assessment in assessments">
                <table class="assessment-data-container" style="padding: 2px;">
                    <tr class="assessment-title">
                        <td colspan="2" ng-click="openAssessmentDialog(assessment)" ng-class="getCursorClass()">
                            <span ng-class="getPriceClass(assessment.assessment.today)"/>&nbsp;{{getProductName(assessment.assessment.productId) | uppercase}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-class="getPriceClass(assessment.assessment.today)" class="pull-left">
                                <div ng-hide="assessment.assessmentStatus === 'None'" class="caret"></div>
                            </div>
                            <div class="assessment-status-display-name">{{assessmentStatusDisplayName(assessment.assessment.today.assessmentStatus)}}</div>
                            <ar-assessment assessment="assessment.assessment.today" assessmentlabel="Today:"></ar-assessment>
                        </td>
                        <td>
                            <div class="assessment-status-display-name">{{assessmentStatusDisplayName(assessment.assessment.previous.assessmentStatus)}}</div>
                            <ar-assessment assessment="assessment.assessment.previous" assessmentlabel="Prev:"></ar-assessment>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>