<div class="small input-form ng-cloak " ng-cloak ng-keypress ng-class="" style="height:285px;">
    <form name="inputAssessmentForm" ng-submit="submitForm(newExternalDealForm.$valid)" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png" />
            <h3>
                Assessment Price Input
            </h3>
        </div>
        <div class="assessmentFormInputFieldsContainer">
            <div id="tabular-layout">

                <row>
                     <cell-labels colspan="2"> <label> Product </label> </cell-labels>
                        <cell colspan="2">
                            {{getProductName(assessment.assessment.productId)}}
                        </cell>
                </row>

                <row></row>

                <br />
                <row>
                    <cell-labels colspan="2" id="assessment-product-label" style="width:240px;" ><label>Current EOD</label></cell-labels>
                    <cell style="width:100px"><label>Low</label></cell>
                    <cell><label>High</label> </cell>
                </row>

                <row>
                    <cell-labels> <label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <input name="lowPrice" class="input-medium" ng-model="lowInput.low" required
                               ng-change="priceSpecification.isValid(inputAssessmentForm, 'low')"
                               pattern="^[-]?\d{0,9}(\.\d{0,{{priceSpecification.decimalPlaces}}})?$" type="text">
                    </cell>
                    <cell>
                        <input name="highPrice" class="input-medium" ng-model="highInput.high" required
                               ng-change="priceSpecification.isValid(inputAssessmentForm, 'high')"
                               pattern="^[-]?\d{0,9}(\.\d{0,{{priceSpecification.decimalPlaces}}})?$" type="text">
                    </cell>
                </row>

                <row id="dark-select">
                    <cell-labels colspan="2" id="assessment-product-label" style="width:240px;" ><label>Status</label></cell-labels>
                    <cell>
                        <select chosen
                                required
                                ng-model="selectedAssessmentStatus"
                                ng-selected="selectedAssessmentStatus"
                                ng-change="selectAssessmentStatus(selectedAssessmentStatus)"
                                disable-search="true"
                                ng-options="assessmentStatusDisplayName(s) for s in statuses">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>

                <row></row>

                <row id="dark-select">
                    <cell-labels colspan="2" id="assessment-product-label" style="width:240px;" ><label>Period</label></cell-labels>
                    <cell>
                        <select chosen
                                required
                                ng-model="selectedAssessmentPeriod"
                                ng-selected="selectedAssessmentPeriod"
                                ng-change="selectAssessmentPeriod(selectedAssessmentPeriod)"
                                disable-search="true"
                                ng-options="s for s in assessmentPeriods">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>

                <row></row>

                <row>
                    <cell-labels> <label class="invisible">Buttons</label></cell-labels>
                    <cell><button ng-enabled="showClearAssessmentButton()" type="button" class="btn btn-lg" ng-click="clearAssessmentValue()" >{{clearAssessmentValueButtonLabel}}</button></cell>
                    <cell ng-if="!alreadyRolled" colspan="2" ><button type="button" ng-click="rollAssesment()" class="btn btn-lg btn-red no-left-padding selected" ng-disabled="assessment.assessment.today.priceHigh == null">Roll To Previous Day's Prices</button> </cell>
                    <cell ng-if="alreadyRolled" colspan="2" ><button  type="button"  class="btn btn-lg btn-red no-left-padding selected" ng-disabled="true">Prices already rolled</button> </cell>
                    <cell colspan="2" ><button type="submit" ng-click="newAssesment()" class="btn btn-lg btn-green selected" ng-disabled="disabled || inputAssessmentForm.$error.required || inputAssessmentForm.$invalid">Input Current EOD Prices</button> </cell>
                </row>

            </div>
        </div>
    </form>
</div>


