.badge {
  padding: 7px 18px;
  min-width: 75px;

  &-ask {
    @include badge-variant($badge-ask-color, $badge-ask-bg);
  }

  &-bid {
    @include badge-variant($badge-bid-color, $badge-bid-bg);
  }

  &-deal {
    @include badge-variant($badge-deal-color, $badge-deal-bg);
  }

  &-info {
    @include badge-variant($badge-info-color, $badge-info-bg);
  }
}
