.btn {
  @extend %text-upper;
  font-size: $font-size-base * 0.85;
  border-radius: 2px;

  &-count {
    background-color: $btn-count-bg;
    color: $btn-count-color;
    @extend %font-normal;
    border-radius: 0;
    border-color: $btn-count-border;
    @extend %font-normal;
    @extend %pad-all-1;
    padding-top: 5px!important;
    min-height: 25px;
    min-width: 27px;

    &-plus {

    }

    &-minus {

    }

    // have to give it a default hover color
    &:hover {
      color: $btn-count-hover;
    }
  }

  &-ask {
    @extend .btn-sm;
    padding: 4px 10px;
  }

  &-bid {
    @extend .btn-sm;
    padding: 4px 10px;
  }
}

// login buttons, both primary and 'more info' link
.login-child {
  &-cta {
    a,
    .btn {
      @extend .btn-sm;
    }
  }
}

.btn-ask {
  @include button-variant($btn-ask-color, $btn-ask-bg, $btn-ask-border);
}

.btn-bid {
  @include button-variant($btn-bid-color, $btn-bid-bg, $btn-bid-border);
}

.btn-deal {
  @include button-variant($btn-deal-color, $btn-deal-bg, $btn-deal-border);
}

.btn-login,
a.btn-login {
  @include button-variant($btn-login-color, $btn-login-bg, $btn-login-border);
}

.btn-quantity {
  @include button-variant($btn-quantity-color, $btn-quantity-bg, $btn-quantity-border);

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.selected {
    background-color: $btn-quantity-hover-bg;
    border-color: $btn-quantity-hover-border;
  }
}

.btn-toggle-stack {
  background-color: $gray-darkest;
  border-color: $gray;
  @extend %pad-horizontal-4;
  padding-top: 3px!important;
  padding-bottom: 1px!important;

  &.active {
    [class^="icon-"], [class*=" icon-"] {
      color: $gray;
    }
  }
}

.btn-edit {
  padding: 0!important;
  color: $text-color;
}

.dropdown-menu {
  .btn-link {
    font-size: $font-size-base;
    color: $white;
    @extend %pad-horizontal-0;
    @extend %pad-top-2;
    @extend %pad-bottom-1;

    &:hover {
      color: $bid-highlight;
      text-decoration: none;
    }
  }
}

// button groups
.btn-group {
  &-count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 18px;
    margin-top: 2px;
  }

  &-quantity {
    .btn {
      border-radius: 0;
      border-width: 1px;
      border-bottom-width: 2px;
    }

    .btn-group:first-child {
      .btn {
          border-left-width: 2px;
      }
    }

    .btn-group:last-child {
      .btn {
          border-right-width: 2px;
      }
    }
  }
}
