/*
***********************************************************

Styling for *-wrapper and *-container ids and classes

TOC
---
- app.component - #app-wrapper (wraps everything)
- shell.component - #shell-wrapper (within app-wrapper, contains all but the footer)
- login.component - #login-wrapper (within app-wrapper, for login only)
- .widget-container
- .assessment-container
- .news-container
- .settings-container - settings section
- footer

***********************************************************
*/

// to position the footer at the bottom of the screen
* {
  margin: 0;
}
html, body {
  height: 100%;
}

#app-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -125px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
  height: 125px; /* .push must be the same height as .footer */
}

// app.component
#app-wrapper {
  // see app.component.scss
}

// shell.component
#shell-wrapper {
  // see shell.component.scss
}

// login.component
#login-wrapper {
  // see login.component.scss
}

// .widget-container

// .assessment-container - see pages/_assessment.scss

// .news-container - see pages/_news.scss



// .settings-container - see pages/_settings.scss
