﻿// some font styling

// headings
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

.login {
  h2 {
    color: $login-h2;
  }

  h4 {
    color: $login-h4;
    @extend %font-bold;
  }

  p,
  .password-validation,
  li {
    color: $gray;
  }

  .text-muted {
    color: darken($gray-light, 5%);
  }
}

// assessment panel
.assessment-details {
  p {

  }
}

// getMarketTickerType colors
.ticker {
  &-info {
    color: $ticker-info;
  }
  &-mine {
    color: $ticker-mine;
  }
  &-executable {
    color: $ticker-executable;
  }
  &-executable-4way {
    color: $ticker-executable-4way;
  }
}

// Font colours in tables
.text-prompt {
  color: $bid-highlight;
}

.price-ask {
  color: $ask-highlight;
}

.price-bid {
  color: $bid-highlight;
}

// .popover-text-ask {
//   color: $ask-highlight;
//   @extend %text-upper;
// }

// .popover-text-bid {
//   color: $bid-highlight;
//   @extend %text-upper;
// }

.title-popover-ask {
  @extend %title-popover;
  border-left-color: $popover-title-ask;

  span {
    color: $ask-highlight;
  }
}


.title-popover-bid {
  @extend %title-popover;
  border-left-color: $popover-title-bid;

  span {
    color: $bid-highlight;
  }
}

// TODO: Refactor the above to the below in the templates
.table,
.pricing-options {
  &-ask {
    .text-highlight,
    .text-prompt {
      color: $ask-highlight;
    }
  }

  &-bid {
    .text-highlight,
    .text-prompt {
      color: $bid-highlight;
    }
  }
}

// pricing components
.pricing-options {
  .text-highlight {
    @extend %text-upper;
  }
}

// settings section
.settings-container {
  h1 {
    font-size: $font-size-h1 * 0.75;
    background-color: $gray;
    //display:block!important;
    @extend %pad-all-1;
  }

  h2 {
    @extend %pad-left-3;
      font-size: $font-size-h2 * 0.75;
  }
}

// additional font families
@font-face {
  font-family: 'aom-icons';
  src:  url('./assets/fonts/aom-icons.eot?kmvqc6');
  src:  url('./assets/fonts/aom-icons.eot?kmvqc6#iefix') format('embedded-opentype'),
    url('./assets/fonts/aom-icons.ttf?kmvqc6') format('truetype'),
    url('./assets/fonts/aom-icons.woff?kmvqc6') format('woff'),
    url('./assets/fonts/aom-icons.svg?kmvqc6#aom-icons') format('svg');
  @extend %font-normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-full-screen:before {
  content: "\e907";
}

.icon-info-circle:before {
  content: "\e900";
}
.icon-edit-note:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-question-circle:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e906";
}
.icon-cog:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e909";
}
.icon-file:before {
  content: "\e903";
}
.icon-bin:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-tick:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e914";
}
.icon-chevron-left:before {
  content: "\e915";
}
.icon-chevron-right:before {
  content: "\e916";
}
.icon-chevron-up:before {
  content: "\e917";
}
.icon-arrow-down:before {
  content: "\e910";
}
.icon-arrow-left:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}

// situation with the multi-select component in that there are two choices for iicons - glyphicons or fontawesome.
// So to use the argus media set we must appropriate fontawesome and use for our own purposes:

.fa {
  font-family: 'aom-icons' !important;
}

.fa-check:before {
  @extend .icon-tick;
}

.fa-times:before {
  @extend .icon-close;
}
