// default form elements
textarea {
  resize: none;
}

// Bootstrap .form-control overrides
.form-control {
  border-width: 2px;
  height: auto;
  padding: 4px 5px;
}

.modal-ask {
  .form-control {
    @include form-control-focus-ask;
  }
}

// Bootstrap .form-horizontal overrides
.form-horizontal {
  .control-label {
    @extend %text-left;
  }
}

// Bootstrap .form-group overrides
.form-group {
  // specific layout for the broker question (alignment of the checkbox underneath)
  &-broker {
    @extend %margin-bottom-1;
  }

  // form-group-quantity: the combined quantity and btn-group component
  &-quantity {
    position: relative;

    .form-control {
      border-bottom-width: 1px;
      width: calc(100% - 1px);
    }
  }

}


// Old styled radio and checkbox - DELETE 01/12/17

// styled checkboxes version one
// .checkbox {
//   @extend %styled-checkbox-radio;
//   @extend %pad-all-0;
//   label {
//     color: $gray-light;
//     padding-left: 0;
//   }
//
//   input + span {
//     border-radius: 2px;
//     margin-top: -2px;
//
//     &::after {
//       font-family: 'aom-icons';
//       content: "\e90f";
//       font-size: $font-size-base * 0.9;
//       width: 15px;
//       height: 15px;
//       padding-left: 2px;
//     }
//   }
// }
