// Anything to do with links!
#{$a-tags} {
  color: $text-color;
}
#{$a-tags-hover} {
  color: $gray-light;
}

.dropdown-menu {
  li {
    #{$a-tags} {
      color: $text-color;
    }
    #{$a-tags-hover} {
      color: $bid-highlight!important;
      text-decoration: none;
    }
  }
}

header {
  .am-link {
    #{$a-tags} {
      color: $text-color;
    }
    #{$a-tags-hover} {
      color: $bid-lightest!important;
      text-decoration: none;
    }
  }
}

.login {
  #{$a-tags} {
    @extend %font-bold;
    color: $link-color;
  }
  #{$a-tags-hover} {
    @extend %font-bold;
    color: darken($link-color, 10%);
  }
}

footer {
  #{$a-tags} {
    @extend %font-bold;
  }
  #{$a-tags-hover} {
    @extend %font-bold;
  }
}

// setting tabbed na on the left hand side
.settings-container-nav {
  .nav {
    li {
      #{$a-tags} {
        font-size: $font-size-base * 1.15;
        border: 0;
      }
      #{$a-tags-hover},
      .active {
        background-color: $panel-default-heading-bg;
        color: $text-color;
        border: 0;
      }
    }
  }
}

// the 'bin' icon in the panel heading
.widget-remove {
  position: absolute;
  top: 0;
  right: 0;
  @extend %margin-right-3;
}
