.modal {
  &-content {
    border-radius: 0;
    border-width: $unit-px;
  }

  // the modal-ask style
  &-ask {
    .modal {
      &-header {
        background-color: $modal-header-ask-bg!important;
      }

      &-content {
        border-color: $modal-header-ask-border;
      }
    }

    .btn-count {
      &:hover {
        color: $btn-count-hover-ask;
      }
    }

    .custom-select {
      &:active::after,
      &:focus::after,
      &:hover::after {
        color: $modal-hover-ask;
      }
    }

    // .days-selected {
    //   color: $days-selected-ask;
    // }
  }

  // the modal-bid style
  &-bid {
    .modal {
      &-header {
        background-color: $modal-header-bid-bg!important;
      }

      &-content {
        border-color: $modal-header-bid-border;
      }

    }

    .btn-count {
      &:hover {
        color: $btn-count-hover-bid;
      }
    }

    .custom-select {
      &:active::after,
      &:focus::after,
      &:hover::after {
        color: $modal-hover-bid;
      }
    }

    // .days-selected {
    //   color: $days-selected-bid;
    // }
  }

  hr {
    border-top-color: $gray;
  }
}
