// Default panel
.panel {
  border: $unit-px solid $panel-default-border;
  border-top-width: 0;

  > .panel {
    border-width: 0;
  }

  > .panel-heading {
    background-color: $panel-default-heading-bg;
    border-bottom: 0;
    @extend %text-upper;

    [class*=" col-"],
    [class^="col-"] {
      @extend %pad-left-1;
      @extend %pad-right-3;

      &:first-child {
        @extend %pad-left-3;
        @extend %pad-right-1;
      }
    }
  }

  &-heading-title {
    padding-top: 3px;
    float: left;
    width: calc(100% - 50px);
  }

  &-footer {
    @extend %margin-all-1;
  }

  &-bid {
    @extend %pad-right-0;
  }

  &-ask {
    @extend %pad-left-0;
  }

  hr {
    @extend %margin-vertical-1;
    border-top-color: $panel-default-border;
  }
}
