.spinner-wrapper {
  position: absolute;
  margin-left: calc(50% - 15px);
  @extend %margin-top-10;
  z-index: 1020;
}

.loading-spinner {
  @extend %loading-spinner-default;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  &:after {
    @extend %loading-spinner-default;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}







// // icon for the spinner
// .glyphicon-loading-spinner {
//     // -webkit-animation: spin .7s infinite linear;
//     // -moz-animation: spin .7s infinite linear;
//     // -o-animation: spin .7s infinite linear;
//     // animation: spin .7s infinite linear;
// }
//
// // keyframe animation for the loading spinner
// // @keyframes spin {
// //     from { transform: scale(1) rotate(0deg);}
// //     to { transform: scale(1) rotate(360deg);}
// // }
//
//
// // container for spinner
// .spinner-wrapper {
//   font-size: 22px;
//   @extend %font-normal;
// }
//
// .glyphicon-loading-spinner {
//     -webkit-animation: spin 1000ms infinite linear;
//     animation: spin 1000ms infinite linear;
//     -webkit-filter: blur(0);
//     -webkit-transform-origin: 50% 50%;
//     transform-origin:50% 50%;
//     -ms-transform-origin:50% 50%; /* IE 9 */
// }
//
// @-webkit-keyframes spin {
//     0% {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg);
//     }
//     100% {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg);
//     }
// }
//
// @keyframes spin {
//     0% {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg);
//     }
//     100% {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg);
//     }
// }
