.jonso-bongo,
.jonso-bongo-td {
    padding:20px;
    background-color: $black;
    padding: 20px;

    border: 1px solid transparent;
    border-image: url("~/assets/images/dashed-line-bid.png") 1 repeat;
    border-collapse: separate;
}

// tables within a panel
.panel {
  .table {
    @extend .table-condensed;
    @extend %text-upper;
    @extend %text-center;
    font-size: $font-size-base * 0.95;
    margin-bottom: 0;

    tbody + tbody {

    }

    tbody {
      th {
        border-bottom-width: 0;
      }

      td {
        border-top-width: 0;
        max-width: 75px;

        .limit-width {
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 98%;
        }
      }

      &:first-child {
        td {
          border-top-width: 0px;
        }
      }
    }

    &-ask {
      tbody + tbody {
        border-top: 1px solid $ask-table-border;
      }

      tbody {
        background-color: $ask-bg-even;

        td:nth-child(n+7):nth-child(-n+14) {
          border-top: 1px solid transparent;
          border-image: url("~/assets/images/dashed-line-ask.png") 1 repeat;
          border-collapse: separate;
        }

        &:nth-of-type(odd) {
          background-color: $ask-bg-odd;
        }

        &:hover {
          background-color: $table-row-highlight;
        }
      }

      .end {
        border-left: 1px solid $ask-table-border;
      }

      .price {
        color: $ask-highlight;
      }
    }

    &-bid {
      tbody + tbody {
        border-top: 1px solid $bid-table-border;
      }

      tbody {
        background-color: $bid-bg-even;

        td:nth-child(n+7):nth-child(-n+14) {
          border-top: 1px solid transparent;
          border-image: url("~/assets/images/dashed-line-bid.png") 1 repeat;
          border-collapse: separate;
        }

        &:nth-of-type(odd) {
          background-color: $bid-bg-odd;
        }

        &:hover {
          background-color: $table-row-highlight;
        }
      }

      .end {
        border-right: 1px solid $bid-table-border;
      }

      .price {
        color: $bid-lightest;
      }
    }

    thead {
      .end {
        border-right-width: 0;
        border-left-width: 0;
      }
    }
  }
}



// freaky inception-like table within a table scenario
.panel {
  .table {
    .table {
      @extend .table-condensed;
      text-align: left;
      background-color: transparent;
      border-bottom-width: 0;
      text-transform: none;
      margin-bottom: 17px;

      &-ask,
      &-bid {
        > tbody {
          > tr {
            border-top-width: 0;

            > th {
              border-top-width: 0;
              border-bottom-width: 0;
            }
          }
        }
      }
    }
  }
}

// in the pricing component there is a tale cell that contains currency/tonne
.price-currency {
  @extend %pad-left-0;
  @extend %pad-right-1;


  padding-left: $unit-px;
  padding-left: $unit-px;
}
