.bordered {
  border: 1px solid $table-border-color;
}

.border-right {
   border-right: 1px solid $gray-light;
}

// fonts
.text-uppercase {
  @extend %text-upper;
}

// the caret / dropdown in the multi-select Component
.caret {
  float: right;
  border-left: 0!important;
  border-right: 0!important;
  border-top: 0!important;

  &:before {
    content:'';
    right: 2px;
    top: 3px;
    width: $unit-px * 4;
    height: 22px;
    background: $input-bg;
    position: absolute;
    pointer-events: none;
    display: block;
  }

  &:after {
    font-family: 'aom-icons';
    content: "\e914";
    font-size: $font-size-base * 1.33;
    right: 8px;
    top: 3px;
    padding: 0;
    position: absolute;
    pointer-events: none;
  }
}
