<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-example">
      <div class="panel-heading">Modal</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 example-item">

            <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
            <button type="button" class="btn btn-primary" (click)="openModalLarge(template2)">Open modal large</button>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-sm" (click)="config.animated = !config.animated">{{config.animated ? 'Disable' : 'Enable'}} animation</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="config.keyboard = !config.keyboard">{{config.keyboard ? 'Disable' : 'Enable'}} Esc</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="config.backdrop = !config.backdrop">{{config.backdrop ? 'Disable' : 'Enable'}} backdrop</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="config.ignoreBackdropClick = !config.ignoreBackdropClick">{{!config.ignoreBackdropClick ? 'Disable' : 'Enable'}} backdrop click</button>

            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true"><span class="icon-close"></span></span>
                </button>
              </div>
              <div class="modal-body">
                Just a modal with a bunch of words inside, nothing serious.
              </div>
            </ng-template>

            <ng-template #template2>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Wide Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true"><span class="icon-close"></span></span>
                </button>
              </div>
              <div class="modal-body">

              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </div>


  </div>




  <div class="col-md-6">
    <div class="panel panel-default panel-example">
      <div class="panel-heading">Form elements</div>
      <div class="panel-body">
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label for="metaLabel1" class="col-sm-4 control-label">Input type text</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="metaLabel1" placeholder="Placeholder text">
                  </div>
                </div>

                <div class="form-group">
                  <label for="metaLabel2" class="col-sm-4 control-label">Input type password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="metaLabel2" placeholder="Placeholder text">
                  </div>
                </div>

                <div class="form-group">
                  <label for="metaLabel3" class="col-sm-4 control-label">Input type email</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="metaLabel2" placeholder="Placeholder text">
                  </div>
                </div>

                <div class="form-group">
                  <label for="metaLabel6" class="col-sm-4 control-label">Text area</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="metaLabel5" class="col-sm-4 control-label">Select input</label>
                  <div class="col-sm-8 custom-select">
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>



                <div class="form-group has-feedback">
                  <label for="metaLabel4" class="col-sm-4 control-label">Alt Delivery picker</label>
                  <div class="col-sm-5">
                    <input class="form-control" placeholder="Daterangepicker" bsDaterangepicker [minDate]="minDate" [maxDate]="maxDate" #dpr="bsDaterangepicker">
                    <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="col-sm-3">
                    <div class="days-selected"> 10 days selected</div>
                  </div>
                </div>
              </div>

              <div class="form-horizontal">
                <div class="form-group">
                  <label for="metaLabel6" class="col-sm-4 control-label">Checkboxes</label>
                  <div class="col-sm-8">
                    <div class="checkbox">
                      <input type="checkbox" value="">
                      <label>Option one</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" value="">
                      <label>Option two</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="metaLabel10" class="col-sm-4 control-label">Inline checkboxes</label>
                  <div class="col-sm-8">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"><span></span>Option 1
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"><span></span>Option 2
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="metaLabel11" class="col-sm-4 control-label">Radio buttons</label>
                  <div class="col-sm-8">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked><span></span>Option one
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span></span>Option two
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="metaLabel12" class="col-sm-4 control-label">Inline radio buttons</label>
                  <div class="col-sm-8">
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><span></span>Option 1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"><span></span>Option 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"><span></span>Option 3
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Button group</label>
                  <div class="col-sm-8">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-quantity">Left</button>
                      <button type="button" class="btn btn-quantity">Middle</button>
                      <button type="button" class="btn btn-quantity">Right</button>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </form>

        <!--


        // input[type="datetime"]
        // input[type="datetime-local"]
        // input[type="date"]
        // input[type="month"]
        // input[type="time"]
        // input[type="week"]
        // input[type="number"]

        // input[type="url"]
        // input[type="search"]
        // input[type="tel"]
        // input[type="color"]


        <div class="row">
          <div class="col-sm-6 example-item">

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox"><span></span>Remember me
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Sign in</button>
  </div>
</div>
</form>

          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
