<div class="news-container">
    <div class="news-header-container">
        <div class="news-header-collapse">
            <!--<img src="assets/gridtitlecollapse.png" />-->
            <i class="fa fa-newspaper-o widget-icon-color" aria-hidden="true"></i>
        </div>
        <div class="news-header-title" titletemplate="{{Title}}">{{Title | capitalize}}</div>
    </div>
    <div class="news-data">
            <perfect-scrollbar scroll-container mousewheeldistance="96" id="news-data-scroller" class="news-data-ul">
                <li id="{{'article'+msg.cmsId}}" ng-class-even="'even'" ng-class-odd="'odd'" class="news-data-li" ng-repeat="msg in newsFeedItems">
                    <div>
                        <div ng-click="expandItem(msg)" ng-if="!msg.expanded">
                            <label class="news-date">{{msg.formattedDate}}</label><label class="news-headline">{{::msg.headline}}</label>
                            <br/>
                            {{::msg.story}}
                            <span class="pull-right news-item-price-down">
                                <div class="caret"></div>
                            </span>
                        </div>
                        <div ng-if="msg.expanded"  class="news-data-li-expanded">
                             <div class="news-date">{{::formatDate(expandedItem.publicationDate) }}
                                <img ng-click="closeExpandedItem(msg)" class="news-icon" src="assets/closecross_small.png">
                                <a class="news-icon" ng-href='{{expandedItem.itemUrl}}' target='_blank'>
                                    <img src="assets/popout_small.png"/>
                                </a>
                            </div>
                            <div class="news-headline-expanded">{{expandedItem.headline}}</div>
                            <div ng-class="{'news-story-error':expandedItem.error}" ng-click="closeExpandedItem(msg)" ng-bind-html="expandedItem.story"></div>
                        </div>
                    </div>
                </li>
			</perfect-scrollbar>
    </div>
</div>