<div class="panel-body-height">
   <div class="panel-body-container" ng-class="{
                  'message-ticker-item-is-void':item.isVoid,
                  'message-ticker-item-is-pending':item.isPending,
                  'message-ticker-item-is-active':item.isActive,
                  'message-ticker-item-is-mine':item.isMine,
                  'message-ticker-item-non-tradeable':item.notTradeable
                  }">
      <div class="panel-body-btn-container">
         <span ng-class="item.itemDisplayClass" class="label label-default btn-deal-action">
            <p ng-click="marketTickerItemClicked(item)" ng-class="{'btn-strike':item.isVoid }">
               <span class="market-ticker-item-type">{{::item.marketTickerItemTypePrefix}} {{::item.marketTickerItemTypeUpper}}</span>
            </p>
         </span>
      </div>
      <div class="panel-body-market-info-container">
         <div class="panel-body-content-container">
            <div class="panel-body-date-content-container">
               <p>{{item.formattedDate}}</p>
            </div>
            <div class="panel-body-info-content-container">
               <p ng-click="marketTickerItemClicked(item)" class="market-ticker-message-text">{{::item.message}}</br> {{::item.notes}}</p>
            </div>
         </div>
	     <div class="market-ticker-item-cobrokering-icon">
            <!--<img src="assets/cobroker.png" ng-style="{'visibility':item.coBrokering===true?'visible':'hidden'}"/>-->
            <i class="fa fa-arrows-alt" aria-hidden="true" ng-style="{'visibility':item.coBrokering===true?'visible':'hidden'}"></i>
         </div>
         <div class="market-ticker-item-notes-icon">
            <!--<img src="assets/notesPresent.png" ng-style="{'visibility':item.notes!=null?'visible':'hidden'}"/>-->
            <i class="fa fa-list-alt fa-1" aria-hidden="true" ng-style="{'visibility':item.notes!=null?'visible':'hidden'}"></i>
         </div>
      </div>
   </div>
</div>