// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import styling specific to the settings section
@import "./src/assets/sass/pages/_settings";





// #settings-wrapper {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
//
// #settings-nav {
//
//     ul {
//         width: 250px;
//         margin: 0;
//         padding: 0;
//         list-style: none;
//
//         li {
//             line-height: 40px;
//             text-align: center;
//
//             a {
//                 display: block;
//                 text-decoration: none;
//                 border-width: 0px 2px 2px 2px;
//                 border-style: solid;
//                 color: white;
//                 &:hover, &:active, &:focus {
//                     text-decoration: none;
//                     color: white;
//                 }
//             }
//         }
//     }
// }
//
// #settings-content {
//     min-height: 600px;
//     min-width: 800px;
//     border: 1px solid;
//     padding: 10px;
// }
//
// .first-item {
//     border-top: 2px solid;
// }
