﻿@model AomWebAdmin.Models.ChangeUserPasswordViewModel

@{
    ViewBag.Title = "Change User Password";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
    @using (Html.BeginForm("ChangeUserPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Change Password</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TemporaryPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.TemporaryPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TemporaryPasswordExpirationHours, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.TemporaryPasswordExpirationHours, new { @class = "form-control" })
            </div>
        </div>
        @Html.HiddenFor(m => m.UserId);
        @Html.HiddenFor(m => m.ReturnUrl);
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set password" class="btn btn-default" onclick="return confirm('Are you sure you want to change the password?')" />
                <a class="btn btn-default" href="@Model.ReturnUrl" role="button">Cancel</a>
            </div>
        </div>
    }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" language="javascript">
        $(function () {
            var updateExpirationHoursInput = function() {
                $("#TemporaryPasswordExpirationHours").attr("disabled", !$("#TemporaryPassword").is(":checked"));
            };

            updateExpirationHoursInput();

            $("#TemporaryPassword").click(updateExpirationHoursInput);
        });
    </script>
}
