<div class="pull-right settings-section">
	<div><h1>System Information</h1></div>
	<div class="internal-margins">
		<div><label>Connection Status:</label>{{connectionStatus}}</div>
		<div><label>User Name:</label>{{user.name}}</div>
		<div><label>User ID:</label>{{user.id}}</div>
		<div><label>Company Name:</label>{{company.name}}</div>
		<div><label>Company ID:</label>{{company.id}}</div>
		<div class="settings-section-subcontainer">
			<h2 ng-click="isCollapsedVersionInfo = !isCollapsedVersionInfo">Version Information
				<div class="caret" ng-class="{'caret-reversed':isCollapsedVersionInfo}"></div>
			</h2>
			<div collapse="isCollapsedVersionInfo">
				<div class="internal-margins">
					<div><label>Application Version:</label>{{applicationVersion}}</div>
					<div><label>Operating System:</label>{{osVersion}}</div>
				</div>
			</div>
		</div>
		<div class="settings-section-subcontainer">
			<h2 ng-click="isCollapsedBrowserInfo = !isCollapsedBrowserInfo">Browser Information
				<div class="caret" ng-class="{'caret-reversed':isCollapsedBrowserInfo}"></div>
			</h2>
			<div collapse="isCollapsedBrowserInfo">
				<div class="internal-margins">
					<div><label>Name:</label>{{browserInfo.name}}</div>
					<div><label>Version:</label>{{browserInfo.version}}</div>
					<div><label>Flash Version:</label>{{browserInfo.flashVersion}}</div>
					<div><label>User Agent String:</label>{{browserInfo.userAgentString}}</div>
				</div>
			</div>
		</div>
	</div>
</div>