<div class="col-md-3">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">{{ productName }}</div>
        </div>
        <div class="panel-body">
            <div class="col-md-6 today">
                Today
            </div>
            <div class="col-md-6 prev">
                Prev
            </div>
        </div>
    </div>
</div>