.panel {
    border: 1px solid #ffffff;
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 0px;

    .panel-heading {
        background-color: #424A51;
    }

    .panel-heading > .panel-title{
        color: #fff;
    }

    .panel-body {
        color: #fff;
        background-color: #000;
    }
}