<div class="col-xs-6">
    <div class="panel panel-market">
        <div class="panel-heading handle">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel-heading-title">
                        <!-- <img src="assets/gridtitlecollapse.png ">  -->
                        {{ productDefinition.productName }}
                    </div>
                    <button type="button" class="btn btn-bid pull-right" (click)="openModalBid(templateBid)">+ Bid</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-ask pull-left" (click)="openModalAsk(templateAsk)">+ Ask</button>
                    <div class="pull-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <aom-simple-market [isBid]=true></aom-simple-market>
                <aom-simple-market [isBid]=false></aom-simple-market>
            </div>
        </div>
    </div>
<div>

<!-- Template for the Bid modal -->
<ng-template #templateBid>
        <div class="modal-content-overlay" *ngIf="!hideDiv">
          <div class="modal-content-overlay-header">
            <h4 class="modal-title">Order Modified. Click refresh to update details.
              <button class="btn btn-default pull-right" type="button" (click)="hideDiv=true">Refresh</button>
            </h4>
          </div>
        </div>


        <div class="modal-header">
          <h4 class="modal-title pull-left">Bid Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">
              <span class="icon-close"></span>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="price" class="col-sm-4 control-label">Price</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="price" placeholder="">
              </div>
            </div>

            <div class="form-group form-group-quantity">
              <label for="quantity" class="col-sm-4 control-label">Quantity (t)</label>
              <div class="col-sm-8">
                <div class="btn-group btn-group-count" role="group">
                  <button type="button" class="btn btn-count btn-count-minus">
                    <div class="icon-minus"></div>
                  </button>
                  <button type="button" class="btn btn-count btn-count-plus">
                    <div class="icon-plus"></div>
                  </button>
                </div>
                <input type="text" class="form-control" id="quantity" placeholder="Placeholder text">
                <!-- The amounts as a group of buttons -->
                <div class="btn-group-justified btn-group-quantity" role="group">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-quantity">450</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-quantity">500</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-quantity">750</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-quantity">800</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-quantity">850</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group has-feedback date-range">
              <label for="deliveryPeriod" class="col-sm-4 control-label">Delivery period</label>
              <div class="date-range-item">
                <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
                <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
              </div>
              <div class="date-range-item">
                <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
                <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
              </div>
              <div class="date-range-item">
                <div class="days-selected"> 10 days selected</div>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-4 control-label">Delivery location</label>
              <div class="col-sm-8 custom-select">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <hr />

            <div class="form-group form-group-broker">
              <label for="broker" class="col-xs-4 control-label">Broker</label>
              <div class="col-xs-8 custom-select">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="col-xs-offset-4 col-xs-8">
                <div class="checkbox">
                  <input type="checkbox" id="allowOtherBrokers">
                  <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
                </div>
              </div>
            </div>

            <hr />

            <div class="form-group">
              <label for="metaLabel1" class="col-sm-4 control-label">Meta Label 1</label>
              <div class="col-sm-8 custom-select">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="metaLabel2" class="col-sm-4 control-label">Meta Label 2</label>
              <div class="col-sm-8 custom-select">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <hr />

            <div class="form-group">
              <label for="notes" class="col-sm-4 control-label">
                Notes
                <br />
                <span class="small">256 chars left</span>
              </label>
              <div class="col-sm-8">
                <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Create</button>
          <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
        </div>
      </ng-template>

      <!-- Template for the Ask modal -->
      <ng-template #templateAsk>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Ask Modal</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">
              <span class="icon-close"></span>
            </span>
          </button>
        </div>
        <div class="modal-body">

        </div>
      </ng-template>
