<div *ngIf="isBid; then Bid else Ask">
    
</div>

<ng-template #Bid>
  <div class="col-xs-6 panel-bid bordered-right">
    <div class="table-responsive">
      <table id="t00" class="table table-bid">
        <thead>
          <tr>
            <th> </th>
            <th>Date</th>
            <th>Bro</th>
            <th>Pri</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="icon-edit-note"></div></td>
            <td>23-30</td>
            <td>*</td>
            <td>XTT</td>
            <td>500</td>
            <td class="price">647.00</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #Ask>
  <div class="col-xs-6 panel-ask">
    <div class="table-responsive">
      <table id="t01" class="table table-ask">
        <thead>
          <tr>
            <th>Price</th>
            <th>Qty</th>
            <th>Pri</th>
            <th>Bro</th>
            <th>Date</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
              <td><div class="icon-edit-note"></div></td>
          </tr>
          </tbody>
          <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</ng-template>

<!--
<div class="row board" style="margin-top:0px;margin-left:2px;width:100%;overflow:auto;height:100%;display:inline-block;">
  <table class="data-table" border="0" id="t00" border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;width: 50%;max-width: 30px;float:left">
      <tr>
          <th>DATE</th>
          <th>BRO</th>
          <th>PRI</th>
          <th>QTY</th>
          <th>
              <a class="btn btn-primary navbar-btn" style='margin-right: 10px;'>+BID</a>
          </th>
      </tr>
      <tr>
          <td>23-30</td>
          <td>*</td>
          <td>XTT</td>
          <td>500</td>
          <td style="color:#3399cc">647.00</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
  </table>
  <table class="data-table" border="0" id="t01" border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;width: 50%; max-width:30px;float:left">
      <tr>
          <th>
              <a class="btn btn-primary navbar-btn" style='margin-right: 10px;background-color:#52201E;border-color:rgb(124, 7, 2)'>+ASK</a>
          </th>
          <th>QTY</th>
          <th>PRI</th>
          <th>BRO</th>
          <th>DATE</th>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
      </tr>

  </table>
</div>
-->
