<aom-not-supported-browser *ngIf="unsupportedBrowserPreventLogin"></aom-not-supported-browser>
<div class="login-parent" *ngIf="!unsupportedBrowserPreventLogin">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-child border-right">
    <div class="login-child-child">
      <h4>Already registered? Login below</h4>
      <div class="form-group">
        <label for="login-form-email">Enter your username</label>
        <input type="email" class="form-control" id="login-form-email" formControlName="email" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="login-form-email">Enter your password</label>
        <input type="password" class="form-control" id="login-form-password" formControlName="password" placeholder="Password">
      </div>
      <!-- <div class="checkbox">
        <label [ngClass]="{'isChecked':(checkboxSelectedValue === '1')}">
          <input type="checkbox" formControlName="rememberMe" value="1"
            (click)="addLabelBorder($event.target.value)"
            [hidden]='checkboxSelectedValue === "1"'
          >
          <span></span>Remember me on this computer
        </label>
      </div> -->

      <div class="checkbox">
        <input type="checkbox" id="rememberMe"  formControlName="rememberMe">
        <label for="rememberMe">Remember me on this computer</label>
      </div>

      <div id="forgotten-password" class="form-group">
        <a id="login-form-forgotten-password" [routerLink]=" ['/login/forgotten-password'] " class="">Forgotten Password?</a>
      </div>
      <div id="unsupported-browser-warning" class="form-group" *ngIf="unsupportedBrowserShowWarning">
        <span>This application is optimised for Google Chrome, Firefox, Edge and IE11+</span>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="login-form-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>
    </div>
    <div class="login-child-child-last">
      <div id="submit-reset-password" class="login-child-cta">
        <button id="login-form-sign-in" type="submit" class="btn btn-primary pull-right" [disabled]="isLoginDisabled()">Sign in</button>
        <div class="spinner-wrapper spinner-wrapper-login">
          <div *ngIf="(session$ | async)?.loading" class="loading-spinner"></div>
        </div>
      </div>
    </div>
  </form>

  <aom-register class="login-child"></aom-register>
</div>


<!--

<aom-not-supported-browser *ngIf="unsupportedBrowserPreventLogin"></aom-not-supported-browser>
<div class="row" *ngIf="!unsupportedBrowserPreventLogin">
  <div class="col-xs-6 login-item border-right">
    <h4>Already registered? Login below</h4>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="login-form-email">Enter your username</label>
        <input type="email" class="form-control" id="login-form-email" formControlName="email" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="login-form-email">Enter your password</label>
        <input type="password" class="form-control" id="login-form-password" formControlName="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="rememberMe">
          <span></span>Remember me on this computer
        </label>
      </div>
      <div id="forgotten-password" class="form-group">
        <a id="login-form-forgotten-password" [routerLink]=" ['/login/forgotten-password'] " class="">Forgotten Password?</a>
      </div>
      <div id="unsupported-browser-warning" class="form-group" *ngIf="unsupportedBrowserShowWarning">
        <span>This application is optimised for Google Chrome, Firefox, Edge and IE11+</span>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="login-form-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>

      <div id="sign-in" class="cta-login">
        <div class="wrapper-spinner wrapper-spinner-login">
          <div class="item-spinner">
            <span *ngIf="(session$ | async)?.loading" class="glyphicon-repeat glyphicon glyphicon-loading-spinner"></span>
          </div>
          <div class="item-button">
            <button id="login-form-sign-in" type="submit" class="btn btn-primary" [disabled]="isLoginDisabled()">Sign in</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="register-section" class="col-xs-6 login-item">
    <aom-register></aom-register>
  </div>
</div> -->
