@import "./src/assets/sass/partials/partials";

// import the login styling
@import "./src/assets/sass/pages/_login";
@import "./src/assets/sass/components/_component.custom-checkbox";


#unsupported-browser-warning {
    color: $black;
    padding-bottom: 10px;
}


.checkbox {
  > [type="checkbox"]:not(:checked),
  > [type="checkbox"]:checked {
    + label {
      &:before {
        border: 1px solid $checkbox-border;
        background: $checkbox-bg;
      }

      &:after {
        color: $checkbox-color;
      }
    }
  }
}
