<div class="pull-right settings-section sidebar">
	<div><h1>Dashboard Layout</h1></div>
	<div class="internal-margins-dashboard-layout">
		<div>
			<div class="layout-container">

				<div id="layoutSettings" class="pull-left">
					<h2 class="layoutSettingsTitle">Add Widget</h2>

					<h3>Assessments<i class="fa fa-plus pull-right" ng-click="addTile('all','assessments')" ng-show="canAddWidget('all','assessments')"> </i></h3>

					<h3 ng-click="isCollapsedBA = !isCollapsedBA">Bid Ask Stack
						<div class="caret pull-right" ng-class="{'caret-reversed':isCollapsedBA}"></div>
					</h3>
					<div collapse="!isCollapsedBA">
						<h4 ng-repeat="productId in productIds"  ng-show="canAddWidget([productId],'bidAskStack')" ><div>{{::getProductTitle(productId)}}</div><i ng-click="addTile([productId],'bidAskStack')" class="fa fa-plus pull-right"> </i></h4>
					</div>
					<h3>News Feed <i class="fa fa-plus pull-right" ng-click="addTile('all','newsFeed')" ng-show="canAddWidget('all','newsFeed')"> </i></h3>

					<h3>Market Ticker <i class="fa fa-plus pull-right" ng-click="addTile('all','marketTicker')" ng-show="canAddWidget('all','marketTicker')"> </i></h3>
				</div>
				<div class="rotated">Visible Area</div>
				<div class="user-layout pull-left" ng-style="{'background':visibleLayout}" gridster="gridsterOptions">
					<ul>
						<li gridster-item row="item.tile.row" col="item.tile.col" size-x="item.tile.sizeX" size-y="item.tile.sizeY/2" ng-repeat="item in layout" style="overflow:auto">
							<div class="box-header-btns">
								<a title="Remove widget" ng-click="removeTile(item)"><i class="fa fa-times"></i></a>
							</div>
							<div class="tileTitle">{{item.view | camelCaseToSpacedString}}
								<span class="product" ng-show="item.productTitles[0]=='All'">- All Products</span>
							</div>
							<div class="product" ng-show="item.productTitles[0]!='All'"
							     ng-repeat="productTitle in item.productTitles">
								{{productTitle}}
							</div>
						</li>
					</ul>
				</div>
				<div class="button-container-layout pull-right">
					<button id="btnUpdate" class="btn btn-sm btn-green" type="button" ng-disabled="!userHasMadeAChange"
					        ng-click="commitChanges()">Save
					</button>
					<button id="btnCancel" class="btn btn-sm btn-grey" type="button" ng-disabled="!userHasMadeAChange"
					        ng-click="cancelChanges()">Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
