// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import the simple bid/ask stack specific styling
@import "./src/assets/sass/pages/_market.simple";

.stack {
  display: flex;
  flex-direction: row;

  // .stack-child
  &-child {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;


    &:last-child {
      border-left: 2px solid $gray;
    }

    // .stack-child-ask
    &-ask {

    }

    // .stack-child-bid
    &-bid {
      border-bottom: 1px solid $bid-table-border;

      th {
        &.border-l {
          border-left: 1px solid transparent;
        }
      }

      td {
        border-bottom: 1px dashed $bid-table-border;

        &.border-l {
          border-left: 1px solid $bid-table-border;
        }
      }

      tr:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    // .stack-child-child
    &-child {
      flex-grow: 3;
      //min-height: 50px;

      &:nth-child(1) {
        flex-grow: 4;
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
      }
    }
  }
}




.stack:nth-child(odd) {
  .stack-child-ask {
    background-color: $ask-bg-odd;

    &:hover {
      td {
        background-color: $table-row-highlight;
      }
    }
  }

  .stack-child-bid {
    background-color: $bid-bg-odd;

    &:hover {
      td {
        background-color: $table-row-highlight;
      }
    }
  }
}

.stack:nth-child(even) {
  .stack-child-ask {
    background-color: $ask-bg-even;

    &:hover {
      td {
        background-color: $table-row-highlight;
      }
    }
  }

  .stack-child-bid {
    background-color: $bid-bg-even;

    &:hover {
      td {
        background-color: $table-row-highlight;
      }
    }
  }
}

.table-stack {
  width: 100%;
  max-width: 100%;
  font-size: $font-size-base * 0.95;

  th {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 2px solid $gray;

  }

  td {
    padding: 5px;
  }

}
