<div class="row">
  <div class="col-xs-12">
    <h1>Complex Bid Ask Stack</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-market">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel-heading-title">
              Complex Bid Ask Stack
            </div>
            <button type="button" class="btn btn-bid pull-right">+ Bid</button>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-ask pull-left">+ Ask</button>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="stack">
          <div class="stack-child stack-child-bid">
            <div class="stack-child-child">
              <table class="table-stack">
                <thead>
                  <tr>
                    <th> </th>
                    <th>Time</th>
                    <th>Bro</th>
                    <th>Pri</th>
                    <th>Date</th>
                    <th>Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>

                      <button type="button" class="btn btn-link btn-edit" (click)="openModalPricingComplex()"><div class="icon-edit-note"></div></button>
                    </td>
                    <td>16:57</td>
                    <td>?</td>
                    <td>ITO</td>
                    <td><div class="limit-width">20 Feb-20 Apr</div></td>
                    <td>23,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="stack-child-child">
              <table class="table-stack">
                <thead>
                  <tr>
                    <th class="border-l">%</th>
                    <th colspan="3">Pricing basis 2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-l">50%</td>
                    <td>Feb</td>
                    <td>CP</td>
                    <td class="price">+8.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="stack-child-child">
              <table class="table-stack">
                <thead>
                  <tr>
                    <th class="border-l">%</th>
                    <th colspan="3">Pricing basis 1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-l">50%</td>
                    <td> </td>
                    <td>Fixed</td>
                    <td class="price">488.00</td>
                  </tr>
                  <tr>
                    <td class="border-l">100%</td>
                    <td>Feb</td>
                    <td>CP</td>
                    <td class="price">+5.50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="stack-child stack-child-ask">
            <div class="stack-child-child">
              <table class="table">
                <thead>
                  <th>head</th>
                </thead>
                <tbody>
                  <td>body</td>
                </tbody>
              </table>
            </div>
            <div class="stack-child-child">
              <table class="table">
                <thead>
                  <th>head</th>
                </thead>
                <tbody>
                  <td>body</td>
                </tbody>
              </table>
            </div>
            <div class="stack-child-child">
              <table class="table">
                <thead>
                  <th>head</th>
                </thead>
                <tbody>
                  <td>body</td>
                </tbody>
              </table>
            </div>
          </div>

        </div>




        <div class="stack">
          <div class="stack-child stack-child-bid">
            <div class="stack-child-child">
              one
            </div>
            <div class="stack-child-child">
              tweo
            </div>
            <div class="stack-child-child">
              three
            </div>
          </div>

          <div class="stack-child stack-child-ask">
            <div class="stack-child-child">
              one
            </div>
            <div class="stack-child-child">
              tweo
            </div>
            <div class="stack-child-child">
              three
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
