<div ngCloak class="row menu-header">
    <div class="pull-left aomtitle">
        Argus Open Markets
    </div>

    <div class="pull-right menuItemContainer logoIconContainer">
        <a href="http://www.argusmedia.com" target="_blank" class="menuItemContainer pull-right logoDirectDashboard small hide-text" style="margin-top: 0px; horizontal-align:left; width: 70px; height:21px;"></a>
    </div>

    <div ng-show="showSettings()" class="menuItemContainer pull-right center dividerLeft dividerRight" title="Settings">
        <div ng-hide="state == 'UserSettings'" ui-sref="UserSettings" style="margin-top:3px;"><i class="fa fa-cog" > </i></div>
        <div ng-show="state == 'UserSettings'"  ui-sref="Dashboard" style="margin-top:3px;" class="settings-icon-active"><i class="fa fa-cog fa-spin" > </i></div>


    </div>

    <div class="menuItemContainer pull-right center dividerLeft dividerRight" title="Help">
        <img ng-click="downloadHelpFile()" src="assets/header/helpIcon.png" style="margin-top:2px;">
    </div>

    <div class="menuItemContainer pull-right center">
        <a href="http://direct.argusmedia.com" class="headerIcon header-single-line" target="_blank">Argus direct</a>
    </div>

    <div class="menuItemContainer pull-right center dividerRight">
        <a id="logout" ng-click="logout()" class="headerIcon header-single-line" alt="Logout">Signout</a>
    </div>

    <div class="menuItemContainer pull-right userDetails dividerRight">
        <p id="header-logged-on-user">{{username}}</p>
        <p class="header-user-role">{{userOrganisationName}}</p>
    </div>

</div>
