<div *ngIf="isBid; then Bid else Ask">

</div>

<ng-template #Bid>
    <table id="t00" class="col-xs-4" style="width: 100%">
        <thead *ngIf="showHeader">
            <tr>
                <th> </th>
                <th>Time</th>
                <th>Bro</th>
                <th>Pri</th>
                <th>Date</th>
                <th class="end">Qty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{order ? "notes icon" : "&nbsp;"}}</td>
                <td>{{order?.lastUpdated | date: "HH:mm"}}</td>
                <td>{{order?.brokerShortCode}}</td>
                <td>{{order?.principalOrganisationShortCode }}</td>
                <td>{{order?.lastUpdated | date: "HH:mm"}}</td>
                <td class="end">{{ order?.quantity }}</td>
            </tr>

            <!--<tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td class="end"> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td class="end"> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td class="end"> </td>
            </tr>
        -->
        </tbody>
    </table>
</ng-template>

<ng-template #Ask>
    <table id="t00" class="col-xs-4">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Date</th>
                <th>Pri</th>
                <th>Bro</th>
                <th>Time</th>
                <th class="end"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order?.quantity }}</td>
                <td>{{order?.lastUpdated | date: "HH:mm"}}</td>
                <td>{{order?.principalOrganisationShortCode}}</td>
                <td>{{order?.brokerShortCode}}</td>
                <td>{{order?.lastUpdated | date: "HH:mm"}}</td>
                <td class="end">{{ order?.quantity }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>