// the panel
.panel-assessment {
  position: relative;
  width: 100%;
  min-height: 155px;
}

// container for spinner
.spinner-wrapper {
  &-assessment {
    //@extend %spinner-wrapper-panel;
    
  }
}

// the content - today / previous information
.assessment {
  &-container {
    width: $unit-1x;
    @extend %pad-horizontal-1;
    float: left;

    &:nth-child(6n+1) {
      @extend %pad-left-3;
    }

    &:nth-child(6n){
      @extend %pad-right-3;
    }
  }

  &-status {
    @extend %pad-all-0;
    @extend %pad-bottom-1;
    text-transform: uppercase;
    border-bottom: 1px solid $table-border-color;
    min-height: 23px;

    [class*="col-"],
    [class^="col-"] {
      @extend %pad-all-0;
    }
  }

  &-results {

    [class*="col-"],
    [class^="col-"] {
      @extend %pad-all-0;

      &:nth-child(1) {
        margin-right: 2px!important;
        @extend %pad-all-1;
        width: calc(50% - 2px);
      }

      &:nth-child(2) {
        margin-left: 2px!important;
        @extend %pad-all-1;
        width: calc(50% - 2px);
      }

      .result-date {
        display: block;
        background-color: $panel-bg;
        text-align: center;
        @extend %margin-bottom-1;

      }
    }
  }
}
