// override default header styling
header {
  .navbar-header {
    @extend %pad-horizontal-2;
    @extend %pad-vertical-2;
  }

  .am-link {
    padding-top: 12px;
  }
}

// login specific styling
#login-wrapper {
  height: calc(100vh - 125px);
  @extend %override-responsiveness;
}

#login-main {
  background:url("~/assets/login/login-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// the login box in the middle of the page
.login {
  width: $unit-1x * 3;
  margin: auto;
  background-color: $white;
  @extend %pad-all-4;
}

.login-item {
  min-height: 260px;
}

// aligning both the left side and right side buttons to the bottom of the container
.login-parent {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.login-child {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  min-height: 260px;
  width: 50%;
  @extend %pad-left-4;

  // the left hand side with the main form
  &:first-child {
    @extend %pad-left-0;
    @extend %pad-right-4;
  }

  &-child {
    flex-grow: 1;
  }

  &-child-last {
  }

  &-cta {
    overflow: hidden;

    a,
    .btn {
      padding: 4px 10px;
      font-size: $font-size-base * 0.85;
      border-radius: 2px;
    }
  }
}

// login spinner
.spinner-wrapper {
  &-login {
    position: relative;
    float: right;
    @extend %margin-all-0;
    @extend %margin-right-1;
    color: $aom-blue;
    height: $font-size-base * 1.75;

    .loading-spinner {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      border-top: 4px solid rgba(0, 93, 171, 0.2);
      border-right: 4px solid rgba(0, 93, 171, 0.2);
      border-bottom: 4px solid rgba(0, 93, 171, 0.2);
      border-left: 4px solid $aom-blue;
    }
  }
}


// // Specific styling for the login form
label {
  color: $login-label;
}

.form-control {
  color: $login-label;
  background-color: lighten($gray-lighter, 10%);
  border-bottom-width: 2px;
}
