// when user mouses over a table row, the resulting popup styling
@import "./src/assets/sass/components/_component.custom-checkbox";
@import "./src/assets/sass/components/_component.custom-select";
@import "./src/assets/sass/components/_component.datepicker";
@import "./src/assets/sass/components/_component.pricing";
@import "./src/assets/sass/components/_component.modal";

.panel {
  // The bid/ask stack panel
  &-market {
    .panel-body {
      @extend %pad-all-0;
    }

    .panel-footer {
      border-top: 0;
      @extend %pad-all-0;
    }

    .bordered-right {
      border-right: 2px solid $table-border-color;
    }
  }
}
