// container for spinner
.spinner-wrapper {
  &-news {
    //@extend %spinner-wrapper-panel;
    //margin-left: calc(50% - 10px);

  }
}

// news container
.news-container {
  position: relative;
  @extend %margin-bottom-6;
}

.panel-news {

}

.panel-body {
  min-height: 350px;
  height: 350px;
  @extend %add-scroll-v;
  padding: 0 1px;
  margin-bottom: 0;
}
