@import "./src/assets/sass/components/_component.modal";
@import "./src/assets/sass/components/_component.vertical-tabs";

// the parent wrapper
.settings-container {
  display: flex;
  flex-direction: row;
  width: $unit-1x * 6;
  background-color: darken($panel-bg, 10%);
  border: 5px solid $panel-default-border;
  border-top-width: 0;
  @extend %margin-bottom-6;

  &-nav {
    border-right: 5px solid $panel-default-border;
    width: 20%;
    @extend %pad-bottom-4;
  }

  &-content {
    width: 80%;
  }
}

// panels styling
.panel-group {
  margin: 15px;
}

// call to action buttons in panels and modals
.settings-cta,
.modal-footer {
  overflow: hidden;

  .btn {
    @extend %margin-left-1;
    padding: 4px 15px!important;
  }
}

// the table within each panel
.table {
  @extend %margin-bottom-4;

  th {
    text-transform: none;
    border-top-width: 0;
    border-bottom: 1px solid $table-border-color;
    width: 20%;
    @extend %text-right;
    font-size: $font-size-base;
  }

  td {
    border-top-width: 0;
    border-bottom: 1px solid $table-border-color;
    width: 80%;
    @extend %text-left;
    text-transform: none;
    font-size: $font-size-base;

    .checkbox {
      margin-top: 0;
    }
  }

  tr:last-child {
    th,
    td {
      border-bottom: 0;
    }
  }
}
