<div ng-hide="$parent.hide || metadataCollection.length === 0" >
    <div id="tabular-layout" >
        <div style="max-height: 120px; overflow-y: auto">
            <row  ng-repeat="metadataProperty in metadataCollection">
                <cell-labels>
                    <metadata-label metadata-property="metadataProperty"></metadata-label>
                </cell-labels>
                <cell>
                    <span>
                        <metadata-element metadata-property="metadataProperty" readonly="$parent.readonly"></metadata-element>
                    </span>
                    <metadata-error-message metadata-property="metadataProperty" ng-hide="$parent.readonly"></metadata-error-message>
                </cell>
            </row>
        </div>
        <hr/>
    </div>
</div>