<div id="dark-select">
    <select chosen
            ng-model="selectedValue"
            ng-change="itemChanged()"
            ng-options="field.displayName for field in metadataProperty.definition.metadataList.fieldList">
        <!--<option value="-1">Select an option</option>-->
    </select>
</div>