<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">MARKET TICKER</h3>
        </div>
        <div class="panel-body">
            <div id="market-ticker-list">
                <div class="market-ticker-item" *ngFor="let item of marketTickerItems">{{ item }}</div>
            </div>
        </div>
    </div>
</div>