// import the variables etc!
@import "./src/assets/sass/partials/partials";
@import "./src/assets/sass/components/component.custom-checkbox";
@import "./src/assets/sass/components/component.pricing";

.panel {
  // Example stuff for playground
  &-example {
    @extend %margin-vertical-8;
    @extend %margin-horizontal-0;

    .panel-body {
      @extend %pad-all-4;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;
      display: flex;

    }

    [class*="col-"],
    [class^="col-"] {
      @extend %pad-horizontal-1;
    }

    .btn-group-count {
      margin-right: 8px;
    }
  }
}

h1 {
//  font-size: 100px;
}

.example-item {
  border: 1px solid $gray;
  padding: $unit-px * 3;
  @extend %margin-bottom-3;
  @extend %text-center;
}

.example-text {
  .example-item {
    background-color: $white;
  }
}
