// TODO: style correctly

.unsupported-browser {
  .section-title {
    color: #006FA3;
  }

  p {
    line-height: 1.4;
    margin-bottom: 14px;
  }

  .lead {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 21px;
  }

  .browser-details {
    color: #808080;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.4;
    margin-bottom: 17px;
  }

  a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
