<div class="pull-right settings-section">
    <div><h1>Product Settings</h1></div>
    <div class="internal-margins">
        <div class="settings-section-subcontainer">
            <h2 ng-click="isHeaderCollapsed = !isHeaderCollapsed">My Permissioned Products - Contract Details
                <div class="caret" ng-class="{'caret-reversed':isHeaderCollapsed}"></div>
            </h2>
            <div collapse="isHeaderCollapsed">
                <div class="internal-margins">
                    <div ng-repeat="product in products">
                        <label class="productTitle" ng-click="expandCollapseProduct(product)">Product - {{product.product.name}}
                            <div class="caret" ng-class="{'caret-reversed':isCollapsedProduct(product)}"></div>
                        </label>
                        <div class="privilege" collapse="isCollapsedProduct(product)">
                            <div><label>Market Open Time:</label>{{product.product.openTime}}</div>
                            <div><label>Market Close Time:</label>{{product.product.closeTime }}</div>
                            <div><label>Last Open Date:</label>{{product.product.lastOpenDate| date:"dd-MM-yyyy"}}</div>
                            <div><label>Last Close Date:</label>{{product.product.lastCloseDate | date:"dd-MM-yyyy"}}</div>
                            <div><label>Purge Time:</label>{{product.product.purgeTimeOfDay}}</div>
                            <div><label>Purge Frequency:</label>{{product.product.purgeFrequency}}d</div>
                            <div><label>Currency Code:</label>{{product.product.currencyCode}}</div>
                            <div><label>Price Unit Code:</label>{{product.product.priceUnitCode}}</div>
                            <div><label>Volume Unit Code:</label>{{product.product.volumeUnitCode}}</div>

                            <div ng-repeat="productTenor in product.productTenors">
                                <label class="productTitle">Product Tenor - {{productTenor.name}}</label>
                                <div class="privilege">
                                    <div><label>Roll Date:</label>{{productTenor.rollDate}}</div>
                                    <div><label>Roll Date Rule:</label>{{productTenor.rollDateRule}}</div>
                                    <div><label>Delivery Start Date Rule:</label>{{productTenor.deliveryDateStart}}</div>
                                    <div><label>Delivery End Date Rule:</label>{{productTenor.deliveryDateEnd}}</div>
                                    <div><label>Minimum Delivery Range:</label>{{productTenor.minimumDeliveryRange}}d</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>