<style>
	.badge:hover {
		background-color: orangered;
	}
	.list-options {
		float: right;
		vertical-align: middle;
		display: inline-block;
	}
	[hidden] {
		display: none;
	}
	.ng-valid[required] {
	  border-left: 5px solid #42A948; /* green */
	}
	.ng-invalid {
	  border-left: 5px solid orange; /* orange */
	}
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">To Do List &nbsp;<span class="badge">{{list.length}}</span></h3>
  </div>
  <div class="panel-body">
  	<div class="row">
  		<div class="col-md-12">
			<div class="form-group">
				<form (ngSubmit)="addTodo()" #todoForm="ngForm">
					<label for="todo">To Do</label>
					<span [hidden]="name.valid" class="badge badge-warning">Required</span>
					<div class="form-inline">
						<input required [(ngModel)]="todo.name" ngControl="name" #name="ngForm" id="todo" type="text" class="form-control" size="50">
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
  		</div>
  	</div>
    <div class="row">
    	<div class="col-md-5">
    		<ul class="list-group">
				<div class="row">
				<li *ngFor="#todo of list; #i=index" class="list-group-item">
				<span title="Remove todo" class="badge" (click)="delTodo(i) ">x</span>
				<label><input type="checkbox" [(ngModel)]="todo.done"> {{todo.name}}</label>
				</li>
				</div>
			</ul>
    	</div>
    </div>
  </div>
</div>