<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="editOrderForm" ng-submit="submitForm(editOrderForm.$valid)" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>

            <h3>
                EDIT {{orderType|capitalize}} - {{productConfig.productTitle | capitalize}}
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label>Order Type</label></cell-labels>
                    <cell>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-bidstack" ng-class="{selected:orderType=='Bid'}" ng-show="orderType=='Bid'">BID</button>
                            <button class="btn btn-sm btn-askstack" ng-class="{selected:orderType=='Ask'}" ng-show="orderType=='Ask'">ASK</button>

                            <div style="padding-left:110px" class="pull-right" ng-show="orderChanged">
                                <table class="order-changed">
                                    <tr>
                                        <td class="order-updated-header" colspan="2">WARNING</td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Order modified.</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-grey"
                                                    ng-click="refreshOrder();">
                                                REFRESH
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Click refresh to update details</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="pull-right" ng-show="orderDeleted">
                                <table class="order-changed">
                                    <tr>
                                        <td class="order-updated-header" colspan="2">WARNING</td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Order has been killed.</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-grey"
                                                    ng-click="exit();">
                                                CLOSE
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Click close to close this modal</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>Contract</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{productConfig.productName | capitalize}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Price
                        ({{productConfig.contractSpecification.pricing.pricingCurrencyCode}}/{{productConfig.contractSpecification.pricing.pricingUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <span number-increment nivalue="order.price"
                              nistep="{{productConfig.contractSpecification.pricing.increment}}"
                              niminimum="{{productConfig.contractSpecification.pricing.minimum}}"
                              nimaximum="{{productConfig.contractSpecification.pricing.maximum}}"
                              nidecimalplaces="{{productConfig.contractSpecification.pricing.decimalPlaces}}"
                              ng-model="order.price"
                              itemdisabled="orderChanged">

                            <input name="price" class="order-input" ng-model="order.price" required
                                   type="text"
                                   ng-change="priceSpecification.isValid(editOrderForm.price)"
                                   pattern="^[-]?\d{0,9}(\.\d{0,{{priceSpecification.decimalPlaces}}})?$"
                                   ng-disabled="orderChanged"/>
                        </span>

                        <div class="errorMessageUnderInput" ng-show="editOrderForm.price.$invalid">
                            {{invalidPriceReason}}
                        </div>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Quantity ({{productConfig.contractSpecification.volume.volumeUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <div style="vertical-align: top;"
                              number-increment nivalue="order.quantity"
                              nistep="{{productConfig.contractSpecification.volume.increment}}"
                              niminimum="{{productConfig.contractSpecification.volume.minimum}}"
                              nimaximum="{{productConfig.contractSpecification.volume.maximum}}"
                              nidecimalplaces="{{productConfig.contractSpecification.volume.decimalPlaces}}"
                              ng-model="order.quantity"
                              itemdisabled="orderChanged">
                            <input name="quantity" class="order-input" ng-model="order.quantity" required
                                   ng-change="quantitySpecification.isValid(order.quantity, editOrderForm.quantity)"
                                   type="text"
                                   ng-disabled="orderChanged"
                                   pattern="^\d{0,9}(\.\d{0,{{quantity.decimalPlaces}}})?$">
                        </div>
                        <div style="vertical-align: top; float:right;">
                            <button type="button" class="btn btn-sm btn-qty"
                                    ng-class="{selected:order.quantity == quantity}"
                                    ng-repeat="quantity in quantities | numberSort"
                                    ng-disabled="orderChanged"
                                    ng-click="setQuantity(quantity); quantitySpecification.isValid(order.quantity, editOrderForm.quantity)">
                                {{quantity | number}}
                            </button>
                        </div>

                        <div class="pull-right errorMessage " ng-show="editOrderForm.quantity.$invalid">
                            {{invalidQuantityReason}}
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>{{::productLabels.locationLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{tenor.deliveryLocation.name}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>{{::productLabels.deliveryPeriodLabel}}</label></cell-labels>
                    <cell style="line-height:20px;">
                        <div class="aom-date-slider">
                            <div class="slider pull-left" date-slider minstartdate="minDate" minrange="minRange" itemdisabled="itemdisabled"
                                 maxenddate="maxDate" startdate="order.deliveryStartDate" daysselected="daysSelected"
                                 enddate="order.deliveryEndDate" disabled="false" ng-disabled="orderChanged"></div>
                        </div>
                        <div class="pull-right daysselected">No of days selected: {{daysSelected}}</div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row id="dark-select" ng-hide="isExternalOrder">
                    <cell-labels><label>Broker</label></cell-labels>
                    <cell>
                        <!-- If user is Principal, allow to select a broker -->
                        <div ng-show="showPrincipal() && !IsBroker()">
                            <select
                                    chosen
                                    id="brokers"
                                    name="brokerSelect"
                                    ng-model="selectedBroker"
                                    ng-selected="selectedBroker"
                                    ng-change="onBrokerChange(selectedBroker, editOrderForm.brokerSelect)"
                                    ng-disabled="orderChanged"
                                    ng-options="b.nameAndCode for b in brokers">
                                <option value="">Any Broker</option>
                            </select>
                        </div>
                        <div ng-show="!(showPrincipal() && !IsBroker())">
                            <label class="read-only-content">{{order.brokerOrganisationName}}</label>
                        </div>
                    </cell>
                </row>
                <row ng-show="coBrokeringVisible">
                    <cell-labels>
                        <label>&nbsp;</label>
                    </cell-labels>
                    <cell>
                        <label class="{{coBrokeringDisabled?'co-brokered-label-disabled':'co-brokered-label'}}"><input style="vertical-align:bottom;" type="checkbox" ng-disabled="coBrokeringDisabled" class="co-brokered-checkbox" ng-model="order.coBrokering"/>Allow other brokers to execute this order</label>
                    </cell>
                </row>
                <row ng-hide="isExternalOrder">
                    <cell-labels><label>{{princLabel1()}} Principal</label></cell-labels>
                    <cell>
                        <!-- Principals field-> cannot be changed after order is created-->
                        <label class="read-only-content">{{order.principalDisplayName}}</label>
                    </cell>
                </row>

                <row ng-hide="isExternalOrder"> <cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection" hide="isExternalOrder"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label>Notes</label>
                            <div class="modalCharactersLeft" ng-class="{notesCharactersLeftInValid: notesCharactersLeft == 0}">{{notesCharactersLeft}} chars left</div>
                        </div>
                    </cell-labels>

                    <cell>
                        <textarea ng-trim="false" ng-class="{'ng-invalid': notesCharactersLeft == 0}" ng-change="onNotesChange()" ng-model="order.notes" type="text" name="notes" rows="4" ng-disabled="orderChanged" cols="72"></textarea>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell class="orderButtonContainer">
                        <div class="pull-right">
                            <button id="btnEditOrderEdit" class="btn btn-sm btn-green" type="submit"
                                    ng-click="editOrder()"
                                    ng-disabled="editOrderForm.$error.required || editOrderForm.$invalid || !orderEdited || orderChanged  || orderDeleted || actionButtonClicked">
                                UPDATE
                            </button>
                            <button id="btnEditOrderHold" ng-hide="orderIsHeld" class="btn btn-sm btn-orange"
                                    type="button" ng-click="holdOrder()"
                                    ng-disabled="editOrderForm.$error.required || editOrderForm.$invalid || orderChanged  || orderDeleted || actionButtonClicked">
                                HOLD
                            </button>
                            <button id="btnEditOrderKill" class="btn btn-sm btn-red" type="button"
                                    ng-click="killOrder()"
                                    ng-disabled="editOrderForm.$error.required || editOrderForm.$invalid || orderChanged  || orderDeleted || actionButtonClicked">
                                KILL
                            </button>
                            <button id="btnEditOrderReinstate" ng-show="orderIsHeld" class="btn btn-sm btn-orange"
                                    type="button" ng-click="reinstateOrder()"
                                    ng-disabled="editOrderForm.$error.required || editOrderForm.$invalid || orderChanged  || orderDeleted">
                                REINSTATE
                            </button>
                            <button id="btnEditOrderExecuteMode" ng-show="showExecuteMode()"
                                    class="btn btn-sm btn-green" type="button" ng-click="switchToExecuteMode()"
                                    ng-disabled="editOrderForm.$invalid || orderEdited || orderChanged  || orderDeleted || actionButtonClicked">
                                EXECUTE ...
                            </button>
                            <button id="btnEditOrderExit" class="btn btn-sm btn-grey" type="button" ng-click="exit()">
                                EXIT
                            </button>
                        </div>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>