<div class="input-form ng-cloak" ng-cloak>
    <form name="OrderForm">
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>

            <h3>
                EXECUTE {{orderType|capitalize}} - {{productConfig.productTitle | capitalize}}
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label>Order Type</label></cell-labels>
                    <cell>
                        <div>
                            <button class="btn btn-sm btn-bidstack" ng-class="{selected:orderType=='Bid'}" ng-show="orderType=='Bid'">BID</button>
                            <button class="btn btn-sm btn-askstack" ng-class="{selected:orderType=='Ask'}" ng-show="orderType=='Ask'">ASK</button>
                            <div class="pull-right" ng-show="orderChanged">
                                <table class="order-changed">
                                    <tr>
                                        <td class="order-updated-header" colspan="2">WARNING</td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Order modified.</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-grey"
                                                    ng-click="refreshOrder();">
                                                REFRESH
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Click refresh to update details</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="pull-right" ng-show="orderDeleted">
                                <table class="order-changed">
                                    <tr>
                                        <td class="order-updated-header" colspan="2">WARNING</td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Order has been killed.</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-grey"
                                                    ng-click="exit();">
                                                CLOSE
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-updated-text">Click close to close this modal</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>Contract</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{productConfig.productName | capitalize}}</label>
                    </cell>
                </row>
               <row>
                    <cell-labels><label>Price
                        ({{productConfig.contractSpecification.pricing.pricingCurrencyCode}}/{{productConfig.contractSpecification.pricing.pricingUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content" highlighter="order.price">{{order.price | number:2 }}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Quantity ({{productConfig.contractSpecification.volume.volumeUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.quantity | number:0}}</label>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>{{::productLabels.locationLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{deliveryLocation}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>{{::productLabels.deliveryPeriodLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.deliveryStartDate | date:'d-MMM-yyyy' }}</label> to
                        <label class="read-only-content">{{order.deliveryEndDate | date:'d-MMM-yyyy' }}</label>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>{{princLabel1()}} Principal</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.principalDisplayName}}</label>
                    </cell>
                </row>
                <row id="dark-select" ng-show="ShowBrokerOnInitialOrder()">
                    <cell-labels>
                        <label ng-show="WillBeFourWayDeal()">{{princLabel1()}}&nbsp;</label>
                        <label>Broker</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.brokerDisplayName}}</label>
                    </cell>
                </row>
                <row id="dark-select" ng-show="CanSelectAPrincipal()">
                    <cell-labels><label>{{princLabel2()}} Principal</label></cell-labels>
                    <cell>
                        <select
                                chosen
                                name="principalsSelector"
                                ng-model="selectedPrincipal"
                                ng-selected="selectedPrincipal"
                                ng-show="IsBroker()"
                                ng-change="onPrincipalChange(selectedPrincipal, OrderForm.principalsSelector)"
                                ng-options="p.nameAndCode for p in principals"
                                valid="executeEnabled">
                            <option value="">Select a Principal</option>
                        </select>
                    </cell>
                </row>
                <row id="dark-select" ng-show="ShowExecutingBroker()">
                    <cell-labels>
                        <label ng-show="WillBeFourWayDeal()">{{princLabel2()}}&nbsp;</label>
                        <label>Broker</label></cell-labels>
                    <cell ng-show="!CanSelectExecutingBroker()">
                        <label class="read-only-content">{{UserOrganisationName()}}</label>
                    </cell>
                    <cell ng-show="CanSelectExecutingBroker()">
                        <select
                                chosen
                                id="brokers"
                                ng-model="selectedBroker"
                                ng-selected="selectedBroker"
                                ng-change="onBrokerChange(selectedBroker)"
                                ng-options="b.nameAndCode for b in brokers">
                            <option value="">No Broker</option>
                        </select>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection" hide="isExternalOrder" readonly="true"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div>
                            <label>Notes</label>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-disabled="true" ng-trim="false" ng-model="order.notes" type="text" name="notes" rows="4" cols="72"></textarea>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell class="orderButtonContainer">
                        <div class="pull-right">
                            <button id="btnExecuteOrder" class="btn btn-sm btn-green"
                                    ng-click="executeOrder(OrderForm.principalsSelector)"
                                    ng-disabled="executeButtonDisabled()">EXECUTE
                            </button>
                            <button id="btnEditOrderEditMode" ng-show="showEditMode()" class="btn btn-sm btn-green"
                                    ng-click="switchToEditMode()" ng-disabled="editOrderForm.$invalid">EDIT ...
                            </button>
                            <button id="btnExecuteOrderExit" class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT
                            </button>
                        </div>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>