<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="newOrderForm" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
            <h3>
                BID ASK - {{productConfig.productTitle | capitalize}}
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label class="">Order Type</label></cell-labels>
                    <cell>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-bidstack-modal" ng-class="{selected:orderType=='Bid'}" ng-click="setOrderType('Bid')">BID</button>
                            <button type="button" class="btn btn-sm btn-askstack-modal" ng-class="{selected:orderType=='Ask'}" ng-click="setOrderType('Ask')">ASK</button>
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>Contract</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{productConfig.productName | capitalize}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Price
                        ({{productConfig.contractSpecification.pricing.pricingCurrencyCode}}/{{productConfig.contractSpecification.pricing.pricingUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <span number-increment nivalue="order.price"
                              nistep="{{productConfig.contractSpecification.pricing.increment}}"
                              niminimum="{{productConfig.contractSpecification.pricing.minimum}}"
                              nimaximum="{{productConfig.contractSpecification.pricing.maximum}}"
                              nidecimalplaces="{{productConfig.contractSpecification.pricing.decimalPlaces}}">
                            <input focus="orderType"
                                   type="text"
                                   name="price" ng-model="order.price" required
                                   ng-change="priceSpecification.isValid(newOrderForm.price)"
                                   pattern="^[-]?\d{0,9}(\.\d{0,{{priceSpecification.decimalPlaces}}})?$" type="text" class="order-input">
                        </span>

                        <div class="errorMessageUnderInput" ng-show="newOrderForm.price.$invalid">
                            {{invalidPriceReason}}
                        </div>
                    </cell>
                </row>

                <row>
                    <cell-labels><label>Quantity ({{productConfig.contractSpecification.volume.volumeUnitCode}})</label>
                    </cell-labels>
                    <cell>
                        <div style="vertical-align: top;"
                             number-increment nivalue="order.quantity"
                             nistep="{{productConfig.contractSpecification.volume.increment}}"
                             niminimum="{{productConfig.contractSpecification.volume.minimum}}"
                             nimaximum="{{productConfig.contractSpecification.volume.maximum}}"
                             nidecimalplaces="{{productConfig.contractSpecification.volume.decimalPlaces}}">
                            <input name="quantity"
                                   type="text"
                                   ng-model="order.quantity" required ng-change="quantitySpecification.isValid(order.quantity, newOrderForm.quantity)"
                                   pattern="^\d{0,9}(\.\d{0,{{quantity.decimalPlaces}}})?$" type="text" class="order-input">
                        </div>
                        <div style="vertical-align: top; float:right;">
                            <button style="position:relative;" type="button" class="btn btn-sm btn-qty"
                                    ng-class="{selected:order.quantity == quantity}"
                                    ng-repeat="quantity in quantities | numberSort"
                                    ng-click="setQuantity(quantity); quantitySpecification.isValid(order.quantity, editOrderForm.quantity)">
                                {{quantity | number}}
                            </button>
                        </div>

                        <div class="pull-right errorMessage " ng-show="newOrderForm.quantity.$invalid">
                            {{invalidQuantityReason}}
                        </div>

                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>{{::productLabels.locationLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{tenor.deliveryLocation.name}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>{{::productLabels.deliveryPeriodLabel}}</label></cell-labels>
                    <cell style="line-height: 20px;">
                        <div class="aom-date-slider">
                            <div class="slider pull-left" date-slider minstartdate="minDate" minrange="minRange" itemdisabled="itemdisabled"
                                 maxenddate="maxDate" startdate="order.deliveryStartDate" daysselected="daysSelected"
                                 enddate="order.deliveryEndDate" disabled="false"></div>
                        </div>
                        <div class="pull-right daysselected">No of days selected: {{daysSelected}}</div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row ng-hide="isExternalOrder">
                    <cell-labels><label>Broker</label></cell-labels>
                    <cell>
                        <label class="read-only-content" ng-show="showBroker()">{{organisation}}</label>
                        <div id="dark-select" ng-show="showPrincipal()">
                            <select
                                    id="brokers"
                                    chosen
                                    ng-model="selectedBroker"
                                    ng-selected="selectedBroker"
                                    ng-change="onBrokerChange(selectedBroker)"
                                    ng-options="b.nameAndCode for b in brokers">
                                <option value="">Any Broker</option>
                            </select>
                        </div>
                    </cell>
                </row>
                <row ng-show="coBrokeringVisible">
                    <cell-labels>
                        <label>&nbsp;</label>
                    </cell-labels>
                    <cell>
                        <label class="{{coBrokeringDisabled?'co-brokered-label-disabled':'co-brokered-label'}}"><input style="vertical-align:bottom;" type="checkbox" ng-disabled="coBrokeringDisabled" class="co-brokered-checkbox" ng-model="coBrokering" />Allow other brokers to execute this order</label>
                    </cell>
                </row>
                <row ng-hide="isExternalOrder">
                    <cell-labels><label>Principal</label></cell-labels>
                    <cell>
                        <label class="read-only-content" ng-show="showPrincipal()">{{organisation}}</label>
                        <div id="dark-select" ng-show="showBroker()" name="principalsSelectDiv">
                            <select
                                    id="principals"
                                    chosen
                                    name="principalsSelect"
                                    ng-model="selectedPrincipal"
                                    ng-selected="selectedPrincipal"
                                    ng-change="onPrincipalChange(selectedPrincipal, newOrderForm.principalsSelect)"
                                    ng-options="p.nameAndCode for p in principals">
                                <option value="">Select a Principal</option>
                            </select>
                            <!--<div class="pull-right errorMessage" ng-show="newOrderForm.principal.$invalid" >{{invalidPrincipalReason}}</div>-->
                            <div class="pull-right errorMessage" ng-show="showInvalidPrincipal.show">
                                {{invalidPrincipalReason}}
                            </div>
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection" hide="isExternalOrder"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label>Notes</label>
                            <div class="modalCharactersLeft" ng-class="{notesCharactersLeftInValid: notesCharactersLeft == 0}">{{notesCharactersLeft}} chars left</div>
                        </div>
                    </cell-labels>

                    <cell>
                        <textarea ng-trim="false" ng-class="{'ng-invalid': notesCharactersLeft == 0}" ng-change="onNotesChange()" ng-model="order.notes" type="text" name="notes" rows="4" cols="72"></textarea>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell class="orderButtonContainer">
                        <div class="pull-right">
                            <button id="btnNewOrderCreate" type="button" ng-click="newOrder()" class="btn btn-sm btn-green"
                                    ng-disabled="newOrderForm.$error.required || newOrderForm.$invalid || !validPrinicipalSelected || actionButtonClicked">
                                CREATE
                            </button>
                            <button id="btnNewOrderExit" class="pull-right btn btn-sm btn-grey" type="button"
                                    ng-click="exit()">EXIT
                            </button>
                        </div>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>