<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="viewOrderForm" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
            <h3>
                VIEW {{orderType|capitalize}} - {{productConfig.productTitle | capitalize}}
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label>Order Type</label></cell-labels>
                    <cell>
                        <div class="btn-group">
	                        <button class="btn btn-sm btn-bidstack" ng-class="{selected:orderType=='Bid'}" ng-show="orderType=='Bid'">BID</button>
	                        <button class="btn btn-sm btn-askstack" ng-class="{selected:orderType=='Ask'}" ng-show="orderType=='Ask'">ASK</button>
                        </div>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>Contract</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{productConfig.productName | capitalize}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label >Price ({{productConfig.contractSpecification.pricing.pricingCurrencyCode}}/{{productConfig.contractSpecification.pricing.pricingUnitCode}})</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.price | number:productConfig.contractSpecification.pricing.decimalPlaces }}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Quantity ({{productConfig.contractSpecification.volume.volumeUnitCode}})</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.quantity | number:productConfig.contractSpecification.volume.decimalPlaces}}</label>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>{{::productLabels.locationLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{tenor.deliveryLocation.name}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>{{::productLabels.deliveryPeriodLabel}}</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.deliveryStartDate | date:'d-MMM-yyyy' }}</label> to <label class="read-only-content">{{order.deliveryEndDate | date:'d-MMM-yyyy' }}</label>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels><label>Broker</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.brokerDisplayName}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Principal</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{order.principalDisplayName}}</label>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

            </div>

            <metadata-table metadata-collection="metaDataCollection" hide="isExternalOrder" readonly="true"></metadata-table>

            <div id="tabular-layout">

                <row>
                    <cell-labels>
                        <div>
                            <label>Notes</label>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-disabled="true" ng-trim="false" ng-model="order.notes" type="text" name="notes" rows="4" cols="72"></textarea>
                    </cell>
                </row>

                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels> <label class="invisible">Buttons</label></cell-labels>
                    <cell class="orderButtonContainer">
                        <button id="btnEditOrderExit" class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>