.body{
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family: "Verdana";
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.status-green{
    color: black;
    font-weight: lighter;
    font-size: smaller;
}

.status-amber{
    font-weight: bold;
    color: orangered;
}

.status-red{
    font-weight: bold;
    color: red;
}

.circleGreen {
    width: 20px;
    height: 20px;
    background: green;
}

.circleAmber {
    width: 20px;
    height: 20px;
    background: orange;
}

.circleRed{
    width: 20px;
    height: 20px;
    background: red;
}

h3{
    color: black;
}

h2{
    color: black;
}

h4{
    color: black;
}

li {
    display: block;
    float: left;
    width: 300px;
/ / adjust heigh : 150 px;
/ / adjust padding : 5 px;
/ / adjust
}

.processor-title{
    color: black;
}

.gridListdemoBasicUsage md-grid-list {
    margin: 8px; }
.gridListdemoBasicUsage .circleGreen {
    background: #b9f6ca;
    color: black;}
.gridListdemoBasicUsage .circleAmber {
    background: orange;
    color: black;}
.gridListdemoBasicUsage .circleRed {
    background: #ff8a80;
    color: black;
}
.gridListdemoBasicUsage md-grid-tile {
    transition: all 600ms ease-out 50ms; }

.small-footer-text{
    font-size: x-small;
    color: darkslategray;
}