<div class="pull-right settings-section">
<div><h1>My Settings</h1></div>
	<div class="internal-margins">
		<div><label>User Name:</label>{{userName}}</div>
		<div><label>Contact Email:</label>{{email}}</div>
		<div><label>Telephone:</label>{{telephone}}</div>
        <div class="settings-section-subcontainer">
            <h2 ng-click="isCollapsedPassword = !isCollapsedPassword">Change Password
                <div class="caret" ng-class="{'caret-reversed':isCollapsedPassword}"></div>
            </h2>
            <div collapse="isCollapsedPassword">
                <div class="internal-margins">
                    <div class="passwordChange">
                        <label for="oldpassword">Enter your current password</label>
                        <input type="password" id="oldpassword" name="oldpassword" placeholder="Current Password"
                               class="input-text"
                               ng-model="oldPassword"/>
                        <password-checker password="password" temppassword="oldPassword" minChars=8 minNumOrSpecial=1
                                          changePasswordValid="changePasswordValid" minCaseDiff=1></password-checker>
                        <br/>
                        <button ng-click="changePassword()" ng-disabled="loading || !changePasswordValid"
                                ng-class="{'disabledlogin':loading || !changePasswordValid }"
                                class="button">Change Password<img
                                src="assets/spinner.gif" class="spinner" ng-show="loading"/></button>
                        {{changePasswordMessage}}
                    </div>
                </div>
            </div>
        </div>
		<div class="settings-section-subcontainer">
			<h2 ng-click="isCollapsedPrivileges = !isCollapsedPrivileges">My Product Permissions
				<div class="caret" ng-class="{'caret-reversed':isCollapsedPrivileges}"></div>
			</h2>
			<div collapse="isCollapsedPrivileges">
				<div class="internal-margins">
					<div ng-repeat="userProductPrivilege in userProductPrivileges"><label class="productTitle">{{userProductPrivilege.productTitle}}</label>

						<div class="privilege" ng-repeat="privilege in userProductPrivilege.descriptivePrivileges">
							{{privilege.desc|capitalizeFirstLetter}}<span class="privilege-market-open">{{privilege.marketMustBeOpen}}</span>
						</div>
					</div>
                    <div ng-repeat="systemPrivilege in systemPrivileges"><label class="productTitle">{{systemPrivilege.productTitle}}</label>

                        <div class="privilege" ng-repeat="privilege in systemPrivilege.descriptivePrivileges">
                            {{privilege.desc|capitalizeFirstLetter}}
                        </div>
                    </div>
				</div>
			</div>
		</div>

	</div>
</div>

