<div class="small input-form ng-cloak " ng-cloak ng-keypress ng-class="">
    <form name="inputMappingForm" ng-submit="submitForm()" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png" />
            <h3>
                New notification email mapping
            </h3>
        </div>

        <div class="mappingsFormInputFieldsContainer">
            <div id="tabular-layout">

                <row id="dark-select">
                    <cell-labels colspan="2" id="mapping-product-label" style="width:240px;" ><label>Product(s)</label></cell-labels>
                    <cell>
                        <cell>
                            <multi-select class="button-float-left marketTickerProducts" defaultlabel="PRODUCT" totallabel="PRODUCTS" input-model="marketTickerInfoProducts" max-labels="0" button-label="pname" item-label="name" tick-property="ticked"></multi-select>
                        </cell>
                    </cell>
                </row>

                <row id="dark-select">
                    <cell-labels colspan="2" id="mapping-category-label" style="width:240px;" ><label>Notification Type</label></cell-labels>
                    <cell>
                        <select chosen
                                required
                                ng-model="selectedMappingCategory"
                                ng-selected="selectedMappingCategory"
                                ng-change="selectMappingCategory(selectedMappingCategory)"
                                disable-search="true"
                                ng-options="cat.description for cat in mappingCategories">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>

                <row>
                    <cell-labels colspan="2" id="mapping-email-label" style="width:240px;" ><label>Email Address</label></cell-labels>
                    <input name="emailAddress" class="large-input" ng-model="email.address" required type="email">
                </row>

                <row></row>

                <row>
                    <cell-labels> <label class="invisible">Buttons</label></cell-labels>
                    <cell colspan="2" ><button type="submit" ng-disabled="!checkIfFormIsReadyToSubmit() || inputMappingForm.$error.required || inputMappingForm.$invalid" class="btn btn-lg pull-right selected">Create</button> </cell>
                </row>

            </div>
        </div>
    </form>
</div>