<div class="pull-right settings-section">
<div><h1>Company Settings</h1></div>
	<div class="internal-margins">
        <div class="ng-binding">
		    <label>Company Name:</label>
            {{userOrganisationName}}
        </div>
        <div class="ng-binding">
            <label>Legal Name:</label>
            {{userOrganisationLegalName}}
        </div>
        <div class="ng-binding">
            <label>Short Code:</label>
            {{userOrganisationShortCode}}
        </div>
        <div class="ng-binding">
            <label> Address:</label>
            {{userOrganisationAddress}}
        </div>

        <div class="settings-section-subcontainer">
            <h2 ng-click="isNotificationsCollapsed = !isNotificationsCollapsed">System Notifications
                <div class="caret" ng-class="{'caret-reversed':isNotificationsCollapsed}"></div>
            </h2>
            <div collapse="isNotificationsCollapsed">
                <div class="internal-margins">

                    <div ng-repeat="category in mappings"><label class="productTitle"> {{category.name}}</label>
                        <div class="privilege" ng-show="category.mappings.length===0">
                            If not explicitly set, notifications will be sent to {{orgEmail}}
                        </div>
                        <div class="privilege" ng-repeat="mapping in category.mappings">
                            <input
                                type="checkbox"
                                name="selectedMappings[]"
                                value="{{mapping.id}}"
                                ng-checked="selection.indexOf(mapping) > -1"
                                ng-click="toggleSelection(mapping)"
                                ng-show="editEnabled">
                            {{mapping.emailAddress}} ({{mapping.name}})
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <button ng-click="addMapping()" class="button" ng-show="editEnabled">Create</button>
                    <button ng-click="delMapping()" class="button" ng-show="editEnabled">Delete Selected</button>
                </div>
            </div>
        </div>
	</div>
</div>