<div class="tab-pane">
  <h1>System Information</h1>
  <accordion>
    <accordion-group  #group1
      [isOpen]="status.isFirstOpen"
    >
      <div accordion-heading>
        User Information
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group1.isOpen, 'icon-chevron-right': !group1.isOpen}"></span>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <th>Connection Status:</th>
            <td>{{connectionStatus$ | async}}</td>
          </tr>
          <tr>
            <th>User Name:</th>
            <td>{{(user$ | async)?.username }}</td>
          </tr>
          <tr>
            <th>User ID:</th>
            <td>{{(user$ | async)?.id}}</td>
          </tr>
          <tr>
            <th>Company Name:</th>
            <td>{{(user$ | async)?.userOrganisation?.name}}</td>
          </tr>
          <tr>
            <th>Company ID:</th>
            <td>{{(user$ | async)?.userOrganisation?.id}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>

    <accordion-group  #group2
      [isOpen]= false
    >
      <div accordion-heading>
        Version Information
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group2.isOpen, 'icon-chevron-right': !group2.isOpen}"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Application Version:</th>
            <td>{{(config$ | async)?.version}}</td>
          </tr>
          <tr>
            <th>Diffusion Version:</th>
            <td>{{diffusionVersion}}</td>
          </tr>
          <tr>
            <th>Operating System:</th>
            <td>{{(platform$ | async)?.os?.toString()}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>

    <accordion-group  #group3
      [isOpen]= false
    >
      <div accordion-heading>
        Browser Information
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group3.isOpen, 'icon-chevron-right': !group3.isOpen}"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td>{{(platform$ | async)?.name}}</td>
          </tr>
          <tr>
            <th>Version:</th>
            <td>{{(platform$ | async)?.version}}</td>
          </tr>
          <tr>
            <th>User Agent String:</th>
            <td>{{(platform$ | async)?.ua}}</td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>




</div>
