// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import the complex bid/ask stack specific styling
@import "./src/assets/sass/pages/_market.complex";

//@Jon - feel free to do whatever you like with these...
.isOrderMine {
    color: #ff7400;
  }
  
  .isOrderMine:hover {
    color: #ffffff;
  }
  
  .isNonTradeable {
    color: #666666;
  }
  
  .isNonTradeable:hover {
    color: #666666;
  }
  
  .isCoBrokered {
    color: deeppink;
  }
  
  .isNonTradeable.isOrderMine {
    color: #ff7400;
  }
  
  .isNonTradeable.isOrderMine:hover {
    color: #ffffff;
  }
  
  .isBrokerRestricted {
    color: #666666;
  }
  
  .isHeld {
    text-decoration: line-through;
  }