<div class="{{isBid ? 'title-popover-ask' : 'title-popover-bid'}}">
    <span>{{isBid ? "Bid" : "Ask"}}</span> Popover title
</div>

<table class="{{isBid ? 'table table-bid' : 'table table-ask'}}">
    <tbody>
        <tr>
            <th>Order ID</th>
            <td>{{order?.id}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{order?.orderStatus}}</td>
        </tr>
        <tr>
            <th>Tradable</th>
            <td>{{isTradeable ? "Yes" : "No"}}</td>
        </tr>
        <tr>
            <th>Co-broking enabled</th>
            <td>{{order?.coBrokering ? "Yes" : "No"}}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{order?.quantity}}</td>
        </tr>
        <tr>
            <th>Principal</th>
            <td>{{"TODO"}} ({{order?.principalOrganisationShortCode}})</td>
        </tr>
        <tr>
            <th>Broker</th>
            <td>{{order?.brokerOrganisation}} ({{order?.brokerShortCode}})</td>
        </tr>

        <tr>
            <th>Delivery port</th>
            <td>LPG Forward Terms</td>
        </tr>
        <tr>
            <th>Delivery period</th>
            <td>1st Half Jun</td>
        </tr>
    </tbody>
</table>

<hr />

<ng-container *ngFor="let orderPriceLine of order.orderPriceLines; let last = last">
    <table class="{{isBid ? 'table table-bid' : 'table table-ask'}}">
        <thead>
            <tr>
                <th><span class="text-highlight">Bid {{ orderPriceLine.priceLine.sequenceNo}}</span></th>
                <th>%</th>
                <th>Basis</th>
                <th>Pricing Period</th>
                <th>Price ($/t)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let priceLineBasis of orderPriceLine.priceLine.priceLinesBases">
                <td>{{priceLineBasis.description}}</td>
                <td>{{priceLineBasis.percentageSplit}}</td>
                <td>{{GetCurrentPricingBasis(priceLineBasis)}}</td>
                <td>{{priceLineBasis ? "Feb": ""}}</td>
                <td>{{priceLineBasis.priceLineBasisValue}}</td>
            </tr>
            <!--  <tr>
                    <td>Basis 2</td>
                    <td>50</td>
                    <td>CP</td>
                    <td>Feb</td>
                    <td>488.00</td>
                </tr> -->
        </tbody>
    </table>
    <div *ngIf="!last" class="pricing-bid-divider">
        <span>OR</span>
    </div>

</ng-container>
<hr />
<table *ngIf="order" class="{{isBid ? 'table table-bid table-notes' : 'table table-ask table-notes'}}">
    <tbody>
        <tr>
            <th>Notes</th>
            <td>{{order?.notes}}</td>
        </tr>
        <tr>
            <th>Original time</th>
            <td>{{order?.lastUpdated | date:'dd MMM yyyy'}}<span class="text-muted"> {{order?.lastUpdated | date:'HH:mm:ss'}}</span></td>
        </tr>
        <tr>
            <th>Last updated</th>
            <td>{{order?.lastUpdated | date:'dd MMM yyyy'}}<span class="text-muted"> {{order?.lastUpdated | date:'HH:mm:ss'}}</span></td>
        </tr>
    </tbody>
</table>