<div class="col-xs-12">
    <div class="panel panel-market">
        <div class="panel-heading handle">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel-heading-title">
                        <!-- <img src="assets/gridtitlecollapse.png ">  -->
                        {{ productDefinition.productName }}
                    </div>
                    <button type="button" class="btn btn-bid pull-right" [disabled]="!(permissionsService.canCreateOrder$(productDefinition.productId) | async)"
                        (click)="openModalBid()">+ Bid</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-ask pull-left" [disabled]="!(permissionsService.canCreateOrder$(productDefinition.productId) | async)"
                        (click)="openModalAsk()">+ Ask</button>
                    <div class="pull-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 panel-bid">
                    <div class="table-responsive">
                        <table class="table table-bid">
                            <tbody *ngFor="let order of bidOrders; let isFirstOrder = first" class="{{ getOrderPermissionCssClasses$(productDefinition, order) | async }}"
                            [popover]="popTemplateBidComplex" container="body" containerClass="popover-bid" placement="right"
                            triggers="mouseenter:mouseleave">
                            <tr>
                                <ng-template #popTemplateBidComplex>
                                    <complex-table-row-popup [isBid]="true" [order]="order" [isTradeable]="isTradeable$(productDefinition, order) | async"></complex-table-row-popup>
                                </ng-template>
                                <td>
                                    <aom-complex-market-order-info [isBid]="true" [order]="order" [showHeader]="isFirstOrder"></aom-complex-market-order-info>
                                </td>
                                <td>
                                    <table style="width: 100%">
                                        <tr *ngFor="let orderPriceLine of order.orderPriceLines; let isFirstPriceLine = first">
                                            <td *ngFor="let priceLineBasis of orderPriceLine.priceLine.priceLinesBases | reverse">
                                                <aom-complex-market-pricing-basis [isBid]="true" [priceLineBasis]="priceLineBasis" [showHeader]="isFirstOrder && isFirstPriceLine"></aom-complex-market-pricing-basis>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                            <tbody *ngFor="let row of emptyRows; let isFirstEmptyRow = first">
                            <tr>
                                <td>
                                    <aom-complex-market-order-info [isBid]="true" [showHeader]="bidOrders.length === 0 && isFirstEmptyRow"></aom-complex-market-order-info>
                                </td>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td *ngFor="let emptyPriceBasis of bidsMaxPricingBasisNo">
                                                <aom-complex-market-pricing-basis [isBid]="true" [showHeader]="bidOrders.length === 0 && isFirstEmptyRow" priceLineSequenceNo="0"></aom-complex-market-pricing-basis>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-xs-6 panel-ask">
                    <div class=" table-responsive">
                        <table class="table table-ask">
                            <tr>
                                <td>
                                    <aom-complex-market-pricing-basis [isBid]=false></aom-complex-market-pricing-basis>
                                    <aom-complex-market-pricing-basis [isBid]=false></aom-complex-market-pricing-basis>
                                    <aom-complex-market-order-info [isBid]=false></aom-complex-market-order-info>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-toggle-stack pull-right {{ !canStackCollapse() ? 'active' : '' }}" (click)="toggleStackCollapse()"
                        [disabled]="!canStackCollapse()"><div class="icon-chevron-up"></div></button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-toggle-stack pull-left {{ !canStackExpand() ? 'active' : '' }}" (click)="toggleStackExpand()" [disabled]="!canStackExpand()"><div class="icon-chevron-down"></div><span *ngIf="hiddenOrdersNo">({{hiddenOrdersNo}})</span></button>
                </div>
            </div>
        </div>
    </div>
</div>