<div class="row">
  <div class="col-xs-12">
    <h1>Complex Bid Ask Stack</h1>
    <table>
      <tr>
        <td class="jonso-bongo-td"><div class="jonso-bongo">hello</div></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-market">
      <div class="panel-heading handle">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel-heading-title">
              Complex Bid Ask Stack
            </div>
            <!-- Demo part 1 - open the complex Bid modal (see below)-->
            <button type="button" class="btn btn-bid pull-right" (click)="openModalBidComplex(templateBidComplex)">+ Bid</button>
          </div>
          <div class="col-xs-6">
            <!-- Demo part 2 - open the complex Ask modal (see below)-->
            <button type="button" class="btn btn-ask pull-left" (click)="openModalAskComplex(templateAskComplex)">+ Ask</button>
            <div class="pull-right">
                <a class="widget-remove" title="Remove widget">
                  <i class="icon-bin"></i>
                </a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 panel-bid bordered-right">
            <div class="table-responsive">
              <table class="table table-bid">
              <!-- TODO: do we need this?
                <colgroup>
                  <col span="6">
                  <col span="4" class="pricing-basis">
                  <col span="4" class="pricing-basis">
                </colgroup>
              -->
                <thead>
                  <tr>
                    <th> </th>
                    <th>Time</th>
                    <th>Bro</th>
                    <th>Pri</th>
                    <th>Date</th>
                    <th class="end">Qty</th>
                    <th>%</th>
                    <th colspan="3" class="end">Pricing basis 2</th>
                    <th>%</th>
                    <th colspan="3">Pricing basis 1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <!-- Demo part 4 - Complex Price mouseover -->
                      <button type="button" class="btn btn-link btn-edit" (click)="openModalPricingComplex(templatePricingComplex)"><div class="icon-edit-note"></div></button>
                    </td>
                    <td>16:57</td>
                    <td>?</td>
                    <td>ITO</td>
                    <td><div class="limit-width">20 Feb-20 Apr</div></td>
                    <td class="end">23,000</td>
                    <td>50%</td>
                    <td>Feb</td>
                    <td>CP</td>
                    <td class="price end">+8.00</td>
                    <td>50%</td>
                    <td> </td>
                    <td>Fixed</td>
                    <td class="price">488.00</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="price end"> </td>
                    <td>100%</td>
                    <td>Feb</td>
                    <td>CP</td>
                    <td class="price">+5.50</td>
                  </tr>
                </tbody>
                <!-- Demo part 3 - Bid styled popover on table row triggers="mouseenter:mouseleave" -->
                <tbody
                  [popover]="popTemplate"
                  container="body"
                  containerClass="popover-bid"
                  placement="right"


                >
                  <tr>
                    <td> </td>
                    <td>16:54</td>
                    <td>GIN</td>
                    <td>BP</td>
                    <td>1H-Feb</td>
                    <td class="end">23,000</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="price end"> </td>
                    <td>100%</td>
                    <td>Feb</td>
                    <td>AFEI</td>
                    <td class="price">+28.50</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td> </td>
                    <td>16:50</td>
                    <td> </td>
                    <td>KOC</td>
                    <td>1H-Mar</td>
                    <td class="end">23,000</td>
                    <td>50%</td>
                    <td> </td>
                    <td>Fixed</td>
                    <td class="price end">510.00</td>
                    <td>50%</td>
                    <td>Mar</td>
                    <td>AFEI</td>
                    <td class="price">+28.50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-6 panel-ask">
            <div class="table-responsive">
              <table class="table table-ask">
                <thead>
                  <tr>
                    <th colspan="3" class="end">Pricing basis 1</th>
                    <th>%</th>
                    <th colspan="3" class="end">Pricing basis 2</th>
                    <th>%</th>
                    <th class="end">Qty</th>
                    <th>Date</th>
                    <th>Pri</th>
                    <th>Bro</th>
                    <th>Time</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody
                  [popover]="popTemplateAskComplex"
                  container="body"
                  containerClass="popover-ask"
                  placement="left"
                  triggers="mouseenter:mouseleave"
                >
                  <tr>
                    <td class="price">+30.00</td>
                    <td>AFEI</td>
                    <td>Feb</td>
                    <td>100%</td>
                    <td class="price end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="end">23,000</td>
                    <td>2H-Feb</td>
                    <td>P66</td>
                    <td>Gin</td>
                    <td>16:48</td>
                    <td><div class="icon-edit-note"></div></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td class="price">+32.00</td>
                    <td>AFEI</td>
                    <td>Mar</td>
                    <td>100%</td>
                    <td class="price end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="end">23,000</td>
                    <td>1H-Mar</td>
                    <td>Gun</td>
                    <td> </td>
                    <td>16:40</td>
                    <td> </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td class="price">&nbsp;</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="price end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td class="price">&nbsp;</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="price end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="end"> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-toggle-stack pull-right active"><div class="icon-chevron-up"></div></button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-toggle-stack pull-left"><div class="icon-chevron-down"></div></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
  *********************************************************
  Demo Part 1 - Template for the Complex Bid modal
  *********************************************************
-->
<ng-template #templateBidComplex>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Complex Bid Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="order-form">
        <div class="order-form-child">
          <div class="form-group form-group-quantity">
            <label for="quantity" class="col-xs-3 control-label">Quantity (t)</label>
            <div class="col-xs-9">
              <div class="btn-group btn-group-count" role="group">
              <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
              </div>
              <input type="text" class="form-control" id="quantity" placeholder="">
              <div class="btn-group-justified btn-group-quantity" role="group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">450</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">500</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">750</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">800</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">850</button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback date-range">
            <label for="deliveryPeriod" class="col-sm-3 control-label">Delivery period</label>
            <div class="date-range-item">
              <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
              <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="date-range-item">
              <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
              <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="date-range-item">
              <div class="days-selected"> 10 days selected</div>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-xs-3 control-label">Delivery location</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <hr />

          <div class="form-group form-group-broker">
            <label for="broker" class="col-xs-3 control-label">Broker</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="col-xs-offset-3 col-xs-9">
              <div class="checkbox">
                <input type="checkbox" id="allowOtherBrokers">
                <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
              </div>
            </div>
          </div>


          <hr />

          <div class="form-group">
            <label for="metaLabel1" class="col-xs-3 control-label">Meta Label 1</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="metaLabel2" class="col-xs-3 control-label">Meta Label 2</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>


        </div>
        <div class="order-form-child">
          <div class="form-group">
            <label for="" class="col-xs-2 control-label">Pricing</label>
            <div class="col-xs-10">
              <div class="pricing-options pricing-options-editable pricing-options-bid">
                <div id="bid01" class="">
                  <table class="table table-bid">
                    <thead>
                      <tr>
                        <th><span class="text-highlight">Bid 1</span></th>
                        <th>%</th>
                        <th>Basis</th>
                        <th>Pricing Period</th>
                        <th>Price</th>
                        <th>&nbsp;</th>
                        <th><button class="btn btn-link pull-right" (click)="showDiv = false"><span class="icon-close"></span></button></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Basis 1</td>
                        <td>
                          <div class="custom-select form-group-percentage">
                            <select class="form-control">
                              <option>50%</option>
                              <option>100%</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="custom-select form-group-basis">
                            <select class="form-control">
                              <option>Fixed</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="custom-select form-group-pricing-period">
                            <select class="form-control">
                              <option>Jan</option>
                              <option>Feb</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group form-group-quantity">
                            <label for="price" class="control-label sr-only">Price</label>
                            <div class="btn-group btn-group-count" role="group">
                            <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                              <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                            </div>
                            <input type="text" class="form-control" id="price" placeholder="">
                          </div>
                        </td>
                        <td class="price-currency">EUR/t</td>
                        <td>
                          <button class="btn btn-link pull-right"><span class="icon-close"></span></button>
                        </td>
                      </tr>
                    </tbody>

                    <tbody *ngIf="togglePricingBasis">
                      <tr>
                        <td>Basis 2</td>
                        <td>
                          <div class="form-group form-group-pricing">
                            <label for="" class="sr-only">Percentage</label>
                            <input type="text" class="form-control" id="" placeholder="50">
                          </div>
                        </td>
                        <td>
                          <div class="custom-select form-group-basis">
                            <select class="form-control">
                              <option>Fixed</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="custom-select">
                            <select class="form-control">
                              <option>Jan</option>
                              <option>Feb</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group form-group-quantity">
                            <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                            <div class="btn-group btn-group-count" role="group">
                            <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                              <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                            </div>
                            <input type="text" class="form-control" id="quantity" placeholder="">
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-link pull-right" (click) = "togglePricingBasis = !togglePricingBasis"><span class="icon-close"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pull-right">
                    <button class="btn btn-link" (click) = "togglePricingBasis = true"><span class="icon-plus"></span> Basis</button>
                  </div>
                </div>


                <div id="bid02" class="component-pricing-bid"  *ngIf="showDiv">
                  <table class="table table-bid">
                    <thead>
                      <tr>
                        <th><span class="text-highlight">Bid 2</span></th>
                        <th>%</th>
                        <th>Basis</th>
                        <th>Pricing Period</th>
                        <th>Price ($/t)</th>
                        <th><button class="btn btn-link"  (click) = "showDiv = false"><span class="icon-close"></span></button></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Basis 1</td>
                        <td>
                          <div class="form-group form-group-pricing">
                            <label for="" class="sr-only">Percentage</label>
                            <input type="text" class="form-control" id="" placeholder="50">
                          </div>
                        </td>
                        <td>
                          <div class="custom-select form-group-basis">
                            <select class="form-control">
                              <option>Fixed</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="custom-select">
                            <select class="form-control">
                              <option>Jan</option>
                              <option>Feb</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group form-group-quantity">
                            <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                            <div>
                              <div class="btn-group btn-group-count" role="group">
                              <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                                <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                              </div>
                              <input type="text" class="form-control" id="quantity" placeholder="">
                            </div>
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-link"><span class="icon-close"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pull-right">
                    <button class="btn btn-link"><span class="icon-plus"></span> Basis</button>
                  </div>
                </div>

                <div class="add-bid">
                  <button class="btn btn-primary" (click) = "showDiv=true">Add Additional Bid</button>
                </div>
              </div>
            </div>
          </div>








          <hr />
        </div>
      </div>

    </form>













    <!--
    <div class="row">
      <form class="form-horizontal">
        <div class="col-xs-6">



        </div>
        <div class="col-xs-6">


          <div class="form-group">
            <label for="notes" class="col-xs-3 control-label">
              Notes
              <br />
              <span class="small">256 chars left</span>
            </label>
            <div class="col-xs-9">
              <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
-->
































  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default">Create</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
  </div>
</ng-template>

<!--
  *********************************************************
  Demo part 2 - Template for the Complex Ask modal
  *********************************************************
-->
<ng-template #templateAskComplex>
  <!-- <div class="modal-content-overlay" *ngIf="!hideDiv">
    <div class="modal-content-overlay-header">
      <h4 class="modal-title">Order Modified. Click refresh to update details.<button class="btn btn-default pull-right" type="button" (click) = "hideDiv=true">Refresh</button></h4>
    </div>
  </div> -->
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ask Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form class="form-horizontal">
        <div class="col-xs-6">
          <div class="form-group form-group-quantity">
            <label for="quantity" class="col-xs-3 control-label">Quantity (t)</label>
            <div class="col-xs-9">
              <div class="btn-group btn-group-count" role="group">
              <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
              </div>
              <input type="text" class="form-control" id="quantity" placeholder="">
              <!-- The amounts as a group of buttons -->
              <div class="btn-group-justified btn-group-quantity" role="group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">450</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">500</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">750</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">800</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-quantity">850</button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group has-feedback date-range">
            <label for="deliveryPeriod" class="col-sm-3 control-label">Delivery period</label>
            <div class="date-range-item">
              <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
              <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="date-range-item">
              <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
              <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="date-range-item">
              <div class="days-selected"> 10 days selected</div>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-xs-3 control-label">Delivery location</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <hr />

          <div class="form-group form-group-broker">
            <label for="broker" class="col-xs-3 control-label">Broker</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="col-xs-offset-3 col-xs-9">
              <div class="checkbox">
                <input type="checkbox" id="allowOtherBrokers">
                <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
              </div>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label for="metaLabel1" class="col-xs-3 control-label">Meta Label 1</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="metaLabel2" class="col-xs-3 control-label">Meta Label 2</label>
            <div class="col-xs-9 custom-select">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

        </div>
        <div class="col-xs-6">
          <div class="pricing-options pricing-options-editable pricing-options-ask">
            <p>Pricing</p>
            <div id="bid01" class="">
              <table class="table table-ask">
                <thead>
                  <tr>
                    <th><span class="text-highlight">Bid 1</span></th>
                    <th>%</th>
                    <th>Basis</th>
                    <th>Pricing Period</th>
                    <th>Price ($/t)</th>
                    <th><button class="btn btn-link pull-right" (click)="showDiv = false"><span class="icon-close"></span></button></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Basis 1</td>
                    <td>
                      <div class="form-group form-group-pricing">
                        <label for="" class="sr-only">Percentage</label>
                        <input type="text" class="form-control" id="" placeholder="50">
                      </div>
                    </td>
                    <td>
                      <div class="custom-select form-group-basis">
                        <select class="form-control">
                          <option>Fixed</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="custom-select">
                        <select class="form-control">
                          <option>Jan</option>
                          <option>Feb</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="form-group form-group-quantity">
                        <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                        <div class="btn-group btn-group-count" role="group">
                        <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                          <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                        </div>
                        <input type="text" class="form-control" id="quantity" placeholder="">
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-link pull-right"><span class="icon-close"></span></button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="togglePricingBasis">
                  <tr>
                    <td>Basis 2</td>
                    <td>
                      <div class="form-group form-group-pricing">
                        <label for="" class="sr-only">Percentage</label>
                        <input type="text" class="form-control" id="" placeholder="50">
                      </div>
                    </td>
                    <td>
                      <div class="custom-select form-group-basis">
                        <select class="form-control">
                          <option>Fixed</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="custom-select">
                        <select class="form-control">
                          <option>Jan</option>
                          <option>Feb</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="form-group form-group-quantity">
                        <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                        <div class="btn-group btn-group-count" role="group">
                        <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                          <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                        </div>
                        <input type="text" class="form-control" id="quantity" placeholder="">
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-link pull-right" (click) = "togglePricingBasis = !togglePricingBasis"><span class="icon-close"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pull-right">
                <button class="btn btn-link" (click) = "togglePricingBasis = true"><span class="icon-plus"></span> Basis</button>
              </div>
            </div>


            <div id="bid02" class="component-pricing-ask"  *ngIf="showDiv">
              <table class="table table-ask">
                <thead>
                  <tr>
                  <th><span class="text-highlight">Bid 2</span></th>
                    <th>%</th>
                    <th>Basis</th>
                    <th>Pricing Period</th>
                    <th>Price ($/t)</th>
                    <th><button class="btn btn-link"  (click) = "showDiv = false"><span class="icon-close"></span></button></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Basis 1</td>
                    <td>
                      <div class="form-group form-group-pricing">
                        <label for="" class="sr-only">Percentage</label>
                        <input type="text" class="form-control" id="" placeholder="50">
                      </div>
                    </td>
                    <td>
                      <div class="custom-select form-group-basis">
                        <select class="form-control">
                          <option>Fixed</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="custom-select">
                        <select class="form-control">
                          <option>Jan</option>
                          <option>Feb</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>

                    </td>
                    <td>
                      <div class="form-group form-group-quantity">
                        <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                        <div>
                          <div class="btn-group btn-group-count" role="group">
                          <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
                            <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
                          </div>
                          <input type="text" class="form-control" id="quantity" placeholder="">
                        </div>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-link"><span class="icon-close"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pull-right">
                <button class="btn btn-link"><span class="icon-plus"></span> Basis</button>
              </div>
            </div>

            <div class="add-ask">
              <button class="btn btn-primary" (click) = "showDiv=true">Add Additional Bid</button>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label for="notes" class="col-xs-3 control-label">
              Notes
              <br />
              <span class="small">256 chars left</span>
            </label>
            <div class="col-xs-9">
              <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default">Create</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
  </div>
</ng-template>

<!--
  *********************************************************
  Demo part 3 - Template for the popover on table row - Bid
  *********************************************************
-->
<ng-template #popTemplate>
  <div class="title-popover-bid">
    <span>Bid</span> Popover title
  </div>

  <table class="table table-bid">
    <tbody>
      <tr>
        <th>Order ID</th>
        <td>1056</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>Active</td>
      </tr>
      <tr>
        <th>Tradable</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Principal</th>
        <td>Shell (SHE)</td>
      </tr>
      <tr>
        <th>Broker</th>
        <td>ICAP (ICA)</td>
      </tr>
      <tr>
        <th>Co-broking enabled</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Delivery port</th>
        <td>LPG Forward Terms</td>
      </tr>
      <tr>
        <th>Delivery period</th>
        <td>1st Half Jun</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <table class="table table-bid">
    <thead>
      <tr>
        <th><span class="text-highlight">Bid 1</span></th>
        <th>%</th>
        <th>Basis</th>
        <th>Pricing Period</th>
        <th>Price ($/t)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basis 1</td>
        <td>50</td>
        <td>Fixed</td>
        <td>Jan</td>
        <td>488.00</td>
      </tr>
      <tr>
        <td>Basis 2</td>
        <td>50</td>
        <td>CP</td>
        <td>Feb</td>
        <td>488.00</td>
      </tr>
    </tbody>
  </table>

  <div class="pricing-bid-divider">
    <span>OR</span>
  </div>

  <table class="table table-bid">
    <thead>
      <tr>
        <th><span class="text-highlight">Bid 2</span></th>
        <th>%</th>
        <th>Basis</th>
        <th>Pricing Period</th>
        <th>Price ($/t)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basis 1</td>
        <td>75</td>
        <td>Fixed</td>
        <td>Jan</td>
        <td>488.00</td>
      </tr>
      <tr>
        <td>Basis 2</td>
        <td>25</td>
        <td>CP</td>
        <td>Feb</td>
        <td>488.00</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <table class="table table-bid table-notes">
    <tbody>
      <tr>
        <th>Notes</th>
        <td>Late payment pending 2USD/t std t's and c's</td>
      </tr>
      <tr>
        <th>Original time</th>
        <td>25 Apr 2017 <span class="text-muted">15:38:32</span></td>
      </tr>
      <tr>
        <th>Last updated</th>
        <td>25 Apr 2017 <span class="text-muted">15:53:21</span></td>
      </tr>
    </tbody>
  </table>

</ng-template>

<!--
  *********************************************************
  Demo part 4 - Complex Price mouseover
  *********************************************************
-->
<ng-template #templatePricingComplex>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Complex Pricing</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form class="form-horizontal">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="col-xs-3 control-label" for="quantity">Quantity (t)</label>
            <div class="col-xs-9">
              <p class="form-control-static">500</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-3 control-label" for="deliveryPeriod">Delivery period</label>
            <div class="col-xs-6">
              <p class="form-control-static"><strong>23 Oct 2017</strong> TO <strong>07 Nov 2017</strong></p>
            </div>
            <div class="col-xs-3">
              <div class="days-selected"><p class="form-control-static">15 days selected</p></div>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Buyer Principal</label>
            <div class="col-xs-9">
              <p class="form-control-static">Delta Trader (DKT)</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Buyer Broker</label>
            <div class="col-xs-9">
              <p class="form-control-static">Yankee Brokers (YKB)</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Seller Broker</label>
            <div class="col-xs-9">
              <p class="form-control-static">TODO: Fake select dropdown with search</p>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Meta Label 1</label>
            <div class="col-xs-9">
              <p class="form-control-static">Selected value 1</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Meta Label 2</label>
            <div class="col-xs-9">
              <p class="form-control-static">Selected value 2</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-3 control-label" for="">Meta Label 3</label>
            <div class="col-xs-9">
              <p class="form-control-static">Selected value 3</p>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label for="notes" class="col-xs-3 control-label">
              Notes
            </label>
            <div class="col-xs-9">
              <p class="form-control-static">
                Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="pricing-options pricing-options-selectable pricing-options-bid">
            <p class="text-prompt">Select a BID below and click 'EXECUTE' to proceed</p>
            <div class="radio">
              <label [ngClass]="{'isChecked':(radioSelectedValue === '1')}">
                <table class="table table-bid">
                  <thead>
                    <tr>
                      <th>
                        <input type="radio" name="bidvalue" value="1" class="" (click)="addLabelBorder($event.target.value)"
                        [hidden]='radioSelectedValue === "1"'>
                        <span></span>
                      </th>
                      <th><span class="text-highlight">Bid 1</span></th>
                      <th>%</th>
                      <th>Basis</th>
                      <th>Pricing Period</th>
                      <th>Price ($/t)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>Basis 1</td>
                      <td>50</td>
                      <td>Fixed</td>
                      <td>Jan</td>
                      <td>488.00</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Basis 2</td>
                      <td>50</td>
                      <td>CP</td>
                      <td>Feb</td>
                      <td>488.00</td>
                    </tr>
                  </tbody>
                </table>
              </label>
            </div>
            <div class="pricing-bid-divider">
              <span>OR</span>
            </div>
            <div class="radio">
              <label [ngClass]='{"isChecked":radioSelectedValue === "2"}'>
                <table class="table table-bid">
                  <thead>
                    <tr>
                      <th>
                        <input type="radio" name="bidvalue" value="2" class="" (click)="addLabelBorder($event.target.value)"
                        [hidden]='radioSelectedValue === "2"'>
                        <span></span>
                      </th>
                      <th><span class="text-highlight">Bid 2</span></th>
                      <th>%</th>
                      <th>Basis</th>
                      <th>Pricing Period</th>
                      <th>Price ($/t)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>Basis 1</td>
                      <td>50</td>
                      <td>Fixed</td>
                      <td>Jan</td>
                      <td>488.00</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Basis 2</td>
                      <td>50</td>
                      <td>CP</td>
                      <td>Feb</td>
                      <td>488.00</td>
                    </tr>
                  </tbody>
                </table>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default">Execute</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
  </div>
</ng-template>


<!--
  *********************************************************
  Demo part 5 - Complex Price ASKK mouseover - Ask
  *********************************************************
-->

<ng-template #popTemplateAskComplex>
  <div class="title-popover-ask">
    <span>Ask</span> Popover title
  </div>

  <table class="table table-ask">
    <tbody>
      <tr>
        <th>Order ID</th>
        <td>1056</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>Active</td>
      </tr>
      <tr>
        <th>Tradable</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Principal</th>
        <td>Shell (SHE)</td>
      </tr>
      <tr>
        <th>Broker</th>
        <td>ICAP (ICA)</td>
      </tr>
      <tr>
        <th>Co-broking enabled</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Delivery port</th>
        <td>LPG Forward Terms</td>
      </tr>
      <tr>
        <th>Delivery period</th>
        <td>1st Half Jun</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <table class="table table-ask">
    <thead>
      <tr>
        <th><span class="text-highlight">Bid 1</span></th>
        <th>%</th>
        <th>Basis</th>
        <th>Pricing Period</th>
        <th>Price ($/t)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basis 1</td>
        <td>50</td>
        <td>Fixed</td>
        <td>Jan</td>
        <td>488.00</td>
      </tr>
      <tr>
        <td>Basis 2</td>
        <td>50</td>
        <td>CP</td>
        <td>Feb</td>
        <td>488.00</td>
      </tr>
    </tbody>
  </table>

  <div class="pricing-bid-divider">
    <span>OR</span>
  </div>

  <table class="table table-ask">
    <thead>
      <tr>
        <th><span class="text-highlight">Bid 2</span></th>
        <th>%</th>
        <th>Basis</th>
        <th>Pricing Period</th>
        <th>Price ($/t)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Basis 1</td>
        <td>75</td>
        <td>Fixed</td>
        <td>Jan</td>
        <td>488.00</td>
      </tr>
      <tr>
        <td>Basis 2</td>
        <td>25</td>
        <td>CP</td>
        <td>Feb</td>
        <td>488.00</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <table class="table table-ask table-notes">
    <tbody>
      <tr>
        <th>Notes</th>
        <td>Late payment pending 2USD/t std t's and c's</td>
      </tr>
      <tr>
        <th>Original time</th>
        <td>25 Apr 2017 <span class="text-muted">15:38:32</span></td>
      </tr>
      <tr>
        <th>Last updated</th>
        <td>25 Apr 2017 <span class="text-muted">15:53:21</span></td>
      </tr>
    </tbody>
  </table>

</ng-template>
