<div class="login-parent" *ngIf="!(session$ | async)?.success">
  <form class="login-child border-right" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div class="login-child-child">
      <h4>Reset Password</h4>
      <div class="form-group">
        <label for="reset-new-password">New Password</label>
        <input type="password" class="form-control" id="reset-new-password" formControlName="newPassword"  placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="confirm-new-password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-new-password" formControlName="confirmPassword"  placeholder="Confirm Password">
      </div>
      <div class="form-group" id="validation-min-character" class="password-validation">
        Contain minimum 8 characters
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidPasswordLength')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidPasswordLength')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group" id="validation-number-or-special" class="password-validation">
        Contain 1 number or special character
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidNumberOrSpecial')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidNumberOrSpecial')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group" id="validation-upper-and-lowercase" class="password-validation">
        Contain at least 1 character of each case
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidUpperAndLowerCase')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidUpperAndLowerCase')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div *ngIf="tempPassword" class="form-group" id="validation-temp-password-match" class="password-validation">
        Not be the temporary password
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('tempPasswordMatch')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('tempPasswordMatch')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group"id="validation-are-not-equal" class="password-validation">
        New password match
        <i *ngIf="resetPasswordForm.hasError('areNotEqual')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.hasError('areNotEqual')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="error-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>

    </div>
    <div class="login-child-child-last">
      <div id="submit-reset-password" class="login-child-cta">
        <button type="submit" class="btn btn-primary pull-right" id="reset-submit" [disabled]="this.resetPasswordForm.invalid">Submit</button>
        <div class="spinner-wrapper spinner-wrapper-login">
          <div *ngIf="(session$ | async)?.loading" class="loading-spinner"></div>
        </div>
      </div>
    </div>
  </form>

  <aom-register class="login-child"></aom-register>
</div>


<div class="login-parent" *ngIf="(session$ | async)?.success">
  <div class="login-child border-right">
    <div id="reset-message" class="login-child-child">
      Your password has been changed successfully.
      <br/><br/>
      Please click the following link to Login.
    </div>
    <div class="login-child-child-last">
      <div id="login" class="login-child-cta">
        <a id="reset-login" [routerLink]=" ['/login'] " class="btn btn-login pull-right">Back to Login</a>
      </div>
    </div>
  </div>
  <aom-register class="login-child"></aom-register>
</div>

<!-- <div class="row" *ngIf="!(session$ | async)?.success">

  <div id="reset-password-section" class="col-xs-6 login-item border-right">
    <h4>Reset Password</h4>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="reset-new-password">New Password</label>
        <input type="password" class="form-control" id="reset-new-password" formControlName="newPassword"  placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="confirm-new-password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-new-password" formControlName="confirmPassword"  placeholder="Confirm Password">
      </div>
      <div class="form-group" id="validation-min-character" class="password-validation">
        Contain minimum 8 characters
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidPasswordLength')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidPasswordLength')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group" id="validation-number-or-special" class="password-validation">
        Contain 1 number or special character
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidNumberOrSpecial')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidNumberOrSpecial')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group" id="validation-upper-and-lowercase" class="password-validation">
        Contain at least 1 character of each case
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('invalidUpperAndLowerCase')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('invalidUpperAndLowerCase')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group" id="validation-temp-password-match" class="password-validation">
        Not be the temporary password
        <i *ngIf="resetPasswordForm.controls.newPassword.hasError('tempPasswordMatch')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.controls.newPassword.hasError('tempPasswordMatch')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="form-group"id="validation-are-not-equal" class="password-validation">
        New password match
        <i *ngIf="resetPasswordForm.hasError('areNotEqual')" class="text-danger pull-right"><span class="icon-close"></span></i>
        <i *ngIf="!resetPasswordForm.hasError('areNotEqual')" class="text-success pull-right"><span class="icon-tick"></span></i>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="error-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>
      <div id="submit-reset-password" class="cta-login">
        <div class="wrapper-spinner wrapper-spinner-login">
          <div class="item-spinner">
            <span *ngIf="(session$ | async)?.loading" class="glyphicon glyphicon-repeat glyphicon-loading-spinner"></span>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary" id="reset-submit" [disabled]="this.resetPasswordForm.invalid">Submit</button>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div id="register-section" class="col-xs-6 login-item">
    <aom-register></aom-register>
  </div>
</div>
-->
