<div id="app-wrapper">
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="push"></div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="assets/login/footer.png" />
      </div>
      <div class="col-xs-9">
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="https://www.argusmedia.com/Ft/Trademarks/" target="_blank">Trademarks</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/Ft/Terms" target="_blank">Terms</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/Ft/Privacy-Policy" target="_blank">Privacy policy</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/AOM" target="_blank">Contact us</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/" target="_blank">www.argusmedia.com</a>
          </li>
        </ul>
        <p>
          Copyright &copy; {{ copyrightYear }}. Argus Media group, All rights reserved
        </p>
        <p>
          Notice: By accessing this site you agree that you will not copy or reproduce any part of its contents (including, but not limited to,
          single prices, graphs or news content) in any form or any purpose whatsoever without the prior written consent of the publisher.
        </p>
      </div>
    </div>
  </div>
</footer>

  <!-- <footer class="footer">
    <div id="footer-content">
      <div id="footer-left">
        <img src="assets/login/footer.png" />
      </div>
      <div id="footer-right">
        <ul id="footer-links">
          <li>
            <a href="https://www.argusmedia.com/Ft/Trademarks/" target="_blank">Trademarks</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/Ft/Terms" target="_blank">Terms</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/Ft/Privacy-Policy" target="_blank">Privacy policy</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/AOM" target="_blank">Contact us</a>
          </li>
          <li>
            <a href="https://www.argusmedia.com/" target="_blank">www.argusmedia.com</a>
          </li>
        </ul>
        <p id="copyright-text">
          Copyright © {{ copyrightYear }}. Argus Media group, All rights reserved
          <br />
          <br />
          Notice: By accessing this site you agree that you will not copy or reproduce any part of its contents (including, but not limited to,
          single prices, graphs or news content) in any form or any purpose whatsoever without the prior written consent of the publisher.
        </p>
      </div>
    </div>
  </footer> -->
