﻿<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="argusOpenMarkets" ng-controller="applicationController" class="indexHtml">
<head>
    <title>Argus Open Markets</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- compiled CSS -->
    <!--<% styles.forEach( function ( file ) { if(file.indexOf('default') === -1){ %>-->
    <!--<link rel="stylesheet" type="text/css" href="<%= file %>" />-->
    <!--<% }}); %>-->
    <link rel="stylesheet" type="text/css" ng-href="{{cssPage1}}" />
    <link rel="stylesheet" type="text/css" ng-href="{{cssPage2}}" />

</head>
<body ng-cloak ng-class="preLiveClass" class="background indexBody">
<header>
    <div class="headerSection">
        <div ui-view="header"></div>
    </div>
</header>
<div ui-view></div>
<!--[if lt IE 9]>
<div ng-cloak style="padding:0px; overflow:hidden; margin-right:-20px; height: 598px;">
    <div class="body-wrapper">
        <input type="hidden" id="locale" value="en-GB">
        <div ng-cloak class="topbar auth">
            <header class="topbar-inner">
                <a href="http://www.argusmedia.com" target="_blank" class="logoDirect small hide-text" style="margin-top: 0px; horizontal-align:left; position:absolute; left:0px;"></a>
                <ul class="topbar-nav">
                    <li class="topbar-li auth-hide"><a class="topbar-link" href="http://www.argusmedia.com" target="_blank"></a></li>
                    <li class="topbar-li anon-hide loggedin-msg">
                    <span id="welcomeText" class="welcome-text">
                    </span>
                    </li>
                    <li class="topbar-li anon-hide">
                        <a href="https://www.argusmedia.com" class="topbar-li" style="color:white;font-size:13px "target="_blank">Argusmedia.com</a>
                    </li>
                </ul>
            </header>
        </div>
        <div ng-cloak class="login-screen" >
            <img src="assets/login/login-background.jpg?=latest" alt="" class="bg">
            <div class="login-wrapper">
                <div>
                    <div class="login-box" style="margin-top:300px; vertical-align:middle; max-width:600px;" >
                        <h2 class="direct-blue">
                            Argus Open Markets
                        </h2>

                        <section id="forgottenPassword" class="login-pane">
                            <h2 class="forgotten-password h2">The web browser you are using is not supported</h2>
                            <p class="forgotten-password" > AOM has been optimised for the following browsers:
                            <p class="forgotten-password">
                                - Google Chrome</br>
                                - Firefox</br>
                                - IE11+
                            </p>
                            </p>
                            <p class="platform">
                                Your current browser details:
                                </br>
                                Browser Version: Internet Explorer 8 or lower
                            </p>
                            <p class="forgotten-password">
                                Contact the AOM support team
                                </br>
                                +44 (0) 207 199 9430
                                </br>
                                AOMSupport@ArgusMedia.com
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<![endif]-->

<div ui-view="footer"></div>
</body>
<footer>
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>">
    </script>
    <% }); %>
</footer>
</html>