<form [formGroup]="parentForm">
  <div class="form-group" *ngFor="let metadata of metadataConfig">
    <div *ngIf="isDropdown(metadata)">
      <label for="metaLabel1" class="col-xs-3 control-label">{{ metadata.labelText }}</label>
      <div class="col-xs-9 custom-select">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div *ngIf="!isDropdown(metadata)">
      <label for="metaLabel2" class="col-xs-3 control-label">{{ metadata.labelText }}</label>
      <div class="col-xs-9 custom-select">
          <input class="form-control">
      </div>
    </div>
  </div>
</form>