<div class="input-form ng-cloak" ng-cloak ng-keypress>
	<form name="authMarketInfoForm" ng-submit="submitForm(authMarketInfoForm.$valid)"  novalidate>
	    <div class="modal-header">
		<img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
	    <h3>
	      VERIFY MARKET INFORMATION
	    </h3>
		</div>
		<div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels class="modalNotesLabel">
                        <div class="modalNotesLabel">
                            <label>Market Info</label>
                            <div class="modalCharactersLeft" ng-class="{charactersLeftInValid: charactersLeft == 0}" >{{charactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-trim="false" focus="info"  required ng-change="infoChanged()" ng-model-options="{ debounce: 150 }" ng-model="info.info" rows="9" cols="61"></textarea>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Product Channels</label></cell-labels>
                    <cell>
                        <multi-select ng-click="infoChanged()" class="button-float-left marketTickerProducts" ng-class="{isDisabled: shouldDisable}" defaultlabel="PRODUCT" totallabel="PRODUCTS" input-model="marketTickerInfoProducts" max-labels="0" button-label="name" item-label="productName" tick-property="ticked" disable-property="shouldDisable"></multi-select>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label>Entered By</label></cell-labels>
                    <cell>
                        <label>{{userContactDetails.title}} {{userContactDetails.name}}</label><br/>
                        <label>{{userContactDetails.organisationName}}</label><br/>
                        <br/>
                        <label>email: &nbsp;</label><label class="email-link" ng-click="sendMail()">{{userContactDetails.email}}</label><br/>
                        <label>tel: &nbsp;</label><label>{{userContactDetails.telephone}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <button id="btnAuthInfoAuthenticate" type="submit" ng-click="verifyMarketInfo()" class="btn btn-sm btn-green" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!pending">VERIFY</button>
                        <button id="btnAuthInfoAmend" type="submit" ng-click="updateMarketInfo()" class="btn btn-sm btn-green" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!updated">UPDATE</button>
                        <button id="btnAuthInfoVoid" type="submit" ng-click="voidMarketInfo()" class="btn btn-sm btn-red" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!voidable">VOID</button>
                        <button class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
			</div>
		</div>
   </form>
</div>