<div class="input-form ng-cloak" ng-cloak ng-keypress>
	<form name="authMarketInfoForm" ng-submit="submitForm(authMarketInfoForm.$valid)"  novalidate>
	    <div class="modal-header">
		<img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
	    <h3>
	      VERIFY EXTERNAL MARKET INFORMATION
	    </h3>
		</div>
		<div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label>Market Info Type</label></cell-labels>
                    <cell>
                        <div class="btn-group">
                            <button type="button" ng-class="infoButtonClass('info')" class="btn btn-sm" ng-click="setMarketInfoType('info')">+ INFO</button>
                            <button type="button" ng-class="infoButtonClass('bid')" class="btn btn-sm" ng-click="setMarketInfoType('bid')">+ BID</button>
                            <button type="button" ng-class="infoButtonClass('ask')" class="btn btn-sm" ng-click="setMarketInfoType('ask')">+ ASK</button>
                            <button type="button" ng-class="infoButtonClass('deal')" class="btn btn-sm" ng-click="setMarketInfoType('deal')">+ DEAL</button>
                        </div>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Product(s)</label></cell-labels>
                    <cell>
                        <multi-select ng-click="infoChanged()" class="button-float-left marketTickerProducts"
                                      selection-mode="{{dropDownSelectMode}}"
                                      input-model="marketTickerInfoProducts"
                                      item-label="productName" button-label="{{dropDownButtonLabel}}" totallabel="PRODUCTS" max-labels="{{maxDropDownLabelsDisplay}}"
                                      tick-property="ticked"></multi-select>
                    </cell> <!--   max-labels="1" defaultlabel="PRODUCT" -->
                </row>
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label>Market Info</label>
                            <div class="modalCharactersLeft" ng-class="{charactersLeftInValid: charactersLeft == 0}" >{{charactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-trim="false" focus="info"  required ng-change="infoChanged()" ng-model-options="{ debounce: 150 }" ng-model="info.info" rows="9" cols="61"></textarea>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label>Entered By</label></cell-labels>
                    <cell>
                        <label>{{userContactDetails.title}} {{userContactDetails.name}}</label><br/>
                        <label class="dim">{{userContactDetails.organisationName}}</label><br/>
                        <br/>
                        <label class="dim">email: &nbsp;</label><label class="email-link" ng-click="sendMail()">{{userContactDetails.email}}</label><br/>
                        <label class="dim">tel: &nbsp;</label><label>{{userContactDetails.telephone}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <button id="btnAuthInfoAuthenticate" type="submit" ng-click="verifyMarketInfo()" class="btn btn-sm btn-green" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!pending">VERIFY</button>

                        <button id="btnAuthInfoAmend" type="submit" ng-click="updateMarketInfo()" class="btn btn-sm btn-green" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!updated">UPDATE</button>
                        <button id="btnAuthInfoVoid" type="submit" ng-click="voidMarketInfo()" class="btn btn-sm btn-red" ng-disabled="authExternalDealForm.$error.required || authExternalDealForm.$invalid||!infoValid||!voidable">VOID</button>
                        <button class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
			</div>
		</div>
   </form>
</div>