<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="authInternalDealForm" ng-submit="submitForm(authInternalDealForm.$valid)" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png" />
            <h3 ng-hide="deal.dealStatus !=='Executed'">VOID DEAL</h3>
            <h3 ng-hide="deal.dealStatus ==='Executed'">VERIFY DEAL</h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="voidOverlay" class="overlay" ng-show="voidingMode">
                <div id="voidReasonSelection" ng-show="voidingMode">
                    <label>ENTER VOID REASON:</label>
                    <div class="radio-group" style="margin-left: 20px;">
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_not_verified"  ng-click="setVoidReason('deal not verified')"><label>Deal not verified</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_not_completed" ng-click="setVoidReason('deal not completed')"><label>Deal not completed</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_terms_amended" ng-click="setVoidReason('deal terms amended')"><label>Deal terms amended</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="other"              ng-click="setVoidReason('other')"><label>Other: <input ng-disabled="voidReason.reasonSelection != 'other'" style="width: 390px;" ng-model="voidReason.reasonText" placeholder="Enter Reason" type="text"/></label></div>
                    </div>
                    <br/>
                    <button id="btnVoidConfirm" type="submit" ng-click="voidConfirmation(true)" class="btn btn-sm btn-red" ng-disabled="!canVoid()">VOID</button>
                    <button id="btnVoidCancel" class="pull-right btn btn-sm btn-grey" ng-click="voidConfirmation(false)">CANCEL</button>
                    <br/>
                </div>
            </div>
            <div id="tabular-layout">
                <row id="dark-select" style="padding-bottom: 5px;">
                    <cell-labels><label>Contract</label></cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.initial.productName}}</label>
                    </cell>
                </row>

                <row>
                    <cell-labels>
                        <label>Price {{priceLabel}}</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.initial.price | number }}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label>Quantity {{quantityLabel}}</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.initial.quantity | number:0}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels>
                        <label>Location</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.initial.tenor.deliveryLocation.name}}</label>
                    </cell>
                </row>

                <row>
                    <cell-labels>
                        <label>Delivery Period</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.initial.deliveryStartDate | date:'d-MMM-yyyy' }}</label> to <label class="read-only-content">{{deal.initial.deliveryEndDate | date:'d-MMM-yyyy' }}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label>Buyer</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.buyerName}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label>Seller</label>
                    </cell-labels>
                    <cell>
                         <label class="read-only-content">{{deal.sellerName}}</label>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label>Broker</label>
                    </cell-labels>
                    <cell>
                        <label class="read-only-content">{{deal.brokerName}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection" readonly="true"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <label>Notes</label>
                    </cell-labels>
                    <cell>
                        <textarea ng-maxlength="250" ng-disabled="authInternalDealForm.$error.required || authInternalDealForm.$invalid" ng-model="deal.initial.notes" type="text" name="notes" rows="4" cols="61"></textarea>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label>Entered By</label>
                    </cell-labels>
                    <cell>
                        <label>{{userContactDetails.title}} {{userContactDetails.name}}</label><br/>
                        <label class="dim">{{userContactDetails.organisationName}}</label><br/>
                        <br/>
                        <label class="dim">email: &nbsp;</label><label class="email-link" ng-click="sendMail()">{{userContactDetails.email}}</label><br/>
                        <label class="dim">tel: &nbsp;</label><label>{{userContactDetails.telephone}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label class="invisible">Buttons</label>
                    </cell-labels>
                    <cell class="orderButtonContainer">
                        <button id="btnAuthInternalDealAuthenticate" ng-hide="deal.dealStatus =='Executed'" type="submit" ng-click="verifyDeal()" class="btn btn-sm btn-green" ng-disabled="authInternalDealForm.$error.required || authInternalDealForm.$invalid">VERIFY</button>
                        <!--<button id="btnAuthInternalDealAmend" type="submit" ng-click="updateDeal(true)" class="btn btn-sm btn-green" ng-disabled="authInternalDealForm.$error.required || authInternalDealForm.$invalid">UPDATE</button>-->
                        <button id="btnAuthInternalDealVoid" type="submit" ng-click="voidDeal()" class="btn btn-sm btn-red" ng-disabled="authInternalDealForm.$error.required || authInternalDealForm.$invalid">VOID</button>
                        <button id="btnNewInternalDealExit" class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>