<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="authExternalDealForm" ng-submit="submitForm(authExternalDealForm.$valid)" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png" />
            <h3 ng-hide="deal.dealStatus !=='Executed'">VOID DEAL (EXTERNAL TO AOM)</h3>
            <h3 ng-hide="deal.dealStatus ==='Executed'">VERIFY DEAL (EXTERNAL TO AOM)</h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="voidOverlay" class="overlay" ng-show="voidingMode">
                <div id="voidReasonSelection" ng-show="voidingMode">
                    <label>ENTER VOID REASON:</label>
                    <div class="radio-group" style="margin-left: 20px;">
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_not_verified"  ng-click="setVoidReason('deal not verified')"><label>Deal not verified</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_not_completed" ng-click="setVoidReason('deal not completed')"><label>Deal not completed</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="deal_terms_amended" ng-click="setVoidReason('deal terms amended')"><label>Deal terms amended</label></div>
                        <div class="radio"><input type="radio" name="voidReasonSelection" value="other"              ng-click="setVoidReason('other')"><label>Other: <input ng-disabled="voidReason.reasonSelection != 'other'" style="width: 390px;" ng-model="voidReason.reasonText" placeholder="Enter Reason" type="text"/></label></div>
                    </div>
                    <br/>
                    <button id="btnVoidConfirm" type="submit" ng-click="voidConfirmation(true)" class="btn btn-sm btn-red" ng-disabled="!canVoid()">VOID</button>
                    <button id="btnVoidCancel" class="pull-right btn btn-sm btn-grey" ng-click="voidConfirmation(false)">CANCEL</button>
                    <br/>
                </div>
            </div>
            <div id="tabular-layout">
                <row id="dark-select" style="padding-bottom: 5px;">
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Contract</label>
                    </cell-labels>
                    <cell>
                        <select chosen
                                required
                                ng-model="selectedContract"
                                ng-selected="selectedContract"
                                ng-change="selectContract(selectedContract)"
                                disable-search="true"
                                ng-disabled="deal.dealStatus =='Executed'"
                                ng-options="c.productTitle for c in contracts">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                    </cell-labels>
                    <cell>
                        <input ng-show="selectedContract.isInternal"
                               ng-disabled="deal.dealStatus =='Executed'"
                               name="priceType"
                               class="large-input"
                               ng-model="deal.contractInput"
                               ng-change="onContractNameChange()"
                               ng-required="selectedContract.isInternal"
                               type="text"/>
                        <span style="vertical-align:bottom" ng-show="selectedContract.isInternal"
                             ng-class="{notesCharactersLeftInValid: contractNameCharactersLeft == 0}">{{contractNameCharactersLeft}} chars left</span>
                    </cell>
                </row>

                <row>
                    <cell-labels>
                        <label class="label-required modalLabelAdjustment">Price {{priceLabel}}</label>
                    </cell-labels>
                    <cell>
                        <input name="price" ng-disabled="deal.dealStatus =='Executed'" pattern="^[-]?\d{1,9}(\.\d{0,2})?$" ng-model="deal.price" required type="text"/>
                        <label ng-show="showOptionalPriceDetail()"  class="modalLabelAdjustment label-medium" style="padding-left: 10px;">Optional Price Detail</label>
                        <input ng-show="showOptionalPriceDetail()" name="pricedetail" ng-disabled="deal.dealStatus =='Executed'" ng-model="deal.optionalPriceDetail" class="pull-right" type="text"/>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label class="label-required modalLabelAdjustment">Quantity {{quantityLabel}}</label>
                    </cell-labels>
                    <cell>
                        <input name="quantity" ng-disabled="deal.dealStatus =='Executed'" ng-pattern="/^\d{0,9}(\.\d{0,2})?$/" ng-model="deal.quantity" required type="text"/>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels>
                        <label class="label-required modalLabelAdjustment">Location</label>
                    </cell-labels>
                    <cell>
                        <input name="location" ng-disabled="deal.dealStatus =='Executed'" ng-model="deal.deliveryLocation" required type="text"/>
                    </cell>
                </row>

                <row>
                    <cell-labels>
                        <label class="label-required">Delivery Period</label>
                    </cell-labels>
                    <cell>
                        <div class="aom-date-slider" style="margin-top: 6px;">
                            <div class="slider" disabled="deal.dealStatus =='Executed'" date-slider itemdisabled="itemdisabled"
                                 minstartdate="minDate"
                                 minrange="minRange" maxenddate="maxDate" startdate="deal.deliveryStartDate"
                                 daysselected="daysSelected" enddate="deal.deliveryEndDate"
                                 disabled="false"></div>
                        </div>
                        <div class="daysselected">No of days selected: {{daysSelected}}</div>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label class="label-required modalLabelAdjustment">Buyer</label>
                    </cell-labels>
                    <cell>
                        <input name="location" ng-disabled="deal.dealStatus =='Executed'" typeahead="principal.name for principal in getPrincipals($viewValue)" typeahead-on-select="setBuyer($item)" ng-model="deal.buyerName" required type="text">
                        <label class="label-short label-required" style="padding-left: 10px;  margin-top: 5px">Seller</label>
                        <input name="location" class="pull-right" ng-disabled="deal.dealStatus =='Executed'" typeahead="principal.name for principal in getPrincipals($viewValue)" typeahead-on-select="setSeller($item)" ng-model-options="{ debounce: 50 }" ng-model="deal.sellerName" type="text">
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label class="modalLabelAdjustment">Broker</label>
                    </cell-labels>
                    <cell>
                        <input name="location" ng-disabled="deal.dealStatus =='Executed'" typeahead="broker.name for broker in getBrokers($viewValue)" typeahead-on-select="setBroker($item)" ng-model-options="{ debounce: 50 }" ng-model="deal.brokerName" type="text">
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label class="modalLabelAdjustment">Notes</label>
                            <div ng-if="deal.dealStatus != 'Executed'" class="modalCharactersLeft" ng-class="{notesCharactersLeftInValid: notesCharactersLeft == 0}">{{notesCharactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-disabled="deal.dealStatus =='Executed'" ng-trim="false" ng-class="{'ng-invalid': notesCharactersLeft == 0}" ng-change="onNotesChange()" ng-model="deal.notes" ng-model-options="{ debounce: 150 }" type="text" name="notes" rows="4" cols="72"></textarea>
                    </cell>
                </row>
                <row ng-show="canViewFreeFormNotes()"><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row ng-show="canViewFreeFormNotes()">
                    <cell-labels>
                        <label>Free Form Deal</label>
                    </cell-labels>
                    <cell>
                        <textarea ng-maxlength="250" ng-disabled="!dealUsesCustomFreeFormNotes || deal.dealStatus =='Executed'" ng-model="deal.freeFormDealMessage" type="text" ng-change="overrideFreeForm()" name="freeForm" rows="4" cols="61">{{createMessage(authExternalDealForm)}}</textarea>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label>Entered By</label>
                    </cell-labels>
                    <cell>
                        <label>{{userContactDetails.title}} {{userContactDetails.name}}</label><br/>
                        <label class="dim">{{userContactDetails.organisationName}}</label><br/>
                        <br/>
                        <label class="dim">email: &nbsp;</label><label class="email-link" ng-click="sendMail()">{{userContactDetails.email}}</label><br/>
                        <label class="dim">tel: &nbsp;</label><label>{{userContactDetails.telephone}}</label>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label class="invisible">Buttons</label>
                    </cell-labels>
                    <cell class="orderButtonContainer">
                            <button id="btnAuthExtDealAuthenticate" ng-hide="deal.dealStatus =='Executed'" type="submit" ng-click="verifyDeal()" class="btn btn-sm btn-green" ng-disabled="(authExternalDealForm.$error.required || authExternalDealForm.$invalid) && !deal.useCustomFreeFormNotes">VERIFY</button>
                            <button id="btnAuthExtDealAmend" ng-hide="deal.dealStatus =='Executed'" type="submit" ng-click="updateDeal(true)" class="btn btn-sm btn-green" ng-disabled="updateButtonDisabled()">UPDATE</button>
                            <button id="btnAuthExtDealVoid" type="submit"  ng-click="voidDeal()" class="btn btn-sm btn-red" ng-disabled="(authExternalDealForm.$error.required || authExternalDealForm.$invalid) && !deal.useCustomFreeFormNotes">VOID</button>
                            <button id="btnNewExtDealExit" class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
            <div>
                <label class="label-footnote label-required" style="padding-right: 0px;"></label><label class="label-footnote"> indicates a required field</label>
            </div>
        </div>
    </form>
</div>