<div class="ticker-container">
    <div class="ticker-header-container">
        <div class="ticker-header-img">
            <!--<img src="assets/gridtitlecollapse.png"/>-->
            <i class="fa fa-list-ul fa-5 widget-icon-color" aria-hidden="true"></i>
        </div>
        <div class="ticker-header-title">
            <div class="ticker-header-title-style">
                MARKET TICKER
            </div>
        </div>
        <div ng-show="showDeal" class="ticker-header-deal">
            <div class="btn-group btn-group-width defaultMTHeaderHeight">
                <button ng-click="openNewDeal()" class="btn btn-primary btn-deal">+ DEAL</button>
                <button ng-click="openNewInfo()" class="btn btn-primary btn-market">MARKET INFO</button>
            </div>
        </div>
        <div ng-show="showExternalOrder()" class="ticker-header-external-order">
            <div class="btn-group btn-group-width defaultMTHeaderHeight">
                <button ng-show="showExternalOrder()" ng-click="openProductSelectorThenNewOrder('Bid')" class="btn btn-primary btn-deal">+ BID</button>
                <button ng-show="showExternalOrder()" ng-click="openProductSelectorThenNewOrder('Ask')" class="btn btn-primary btn-deal">+ ASK</button>
            </div>
        </div>
        <div ng-show="showExternalInfo()" class="ticker-header-external-info">
            <button ng-click="openNewExternalInfo()" class="btn btn-primary btn-external-info">+ INFO</button>
        </div>
        <div ng-show="enablePendingFilter" class="ticker-header-pending">
            <div class="defaultMTHeaderHeight">
                <button ng-click="togglePending()" ng-hide="showPendingOnly" type="button"
                        class="btn btn-primary btn-pending">STATUS: ALL
                </button>
                <button ng-click="togglePending()" ng-show="showPendingOnly" type="button"
                        class="btn btn-primary btn-pending">STATUS: PENDING
                </button>
            </div>
        </div>
        <div class="ticker-header-items">
            <multi-select class="marketTickerType" defaultlabel="TYPE" totallabel="TYPES" input-model="typeList"
                          max-labels="0" button-label="name" item-label="name" tick-property="ticked">
            </multi-select>
        </div>
        <div class="ticker-header-products">
            <multi-select class="marketTickerProducts" defaultlabel="PRODUCT" totallabel="PRODUCTS"
                          input-model="marketTickerProducts" max-labels="0" button-label="name" item-label="productName"
                          tick-property="ticked">
            </multi-select>
        </div>
    </div>
    <div>
        <perfect-scrollbar id="mTContainer" scroll-container mousewheeldistance="96" class="ticker-grid-container"
                           scroll-top-on-change="[typeList,marketTickerProducts,showPendingOnly]">
            <div ng-class-even="'even'" ng-class-odd="'odd'"
                 ng-repeat="item in marketTickerItems| pendingFilter:showPendingOnly |marketTickerItemTypeFilter:typeList | marketTickerProductFilter: marketTickerProducts">
                <mt-item ng-click="marketTickerItemClicked(item)" ng-disabled="mtItemDisabled()" item="item"></mt-item>
            </div>
        </perfect-scrollbar>
        <div ng-grid-footer="" class="ng-scope">
            <div class="market-ticker-footer">
                <button id="bidAskGridUpButton" class="bidAskGridUpButton" ng-click="decreaseMarketTickerSize()" type="button">
                    <i ng-if="canClickUp()" class="fa fa-chevron-up fa-3 collapse-arrow" aria-hidden="true"></i>
                    <i  ng-if="!canClickUp()" class="fa fa-chevron-up fa-3 collapse-arrow-disabled" aria-hidden="true"></i>
                </button>
                <button id="bidAskGridDownButton" class="bidAskGridDownButton ng-binding" ng-disabled="!canClickDown()" ng-click="increaseMarketTickerSize()" type="button">
                    <i ng-if="canClickDown()" class="fa fa-chevron-down fa-3 collapse-arrow" aria-hidden="true"></i>
                    <i ng-if="!canClickDown()" class="fa fa-chevron-down fa-3 collapse-arrow-disabled" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>