<div class="input-form ng-cloak" ng-cloak ng-keypress>
	<form name="newMarketInfoForm" ng-submit="submitForm(newMarketInfoForm.$valid)"  novalidate>
	    <div class="modal-header">
		<img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
	    <h3>
	      REPORT MARKET INFORMATION - {{ marketInfoType | uppercase }}
	    </h3>
		</div>
		<div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels><label>Market Info Type</label></cell-labels>
                    <cell>
                        <div class="btn-group">
                            <button type="button" ng-class="infoButtonClass('info')" class="btn btn-sm" ng-click="setMarketInfoType('info')">+ INFO</button>
                            <button type="button" ng-class="infoButtonClass('bid')" class="btn btn-sm" ng-click="setMarketInfoType('bid')">+ BID</button>
                            <button type="button" ng-class="infoButtonClass('ask')" class="btn btn-sm" ng-click="setMarketInfoType('ask')">+ ASK</button>
                            <button type="button" ng-class="infoButtonClass('deal')" class="btn btn-sm" ng-click="setMarketInfoType('deal')">+ DEAL</button>
                        </div>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Product(s)</label></cell-labels>
                    <cell>
                        <multi-select ng-click="infoChanged()" class="button-float-left marketTickerProducts"
                                      selection-mode="{{dropDownSelectMode}}"
                                      input-model="marketTickerInfoProducts"
                                      item-label="productName" button-label="{{dropDownButtonLabel}}" totallabel="PRODUCTS" max-labels="{{maxDropDownLabelsDisplay}}"
                                      tick-property="ticked"></multi-select>
                    </cell> <!--   max-labels="1" defaultlabel="PRODUCT" -->
                </row>
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label>Market Info</label>
                            <div class="modalCharactersLeft" ng-class="{charactersLeftInValid: charactersLeft == 0}" >{{charactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea focus="info" ng-trim="false" required ng-change="infoChanged()" ng-model-options="{ debounce: 150 }" ng-model="info.marketInfoText" rows="9" cols="61"></textarea>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <button ng-hide="canCreateVerified()" type="submit" ng-click="newInfo('Pending')" class="btn btn-sm btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE</button>
                        <button ng-show="canCreateVerified()" type="submit" ng-click="newInfo('Active')" class="btn btn-md btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE AS VERIFIED</button>
                        <button ng-show="canCreateVerified()" type="submit" ng-click="newInfo('Pending')" class="btn btn-md btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE AS PENDING</button>
                        <button class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
        </div>
   </form>
</div>