<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="newExternalDealForm" ng-init="" ng-submit="submitForm(newExternalDealForm.$valid)" novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png" />
            <h3>
                REPORT DEAL (EXTERNAL TO AOM)
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row id="dark-select" style="padding-bottom: 5px;">
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Contract</label>
                    </cell-labels>
                    <cell>
                        <select chosen
                                required
                                ng-model="selectedContract"
                                ng-selected="selectedContract"
                                ng-change="selectContract(selectedContract,newExternalDealForm.price)"
                                data-placeholder="Choose a contract"
                                disable-search="true"
                                ng-options="c.productTitle for c in contracts">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                    </cell-labels>
                    <cell>
                        <!-- NOTE: Using !selectedContract.hasAssessment is complete GASH and should be removed as soon as possible. See jira 1396 -->
                        <input ng-show="selectedContract.isInternal"
                               name="priceType"
                               placeholder="Please enter contract name"
                               class="large-input ng-pristine ng-valid"
                               ng-model="deal.contractInput"
                               ng-change="onContractNameChange()"
                               ng-required="selectedContract.isInternal"
                               type="text">
                        <span style="vertical-align:bottom" ng-show="selectedContract.isInternal"
                             ng-class="{notesCharactersLeftInValid: contractNameCharactersLeft == 0}">{{contractNameCharactersLeft}} chars left</span>
                    </cell>
                </row>

                <row>
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Price {{priceLabel}}</label>
                    </cell-labels>
                    <cell>
                        <input name="price" ng-change="priceSpecification.isValid(newExternalDealForm.price)" pattern="^[-]?\d{1,9}(\.\d{0,2})?$"  ng-model="deal.price" required type="text"/>
                        <label ng-show="showOptionalPriceDetail()" class="modalLabelAdjustment label-medium" style="padding-left: 10px;">Optional Price Detail</label>
                        <input ng-show="showOptionalPriceDetail()" class="pull-right"  name="pricedetail" ng-model="deal.optionalPriceDetail" type="text"/>
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Quantity {{quantityLabel}}</label>
                    </cell-labels>
                    <cell>
                        <input name="quantity" ng-pattern="/^\d{0,9}(\.\d{0,2})?$/"  ng-model="deal.quantity" required type="text"/>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>

                <row>
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">{{productLabels.locationLabel}}</label>
                    </cell-labels>
                    <cell>
                        <input name="location"  ng-model="deal.deliveryLocation" required type="text">
                    </cell>
                </row>
                <row>
                    <cell-labels>
                        <label class="label-required">{{productLabels.deliveryPeriodLabel}}</label>
                    </cell-labels>
                    <cell>
                        <div class="aom-date-slider" style="margin-top: 6px;">
                            <div class="slider" showslider="false" date-slider minstartdate="minDate" minrange="minRange" itemdisabled="itemdisabled"
                                 maxenddate="maxDate" startdate="deal.deliveryStartDate" daysselected="daysSelected"
                                 enddate="deal.deliveryEndDate" disabled="false"></div>
                        </div>
                        <div class="daysselected">No of days selected: {{daysSelected}}</div>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                        <cell-labels>
                            <label class="label-required">Buyer</label>
                        </cell-labels>
                        <input name="location" typeahead="principal.name for principal in principals | filter:$viewValue | limitTo:6" typeahead-on-select="setBuyer($item)" ng-model="deal.buyerName" required type="text">
                        <label class="label-short label-required" style="padding-left: 10px; margin-top: 5px;">Seller</label>
                        <input name="location" class="pull-right" typeahead="principal.name for principal in principals | filter:$viewValue | limitTo:6" typeahead-on-select="setSeller($item)" ng-model="deal.sellerName" required type="text">
                </row>
                <row>
                    <cell-labels>
                        <label >Broker</label>
                    </cell-labels>
                    <cell>
                        <input name="location" typeahead="broker.name for broker in brokers | filter:$viewValue | limitTo:6" typeahead-on-select="setBroker($item)" ng-model="deal.brokerName" type="text">
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
            </div>

            <metadata-table metadata-collection="metaDataCollection"></metadata-table>

            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label class="modalLabelAdjustment">Notes</label>
                            <div class="modalCharactersLeft" ng-class="{notesCharactersLeftInValid: notesCharactersLeft == 0}">{{notesCharactersLeft}} chars left</div>
                         </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-trim="false" ng-class="{'ng-invalid': notesCharactersLeft == 0}" ng-change="onNotesChange()" ng-model="deal.notes" type="text" name="notes" rows="4" cols="72"></textarea>
                    </cell>
                </row>

                <row ng-show="canViewFreeFormNotes()"><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row ng-show="canViewFreeFormNotes()">
                    <cell-labels>
                        <div class="modalNotesLabel">
                            <label>Free Form Deal</label>
                            <div class="modalCharactersLeft" ng-class="{freeFormNotesCharactersLeftInValid: freeFormNotesCharactersLeft == 0}">{{freeFormNotesCharactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea ng-maxlength="250" ng-trim="false" max-length="250" ng-disabled="!canViewFreeFormNotes()" ng-change="onFreeFormNotesChange()" ng-model="deal.freeFormDealMessage" type="text" name="freeForm" rows="4" cols="61">{{createMessage(newExternalDealForm)}}</textarea>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels>
                        <label class="invisible">Buttons</label>
                    </cell-labels>
                    <cell class="orderButtonContainer">
                        <button id="btnNewDealCreate" ng-hide="canCreateVerified()" type="submit" ng-click="newDeal(false)" class="btn btn-sm btn-green" ng-disabled="(newExternalDealForm.$error.required || newExternalDealForm.$invalid) && !deal.useCustomFreeFormNotes">CREATE</button>
                        <button id="btnNewDealCreateV" ng-show="canCreateVerified()" type="submit" ng-click="newDeal(true)" class="btn btn-md btn-green" ng-disabled="(newExternalDealForm.$error.required || newExternalDealForm.$invalid) && !deal.useCustomFreeFormNotes">CREATE AS VERIFIED</button>
                        <button id="btnNewDealCreateP" ng-show="canCreateVerified()" type="submit" ng-click="newDeal(false)" class="btn btn-md btn-green" ng-disabled="(newExternalDealForm.$error.required || newExternalDealForm.$invalid) && !deal.useCustomFreeFormNotes">CREATE AS PENDING</button>
                        <button id="btnNewDealExit" class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
            <div>
                <label class="label-footnote label-required" style="padding-right: 0px;"></label><label class="label-footnote"> indicates a required field</label>
            </div>
        </div>
    </form>
</div>