<div class="input-form ng-cloak" ng-cloak ng-keypress>
	<form name="newMarketInfoForm" ng-submit="submitForm(newMarketInfoForm.$valid)"  novalidate>
	    <div class="modal-header">
		<img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
	    <h3>
	      REPORT MARKET INFORMATION
	    </h3>
		</div>
		<div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row>
                    <cell-labels>
                        <div class="modalNotesLabelMi">
                            <label>Market Info</label>
                            <div class="modalCharactersLeft" ng-class="{charactersLeftInValid: charactersLeft == 0}" >{{charactersLeft}} chars left</div>
                        </div>
                    </cell-labels>
                    <cell>
                        <textarea focus="info" ng-trim="false" required ng-change="infoChanged()" ng-model-options="{ debounce: 150 }"  ng-model="info.marketInfoText" rows="9" cols="61"></textarea>
                    </cell>
                </row>
                <row>
                    <cell-labels><label>Product Channels</label></cell-labels>
                    <cell>
                        <multi-select ng-click="infoChanged()" class="button-float-left marketTickerProducts" defaultlabel="PRODUCT" totallabel="PRODUCTS" input-model="marketTickerInfoProducts" max-labels="0" button-label="name" item-label="productName" tick-property="ticked"></multi-select>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <button ng-hide="canCreateVerified()" type="submit" ng-click="newInfo('Pending')" class="btn btn-sm btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE</button>
                        <button ng-show="canCreateVerified()" type="submit" ng-click="newInfo('Active')" class="btn btn-md btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE AS VERIFIED</button>
                        <button ng-show="canCreateVerified()" type="submit" ng-click="newInfo('Pending')" class="btn btn-md btn-green" ng-disabled="newMarketInfoForm.$error.required || newMarketInfoForm.$invalid||!infoValid">CREATE AS PENDING</button>
                        <button class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
        </div>
   </form>
</div>