<div class="input-form ng-cloak" ng-cloak ng-keypress>
    <form name="productSelectorForm" ng-submit="submitForm(productSelectorForm.$valid)"  novalidate>
        <div class="modal-header">
            <img ng-click="exit()" class="closeButton" src="assets/closecross.png"/>
            <h3>
                SELECT A PRODUCT
            </h3>
        </div>
        <div class="orderFormInputFieldsContainer">
            <div id="tabular-layout">
                <row id="dark-select" style="padding-bottom: 5px;">
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Product</label>
                    </cell-labels>
                    <cell>
                        <select chosen
                                ng-model="selectedProduct"
                                ng-selected="selectedProduct"
                                ng-change="productSelected(selectedProduct)"
                                data-placeholder="Choose a product"
                                disable-search="true"
                                ng-options="p.productTitle for p in products">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>
                <row id="dark-select" style="padding-bottom: 5px;" ng-show="enableTenorSelection">
                    <cell-labels>
                        <label class="modalLabelAdjustment label-required">Product Tenor</label>
                    </cell-labels>
                    <cell>
                        <select chosen
                                ng-model="selectedTenor"
                                ng-selected="selectedTenor"
                                ng-change="tenorSelected(selectedTenor)"
                                data-placeholder="Choose a product tenor"
                                disable-search="true"
                                ng-options="t.displayName for t in tenors">
                            <option>
                            <option>
                        </select>
                    </cell>
                </row>
                <row><cell-labels><hr/></cell-labels><cell><hr/></cell></row>
                <row>
                    <cell-labels><label class="invisible">Buttons</label></cell-labels>
                    <cell>
                        <button type="submit" ng-click="ok()" class="btn btn-sm btn-green" ng-disabled="!enableOk()">OK</button>
                        <button class="pull-right btn btn-sm btn-grey" ng-click="exit()">EXIT</button>
                    </cell>
                </row>
            </div>
        </div>
    </form>
</div>