<accordion>
  <accordion-group #group2>
    <div accordion-heading>
      {{productTenor?.name}}
      <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group2?.isOpen, 'icon-chevron-right': !group2?.isOpen}"></span>
    </div>
    <table class="table">
      <thead>

      </thead>
      <tbody>
        <tr>
          <th>Roll Date:</th>
          <td>{{productTenor?.rollDate}}</td>
        </tr>
        <tr>
          <th>Delivery Start Date Rule:</th>
          <td>{{productTenor?.deliveryDateStart}}</td>
        </tr>
        <tr>
          <th>Delivery End Date Rule:</th>
          <td>{{productTenor?.deliveryDateEnd}}</td>
        </tr>
        <tr>
          <th>Minimum Delivery Range:</th>
          <td>{{productTenor?.minimumDeliveryRange}}</td>
        </tr>

      </tbody>
    </table>
  </accordion-group>
</accordion>