// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import styling specific to the settings section
@import "./src/assets/sass/pages/_settings";

// https://www.concretepage.com/angular-2/angular-2-4-component-styles-host-host-context-deep-selector-example
// The accordion panel within an accordion panel used in e.g. settings > product settings > tenors
/deep/.panel-group {
  .panel-group {
    @extend %margin-all-0;

    .panel {
      border-width: 0;

      &-heading {
        padding: 2px 5px 0!important;
        background-color: $gray-dark;
      }

      &-title {
        font-size: $font-size-base;
      }
    }
  }
}
