<div>
	<label ng-class="[block-display,bold,'first-time-login-h2'] " for="username">Enter your new password</label>
	<input focus="password" type="password" ng-model="password" id="password" name="password" placeholder="New Password"
	       class="input-text" ng-model="password">
	<label ng-class="[block-display,bold,'first-time-login-h2'] " for="password">Confirm your new password</label>
	<input type="password" id="newPassword2" name="password" placeholder="Confirm Password" class="input-text"
	       ng-model="passwordConfirm"/>

	<div class="passwordValidation">
		Passwords must:
		<div>
			<div class="validation">Contain minimum {{minchars}} characters</div>
			<div ng-hide="lengthCheckValid" class="cross">&#10006;</div>
			<div ng-show="lengthCheckValid" class="tick">&#10004;</div>
		</div>
		<div>
			<div class="validation">Contain {{minnumorspecial}} number or special character</div>
			<div class="cross" ng-hide="checkNumberOrSpecialValid">&#10006;</div>
			<div class="tick" ng-show="checkNumberOrSpecialValid">&#10004;</div>
		</div>
		<div>
			<div class="validation">Contain at least {{mincasediff}} characters of each case</div>
			<div ng-hide="caseCheckValid" class="cross">&#10006;</div>
			<div ng-show="caseCheckValid" class="tick">&#10004;</div>
		</div>
		<div>
			<div class="validation">Not be the temporary password</div>
			<div ng-hide="notTempCheckValid" class="cross">&#10006;</div>
			<div ng-show="notTempCheckValid" class="tick">&#10004;</div>
		</div>
		<div>
			<div class="validation">New password match</div>
			<div ng-hide="passwordsMatchCheckValid" class="cross">&#10006;</div>
			<div ng-show="passwordsMatchCheckValid" class="tick">&#10004;</div>
		</div>
	</div>
</div>

