<div class="bidAskStacksContainer">
    <div class="bidAskStackHeaderContainer">
        <div style="vertical-align: middle; float:left; padding-left: 5px;">
            <!--<img src="assets/gridtitlecollapse.png"/> -->
            <i class="fa fa-ellipsis-v widget-icon-color" aria-hidden="true"></i>
        </div>
        <div style="font-size:12px;height:100%; width: 370px; padding-top: 5px; text-align: left; float:left;" hover position="bottom left" pointing="left"
             contentstyle="contractContentStyle"
             titlerowstyle="contractTitleRowStyle"
             titletemplate="{{productTitle}}"
             content="{{hoverBidAskContent}}">
            {{productTitle | capitalize}}
        </div>
        <br style="clear: left;" />
    </div>
    <div class="bidAskStackGridsContainer">
        <div ui-if="bids.length>0" class="bidAskGrid" ng-grid="bidGridOptions" ng-style="{{getGridHeight()}}"></div>
        <div ui-if="asks.length>0" class="bidAskGrid" ng-grid="askGridOptions" ng-style="{{getGridHeight()}}"></div>
        <br style="clear:left;" />
    </div>
</div>