<form [formGroup]="parentForm" class="form-group has-feedback date-range">
  <div formGroupName="deliveryPeriod">
    <label for="deliveryPeriod" class="col-sm-3 control-label">Delivery period</label>
    <div *ngIf="hasDeliveryPeriodOptions">
      <div class="col-xs-9 custom-select">
        <select id="deliveryPeriodOption" class="form-control" formControlName="deliveryPeriodOption">
          <option *ngFor="let option of delvieryPeriodConfig.deliveryPeriodOptions" [value]="option.id">{{ option.name }}</option>
        </select>
      </div>
    </div>
    <div *ngIf="!hasDeliveryPeriodOptions">
      <div class="date-range-item">
        <input class="form-control" placeholder="" bsDatepicker #dp1="bsDatepicker" [minDate]="delvieryPeriodConfig.minStartDate"
          [maxDate]="delvieryPeriodConfig.maxStartDate" [bsConfig]="bsConfig" formControlName="deliveryStartDate" (bsValueChange)="datePickerValueChanged()">
        <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="date-range-item">
        <input class="form-control" placeholder="" bsDatepicker #dp2="bsDatepicker" [minDate]="delvieryPeriodConfig.minEndDate"
          [maxDate]="delvieryPeriodConfig.maxEndDate" [bsConfig]="bsConfig" formControlName="deliveryEndDate" (bsValueChange)="datePickerValueChanged()">
        <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="date-range-item">
        <div class="days-selected"> {{ noOfDaysSelected }} days selected</div>
      </div>
    </div>
  </div>
</form>