<div id="div-forms">
  <!-- Begin # Login Form -->
  <form id="login" (ngSubmit)="login()">
    <div class="modal-body">
      <div id="div-login-msg">
        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
        <span id="text-login-msg">Login-{{ num }}</span>
      </div>
      <input [(ngModel)]="user.email" name="username" id="email" class="form-control" type="text" placeholder="Username" required="">
      <input [(ngModel)]="user.password" name="password" id="login_password" class="form-control" type="password" placeholder="Password" required="">
    </div>
    <div class="modal-footer">
      <div>
        <span class="error">>{{ errorMsg }}</span>
      </div>
      <div>
        <button name="login" class="btn btn-primary btn-lg btn-block">Login</button>
      </div>
    </div>
  </form>
  <h3>Web service Login:</h3>
  <form id="login" (ngSubmit)="webServiceLogin()">
    <div class="modal-body">
      <div id="div-login-msg">
        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
        <span id="text-login-msg">Login-{{ num }}</span>
      </div>
      <input [(ngModel)]="webServiceUser.email" name="username" id="email" class="form-control" type="text" placeholder="Username" required="">
      <input [(ngModel)]="webServiceUser.password" name="password" id="login_password" class="form-control" type="password" placeholder="Password" required="">
    </div>
    <div class="modal-footer">
      <div>
        <span class="error">>{{ errorMsg }}</span>
      </div>
      <div>
        <button name="login" class="btn btn-primary btn-lg btn-block">Login</button>
      </div>
    </div>
  </form>
</div>
