<div class="tabCtrl pull-left" ng-locked>
    <ul class="tabrow">
        <li ng-repeat="tab in tabsdisplay" ng-click="selectTab(tab)"
            ng-disabled="userHasMadeAChange"
            ng-class="tab.selected==true ? 'selected' : ''">{{tab.tabName}}
        </li>
    </ul>
</div>