<div class="modal-header">
  <h4 class="modal-title pull-left">Complex Bid Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">
      <span class="icon-close"></span>
    </span>
  </button>
</div>
<div class="spinner-wrapper" *ngIf="(createOrderState$ | async)?.loading">
  <div class="loading-spinner"></div>
</div>
<div *ngIf="!(createOrderState$ | async)?.loading">
  <div *ngIf="createOrderConfig$ | async">
    <div class="modal-body">
      <div class="row">
        <form class="form-horizontal" [formGroup]="orderForm" novalidate>
          <div class="col-xs-6">
            <quantity [quantityConfig]="(createOrderConfig$ | async)?.quantity" [parentForm]="orderForm" (quantityChange)="onQuantityChange($event)"></quantity>
            <span class="text-danger" *ngFor="let error of quantityErrors">{{ error }}
              <br/>
            </span>
            <delivery-period [delvieryPeriodConfig]="(createOrderConfig$ | async)?.deliveryPeriod" [parentForm]="orderForm"></delivery-period>
            <span class="text-danger" *ngFor="let error of deliveryPeriodErrors">{{ error }}
              <br/>
            </span>
            <delivery-location [deliveryLocationConfig]="(createOrderConfig$ | async)?.deliveryLocation" [parentForm]="orderForm"></delivery-location>
            <hr />
            <traders [traderConfig]="(createOrderConfig$ | async)?.trader" [parentForm]="orderForm"></traders>
            <hr />
            <!-- <metadata [metadataConfig]="(createOrderConfig$ | async)?.metaData" [parentForm]="orderForm"></metadata> -->
          </div>
          <div class="col-xs-6">
            <div class="pricing-options pricing-options-editable pricing-options-bid">
              <p>Pricing</p>
              <div id="bid01" class="">
                <table class="table table-bid">
                  <thead>
                    <tr>
                      <th>
                        <span class="text-highlight">Bid 1</span>
                      </th>
                      <th>%</th>
                      <th>Basis</th>
                      <th>Pricing Period</th>
                      <th>Price ($/t)</th>
                      <th>
                        <button class="btn btn-link pull-right" (click)="showDiv = false">
                          <span class="icon-close"></span>
                        </button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Basis 1</td>
                      <td>
                        <div class="form-group form-group-pricing">
                          <label for="" class="sr-only">Percentage</label>
                          <input type="text" class="form-control" id="" placeholder="50">
                        </div>
                      </td>
                      <td>
                        <div class="custom-select form-group-basis">
                          <select class="form-control">
                            <option>Fixed</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="custom-select">
                          <select class="form-control">
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group form-group-quantity">
                          <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                          <div class="btn-group btn-group-count" role="group">
                            <button type="button" class="btn btn-count btn-count-minus">
                              <div class="icon-minus"></div>
                            </button>
                            <button type="button" class="btn btn-count btn-count-plus">
                              <div class="icon-plus"></div>
                            </button>
                          </div>
                          <input type="text" class="form-control" id="quantity" placeholder="">
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-link pull-right">
                          <span class="icon-close"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>

                  <tbody *ngIf="togglePricingBasis">
                    <tr>
                      <td>Basis 2</td>
                      <td>
                        <div class="form-group form-group-pricing">
                          <label for="" class="sr-only">Percentage</label>
                          <input type="text" class="form-control" id="" placeholder="50">
                        </div>
                      </td>
                      <td>
                        <div class="custom-select form-group-basis">
                          <select class="form-control">
                            <option>Fixed</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="custom-select">
                          <select class="form-control">
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group form-group-quantity">
                          <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                          <div class="btn-group btn-group-count" role="group">
                            <button type="button" class="btn btn-count btn-count-minus">
                              <div class="icon-minus"></div>
                            </button>
                            <button type="button" class="btn btn-count btn-count-plus">
                              <div class="icon-plus"></div>
                            </button>
                          </div>
                          <input type="text" class="form-control" id="quantity" placeholder="">
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-link pull-right" (click)="toggle()">
                          <span class="icon-close"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <button class="btn btn-link" (click)="setTogglePricingBasis(true)">
                    <span class="icon-plus"></span> Basis</button>
                </div>
              </div>
              <div id="bid02" class="component-pricing-bid" *ngIf="showDiv">
                <table class="table table-bid">
                  <thead>
                    <tr>
                      <th>
                        <span class="text-highlight">Bid 2</span>
                      </th>
                      <th>%</th>
                      <th>Basis</th>
                      <th>Pricing Period</th>
                      <th>Price ($/t)</th>
                      <th>
                        <button class="btn btn-link" (click)="setShowDiv(false)">
                          <span class="icon-close"></span>
                        </button>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Basis 1</td>
                      <td>
                        <div class="form-group form-group-pricing">
                          <label for="" class="sr-only">Percentage</label>
                          <input type="text" class="form-control" id="" placeholder="50">
                        </div>
                      </td>
                      <td>
                        <div class="custom-select form-group-basis">
                          <select class="form-control">
                            <option>Fixed</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="custom-select">
                          <select class="form-control">
                            <option>Jan</option>
                            <option>Feb</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group form-group-quantity">
                          <label for="quantity" class="control-label sr-only">Quantity (t)</label>
                          <div>
                            <div class="btn-group btn-group-count" role="group">
                              <button type="button" class="btn btn-count btn-count-minus">
                                <div class="icon-minus"></div>
                              </button>
                              <button type="button" class="btn btn-count btn-count-plus">
                                <div class="icon-plus"></div>
                              </button>
                            </div>
                            <input type="text" class="form-control" id="quantity" placeholder="">
                          </div>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-link">
                          <span class="icon-close"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <button class="btn btn-link">
                    <span class="icon-plus"></span> Basis</button>
                </div>
              </div>

              <div class="add-bid">
                <button class="btn btn-primary">Add Additional Bid</button>
              </div>
            </div>

            <hr />

            <div class="form-group">
              <label for="notes" class="col-xs-3 control-label">
                Notes
                <br />
                <span class="small">256 chars left</span>
              </label>
              <div class="col-xs-9">
                <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default">Create</button>
      <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
    </div>
  </div>
</div>