<div class="row">
	<div class="col-md-12">Dashboard</div>
		<div gridster = "gridsterOptions">
        <ul>
            <li gridster-item="item.tile" ng-repeat ="item in userDashboardConfig">
            	Test Tile
            	{{item.view}}
				<div ui-view="{{item.view}}"></div>
            </li>

        </ul>
    </div>
</div>