<div class="row">
  <div class="col-xs-12">
    <h1>Simple Bid Ask Stack</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-market">
      <div class="panel-heading handle">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel-heading-title">
              Simple Bid Ask Stack
            </div>
            <!-- Demo part 1 - open the simple Bid modal -->
            <button type="button" class="btn btn-bid pull-right" (click)="openModalBidSimple(templateBidSimple)">+ Bid</button>
          </div>
          <div class="col-xs-6">
            <!-- Demo part 2 - open the simple Ask modal -->
            <button type="button" class="btn btn-ask pull-left" (click)="openModalAskSimple(templateAskSimple)">+ Ask</button>
            <div class="pull-right">
                <a class="widget-remove" title="Remove widget">
                  <i class="icon-bin"></i>
                </a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 panel-bid bordered-right">
            <div class="table-responsive">
              <table id="t00" class="table table-bid">
                <thead>
                  <tr>
                    <th> </th>
                    <th>Date</th>
                    <th>Bro</th>
                    <th>Pri</th>
                    <th>Qty</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="icon-edit-note"></div></td>
                    <td>23-30</td>
                    <td>*</td>
                    <td>XTT</td>
                    <td>500</td>
                    <td class="bid-price">647.00</td>
                  </tr>
                </tbody>
                <!-- Demo part 3 - Bid styled popover on table row -->
                <tbody
                  [popover]="popTemplate"
                  container="body"
                  containerClass="popover-bid"
                  placement="auto"
                  triggers="mouseenter:mouseleave"
                >
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-6 panel-ask">
            <div class="table-responsive">
              <table id="t01" class="table table-ask">
                <thead>
                  <tr>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Pri</th>
                    <th>Bro</th>
                    <th>Date</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                      <td><div class="icon-edit-note"></div></td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  </tbody>
                  <tbody>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-toggle-stack pull-right active"><div class="icon-chevron-up"></div></button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-toggle-stack pull-left"><div class="icon-chevron-down"></div></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    Empty
  </div>
</div>




<!--
  *********************************************************
  Demo Part 1 - Template for the Simple Bid modal
  *********************************************************
-->
<ng-template #templateBidSimple>
  <div class="modal-content-overlay" *ngIf="!hideDiv">
    <div class="modal-content-overlay-header">
      <h4 class="modal-title">Order Modified. Click refresh to update details.<button class="btn btn-default pull-right" type="button" (click) = "hideDiv=true">Refresh</button></h4>
    </div>
  </div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bid Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="price" class="col-xs-3 control-label">Price</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" id="price" placeholder="">
        </div>
      </div>

      <div class="form-group form-group-quantity">
        <label for="quantity" class="col-xs-3 control-label">Quantity (t)</label>
        <div class="col-xs-9">
          <div class="btn-group btn-group-count" role="group">
          <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
            <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
          </div>
          <input type="text" class="form-control" id="quantity" placeholder="Placeholder text">
          <!-- The amounts as a group of buttons -->
          <div class="btn-group-justified btn-group-quantity" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">450</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">500</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">750</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">800</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">850</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group has-feedback date-range">
        <label for="deliveryPeriod" class="col-sm-3 control-label">Delivery period</label>
        <div class="date-range-item">
          <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
          <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="date-range-item">
          <input class="form-control" placeholder="" bsDatepicker #dp="bsDatepicker" [minDate]="minDate" [bsConfig]="{containerClass: 'theme-blue', showWeekNumbers: false}">
          <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="date-range-item">
          <div class="days-selected"> 10 days selected</div>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-xs-3 control-label">Delivery location</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <hr />

      <div class="form-group form-group-broker">
        <label for="broker" class="col-xs-3 control-label">Broker</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="col-xs-offset-3 col-xs-9">
          <div class="checkbox">
            <input type="checkbox" id="allowOtherBrokers">
            <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-group">
        <label for="metaLabel1" class="col-xs-3 control-label">Meta Label 1</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="metaLabel2" class="col-xs-3 control-label">Meta Label 2</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <hr />

      <div class="form-group">
        <label for="notes" class="col-xs-3 control-label">
          Notes
          <br />
          <span class="small">256 chars left</span>
        </label>
        <div class="col-xs-9">
          <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default">Create</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
  </div>
</ng-template>

<!--
  *********************************************************
  Demo part 2 - Template for the Simple Ask modal
  *********************************************************
-->
<ng-template #templateAskSimple>
  <!-- <div class="modal-content-overlay" *ngIf="!hideDiv">
    <div class="modal-content-overlay-header">
      <h4 class="modal-title">Order Modified. Click refresh to update details.<button class="btn btn-default pull-right" type="button" (click) = "hideDiv=true">Refresh</button></h4>
    </div>
  </div> -->
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bid Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="price" class="col-xs-3 control-label">Price</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" id="price" placeholder="">
        </div>
      </div>

      <div class="form-group form-group-quantity">
        <label for="quantity" class="col-xs-3 control-label">Quantity (t)</label>
        <div class="col-xs-9">
          <div class="btn-group btn-group-count" role="group">
          <button type="button" class="btn btn-count btn-count-minus"><div class="icon-minus"></div></button>
            <button type="button" class="btn btn-count btn-count-plus"><div class="icon-plus"></div></button>
          </div>
          <input type="text" class="form-control" id="quantity" placeholder="Placeholder text">
          <!-- The amounts as a group of buttons -->
          <div class="btn-group-justified btn-group-quantity" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">450</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">500</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">750</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">800</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-quantity">850</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="deliveryPeriod" class="col-xs-3 control-label">Delivery period</label>
        <div class="col-sm-5">
          <input class="form-control" placeholder="" bsDaterangepicker [minDate]="minDate" [maxDate]="maxDate" #dpr="bsDaterangepicker">
          <span class="icon-calendar text-muted form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="col-sm-4">
          <div class="days-selected"> 10 days selected</div>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-xs-3 control-label">Delivery location</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <hr />

      <div class="form-group form-group-broker">
        <label for="broker" class="col-xs-3 control-label">Broker</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="col-xs-offset-3 col-xs-9">
          <div class="checkbox">
            <input type="checkbox" id="allowOtherBrokers">
            <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
          </div>
        </div>
      </div>

      <hr />

      <div class="form-group">
        <label for="metaLabel1" class="col-xs-3 control-label">Meta Label 1</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="metaLabel2" class="col-xs-3 control-label">Meta Label 2</label>
        <div class="col-xs-9 custom-select">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

      <hr />

      <div class="form-group">
        <label for="notes" class="col-xs-3 control-label">
          Notes
          <br />
          <span class="small">256 chars left</span>
        </label>
        <div class="col-xs-9">
          <textarea class="form-control" id="metaLabel6" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default">Create</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modalRef.hide()">Exit</button>
  </div>
</ng-template>

<!--
  *********************************************************
  Demo part 3 - Template for the popover on table row
  *********************************************************
-->
<ng-template #popTemplate>
  <div class="title-popover-bid">
    <span>Bid</span> Popover title
  </div>

  <table class="table table-bid">
    <tbody>
      <tr>
        <th>Order ID</th>
        <td>1056</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>Active</td>
      </tr>
      <tr>
        <th>Tradable</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Principal</th>
        <td>Shell (SHE)</td>
      </tr>
      <tr>
        <th>Broker</th>
        <td>ICAP (ICA)</td>
      </tr>
      <tr>
        <th>Co-broking enabled</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Delivery port</th>
        <td>LPG Forward Terms</td>
      </tr>
      <tr>
        <th>Delivery period</th>
        <td>1st Half Jun</td>
      </tr>
      <tr>
        <th>Notes</th>
        <td>Late payment pending 2USD/t std t's and c's</td>
      </tr>
      <tr>
        <th>Original time</th>
        <td>25 Apr 2017 <span class="text-muted">15:38:32</span></td>
      </tr>
      <tr>
        <th>Last updated</th>
        <td>25 Apr 2017 <span class="text-muted">15:53:21</span></td>
      </tr>
    </tbody>
  </table>

  <hr />
</ng-template>
