<div class="login-box" style="margin-top:300px; vertical-align:middle; max-width:600px;">
    <h2 class="direct-blue">Forgot Password</h2>
    <div ng-hide="isSubmitted">
        <section class="login-pane">
            <form novalidate="novalidate" ng-submit="forgotPassword()">
                <ul class="login-inputs">
                    <li>
                        <label ng-class="[block-display,bold]" class="login-h2" for="username">Enter your username</label>
                        <input focus="username" type="text" id="username" class="input-text" placeholder="Username" ng-model="username" ng-keyup="$event.keyCode == 13 ? forgotPassword() : null" />
                    </li>
                    <li class="password-link">
                        <div><b><a ui-sref="Login">Back to Login</a></b></div>
                    </li>
                    <li>
                        <div style="color: red;">{{loginMessage}}</div>
                    </li>
                    <li>&nbsp;</li><li>&nbsp;</li>
                    <li>
                        <button type="submit" ng-disabled="loading || !username.length" ng-class="{'disabledlogin':loading || username.length==0 }" class="button  blue" id="signInBtn">Submit<img src="assets/spinner.gif" class="spinner" ng-show="loading"/></button>
                    </li>
                </ul>
            </form>
        </section>
        <section class="register-pane">
            <p>Argus Open Markets is a web-based electronic platform enabling market participants to post bids, offers and initiate commodity deals in real time for physical spot markets. The platform provides transparent market and price information for the spot value of the physical commodity allowing market participants to see how price assessments evolve and keep up to date with market developments.</p>
            <br/>
            <a href="http://www.argusmedia.com/aom" target="_blank" class="button green">More info</a>
        </section>
    </div>
    <div ng-show="isSubmitted">
        <pre style="font-family: inherit; background-color: transparent; border: none">{{loginMessage}}</pre>
    </div>
</div>