<div>
	<div class="login-box" style="margin-top:300px; vertical-align:middle; max-width:600px;" ng-hide="isSubmitted">
		<h2 class="direct-blue" title="Version: {{version}}">
			Argus Open Markets
		</h2>

		<section class="login-pane">
			<h2 class="login-h2">Already registered? Login below</h2>

			<form novalidate="novalidate">
				<ul class="login-inputs">
					<li>
						<label ng-class="[block-display,bold]" class="login-h2" for="username">Enter your
							username</label>
						<input focus="username" type="text" id="username" class="input-text" placeholder="Username" ng-model="username"
						       ng-keyup="$event.keyCode == 13 ? login() : null"/>
					</li>
					<li>
						<label ng-class="[block-display,bold] " class="login-h2" for="password">Enter your
							password</label>
						<input type="password" id="password" name="password" placeholder="Password" class="input-text"
						       ng-model="password" ng-keyup="$event.keyCode == 13 ? login() : null"/>
					</li>
					<li>
						<input type="checkbox" ng-model="rememberMe" name="rememberMe" value="true" id="rememberMe">
						<label for="rememberMe">Remember me on this computer </label>
					</li>
					<li class="password-link">
						<div><b><a ui-sref="ForgottenPassword">Forgotten Password?</a></b></div>
					</li>
					<li ng-show="browserNotSupported">
						This application is optimised for Google Chrome, Firefox and IE11+
					</li>
					<li>
						<div style="color: red;">{{loginMessage}}</div>
					</li>
					<li>
						<button type="submit" ng-disabled="loading || !username.length" ng-class="{'disabledlogin':loading || username.length==0 }"
						        class="button  blue" id="signInBtn"  ng-click="login()">Sign in<img
								src="assets/spinner.gif" class="spinner" ng-show="loading"/></button>
					</li>
					<!--<li class="password-link">
						<div><a ui-sref="Cme">CME Users - click here to login.</a></div>
					</li>-->
				</ul>
			</form>
		</section>
		<section class="register-pane">
			<h2>Register</h2>
			<p>Argus Open Markets is a web-based electronic platform enabling market participants to post bids, offers and initiate commodity deals in real time for physical spot markets. The platform provides transparent market and price information for the spot value of the physical commodity allowing market participants to see how price assessments evolve and keep up to date with market developments.</p>
			<a href="http://www.argusmedia.com/aom" target="_blank" class="button green">More info</a>
		</section>
	</div>
</div>