<div>
	<div class="login-box" style="margin-top:300px; vertical-align:middle; max-width:600px;" ng-hide="isSubmitted">
		<h2 class="direct-blue">Reset Password</h2>
		<section class="login-pane">
			<form novalidate="novalidate" ng-submit="reset()">
				<ul class="login-inputs">
					<password-checker password="password" temppassword="oldPassword" minChars=8 minNumOrSpecial=1
					                  changePasswordValid="changePasswordValid" minCaseDiff=1
					                  ng-keyup="$event.keyCode == 13 ? reset() : null"></password-checker>
					<li>
						<div style="color: red;">{{loginMessage}}</div>
					</li>
					<li>
						<button type="submit" ng-disabled="submitDisabled()" ng-class="{disabledlogin:submitDisabled()}" class="button  blue" ng-class="submitButtonClass()" id="signInBtn">Submit<img src="assets/spinner.gif" class="spinner" ng-show="loading"/></button>
					</li>
				</ul>
			</form>
		</section>
		<section class="register-pane">
			<p>Argus Open Markets is a web-based electronic platform enabling market participants to post bids, offers and initiate commodity deals in real time for physical spot markets. The platform provides transparent market and price information for the spot value of the physical commodity allowing market participants to see how price assessments evolve and keep up to date with market developments.</p>
			<a href="http://www.argusmedia.com/aom" target="_blank" class="button green">More info</a>
		</section>
	</div>
	<div class="login-box" style="margin-top:300px; vertical-align:middle; max-width:600px;" ng-show="isSubmitted">
		<h2 class="direct-blue" ng-click="reset()">Reset Password</h2>
		<pre style="font-family: inherit; background-color: transparent; border: none">{{loginMessage}}</pre>
		<div class="password-link" style="font-size: 12px"><a ui-sref="Login">Return to Login?</a></div>
	</div>
</div>

