// Colors - black, white and greys
$white:                                          #fff;
$black:                                          #000;

$gray-base:                                      $black !default;
$gray-darkest:                                   #181818 !default; // Argus form input background color
$gray-darker:                                    #282828 !default; // Argus gray - main nav dropdown bg
$gray-dark:                                      #333 !default; // Argus body bg
$gray:                                           #424A51 !default; // Argus panel bg color
$gray-light:                                     #ccc !default; // main nav text
$gray-lighter:                                   #d1d3d4 !default;
$gray-lightest:                                  #f5f5f5 !default;

// Argus Open Markets Colors #aom-, .aom-, $aom-, %aom- etc
$aom-blue:                                       #005dab !default; // body bg color
$aom-blue-light:                                 #1a88ba !default; // body bg color
$aom-green:                                      #023434 !default; // Argus info button green
$aom-turquoise:                                  #03C0C8 !default; // turquoise highlight used everywhere
$aom-cyan:                                       #39c !default; // popover tables hr etc
$aom-orange:                                     #c60 !default; // orange
$aom-pink:                                       #ff1493 !default; // pink
$aom-gray:                                       #666 !default;

// The ASK color scheme
$ask:                                            #311b1c !default; // Argus ask row red
$ask-dark:                                       #1e0504 !default; // Argus ask row alt red (darker)
$ask-light:                                      #5c2e31 !default; // Argus ask button bg (lighter)
$ask-lighter:                                    #5c2929 !default; // Argus ask button bg (lighter)
$ask-lightest:                                   #810600 !default; // Argus ask button border
$ask-highlight:                                  #c30 !default; // popover tables hr etc

$ask-table-border:                               #4E3C40 !default; // bid/ask stack border color
$ask-bg-odd:                                     $ask-dark !default; // bid/ask stack odd row bg color
$ask-bg-even:                                    $ask !default; // bid/ask stack odd row bg color

// The BID color scheme
$bid:                                            #172f3a !default; // Argus bid row blue
$bid-dark:                                       #071c25 !default; // Argus bid row alt blue (darker)
$bid-light:                                      #0b5070 !default; // Argus bid button bg (lighter)
$bid-lighter:                                    #29525c !default; // Argus bid button bg (lighter)
$bid-lightest:                                   $aom-cyan !default; // Argus bid button border 
$bid-highlight:                                  $aom-turquoise !default;

$bid-table-border:                               #304C59 !default; // bid/ask stack border color
$bid-bg-odd:                                     $bid-dark !default; // bid/ask stack odd row bg color
$bid-bg-even:                                    $bid !default; // bid/ask stack odd row bg color

// Bootstrap Defaults
$brand-primary:                                 $aom-blue !default;
$brand-info:                                    $aom-green !default;
$brand-success:                                 #008000 !default; // Argus assessment 'plus figure'
$brand-warning:                                 #ff0 !default; // Argus assessment 'no change'
$brand-danger:                                  #c00 !default; // Argus assessment 'minus figure'
