﻿// any mixins

// Badges
@mixin badge-variant($color, $background) {
  color: $color;
  background-color: $background;
}

// Padding and Margins
// the following will produce e.g. margin-top-0 (0px) through to margin-top-10 (50px). see the jonso example at the bottom
$spacer-x: $unit-px;
$spacer-y: $unit-px;

$spacers: ();

@for $i from 0 through 20 {
    $spacers: map-merge($spacers, ( $i: ( x: $spacer-x * $i, y: $spacer-y * $i ) ))
}

@each $prop, $abbrev in (margin: margin, padding: pad) {
    @each $size, $lengths in $spacers {
        $length-x: map-get($lengths, x);
        $length-y: map-get($lengths, y);

        %#{$abbrev}-all-#{$size} {
            #{$prop}: $length-y $length-x !important;
        }
        // a = All sides
        %#{$abbrev}-top-#{$size} {
            #{$prop}-top: $length-y !important;
        }

        %#{$abbrev}-right-#{$size} {
            #{$prop}-right: $length-x !important;
        }

        %#{$abbrev}-bottom-#{$size} {
            #{$prop}-bottom: $length-y !important;
        }

        %#{$abbrev}-left-#{$size} {
            #{$prop}-left: $length-x !important;
        }

        // Axes
        %#{$abbrev}-horizontal-#{$size} {
            #{$prop}-right: $length-x !important;
            #{$prop}-left: $length-x !important;
        }

        %#{$abbrev}-vertical-#{$size} {
            #{$prop}-top: $length-y !important;
            #{$prop}-bottom: $length-y !important;
        }
    }
}
//
// .jonso {
//     @extend %margin-top-0; // 0px
//     @extend %margin-right-5; // 25px
//     @extend %pad-top-3; // 15px
//     @extend %pad-top-10; // 50px
// }

@mixin form-control-focus-ask($color: $input-border-focus-ask) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
  }
}
