// placeholder selectors

// fixing the width to 1350 pixels
%fixed-width-1350 {
  // width: $unit-1x * 6;
  max-width: $unit-1x * 6;
}

// override the responsiveness

%override-responsiveness {
  @media (min-width: 768px) {
    .container {
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .container {
      //width: 100%;
      max-width: $unit-1x * 6;
    }
  }
}


// font styling
%font-normal {
  font-weight: normal;
}
%font-bold {
  font-weight: bold;
}
%font-italic {
  font-style: italic;
}

%text-upper {
  text-transform: uppercase;
}


// text alignment
%text-left {
  text-align: left;
}
%text-center {
  text-align: center;
}
%text-right {
  text-align: right;
}
%text-justify {
  text-align: justify;
}

%title-popover {
  position: absolute;
  top: 0;
  left: 0;
  @extend %text-upper;
  @extend %font-bold;
  margin: 10px 0 0 10px;
  padding: 5px 10px 2px;
  border-left: $unit-px solid $gray;
}

// nav tabs
%tab-basic-settings {
  border-bottom: none;
  padding-top: 2px;

  > li {
    float: none;
    margin-bottom: 2px;
  }
}

// news section
%wrapper-news-item {
  border-width: 0;
  margin-top: 0!important;

  .panel {
    border-width: 0!important;

    &-heading {
      text-transform: none;
    }

    &-title {
      color: $panel-title-news;

      .news-date {
        color: $panel-title-news-date;
      }

      .small {
        width: 95%;
      }
    }
  }
}

// other stuff
%scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $scrollbar-track-bg;
  }

  &::-webkit-scrollbar {
  	width: $unit-px * 3;
  	background-color: $scrollbar-track-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-bg;
	  border: 1px solid $scrollbar-thumb-border;
  }
}

// add scrollbars to a div, vertically
%add-scroll-v {
  @extend %scrollbar;
  overflow-y: auto;
  overflow-x: hidden;
}
// add scrollbars to a div, horizontally
%add-scroll-h {
  @extend %scrollbar;
  overflow-y: hidden;
  overflow-x: auto;
}

//css only checkbox and radio - https://codepen.io/jestho/pen/WbRjay
//need to add an empty span to the bootstap markup
%styled-checkbox-radio {
  position: relative;
  cursor: pointer;
  padding: $unit-px * 2;

  &::selection {
    background: transparent;
  }

  input + span {
    background: $checkbox-bg;
    border: 1px solid $checkbox-border;
    color: $checkbox-color;
    content: "";
    display: inline-block;
    margin: 0 $unit-px 0 0;
    padding: 0;
    vertical-align: middle;
    width: $unit-px * 3;
    height: $unit-px * 3;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

    &::after {
      content: "";
      display: block;
      transform: scale(0);
      transition: transform .2s;
    }
  }

  @media screen and (min-width: 768px) {
    &:hover input + span {
      box-shadow: 0 0px 0px rgba($black, .15);
    }
  }

  input:active + span {
    box-shadow: 0 0px 0px rgba($black, .15);
  }

  input:focus + span {
    box-shadow: 0 0 0 0px $checkbox-focus;
  }

  input:checked + span::after {
    transform: scale(1);
  }

  input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
}

// spinner within a panel
%loading-spinner-default {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid $white;
}


// %spinner-wrapper-panel {
//   position: absolute;
//   z-index: 1020;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: $unit-px * 10;
//   width: $unit-px * 10;
//   margin-left: calc(50% - 15px);
//   @extend %margin-top-10;
// }
