/*
TOC
---
- import the color variables (theming)
- Base variables           - Component variables               - Pages
  - Units                     - custom checkboxes                 - Assesments
  - Fonts                     - custom selects                    - Login
  - Badges                    - datepicker                        - Markets Complex
  - Buttons                   - footer                            - Markets Simple
  - Forms                     - header                            - News
  - Links                     - modals                            - Settings
  - Panels                    - Multi-select
  - Tables                    - popovers
                              - pricing
                              - toastr
                              - vertical-tabs


*/

// override / add to the BS defaults
@import "_colors";


// getting funky with the grid - changing the large screen breakpoin to 1350px!
$grid-gutter-width:                             30px !default;
$container-large-desktop:                       (1320px + $grid-gutter-width) !default;

// Units
$unit-1x:                                       225px; // widget width of one x, six in total
$unit-px:                                       5px;

// Base - Fonts
$font-family-sans-serif:                        Arial, Helvetica, sans-serif !default;
$font-size-base:                                12px !default;

$font-size-h1:                                  floor(($font-size-base * 2.6)) !default; // ~31px
$font-size-h2:                                  floor(($font-size-base * 2.15)) !default; // ~25px
$font-size-h3:                                  ceil(($font-size-base * 1.7)) !default; // ~21px
$font-size-h4:                                  ceil(($font-size-base * 1.25)) !default; // ~15px
$font-size-h5:                                  $font-size-base !default;
$font-size-h6:                                  ceil(($font-size-base * 0.85)) !default; // 11px

$headings-font-weight:                          normal !default;

$text-color:                                    $white !default;
$close-color:                                   $text-color !default;

// Base - Badges
$badge-font-weight:                             normal !default;
$badge-border-radius:                           0 !default;

$badge-ask-color:                               $text-color !default;
$badge-ask-bg:                                  $ask-light !default;
$badge-bid-color:                               $text-color !default;
$badge-bid-bg:                                  $bid-light !default;
$badge-deal-color:                              $text-color !default;
$badge-deal-bg:                                 $brand-success !default;
$badge-info-color:                              $text-color !default;
$badge-info-bg:                                 $aom-green !default;

// Base - Buttons
$btn-font-weight:                               normal !default;

$btn-default-color:                             $text-color !default;
$btn-default-bg:                                $gray-darkest !default;
$btn-default-border:                            $gray !default;

$btn-ask-color:                                 $text-color !default;
$btn-ask-bg:                                    $ask-light !default;
$btn-ask-border:                                $ask-lightest !default;

$btn-bid-color:                                 $text-color !default;
$btn-bid-bg:                                    $bid-light !default;
$btn-bid-border:                                #006fa3 !default;

$btn-count-color:                               $gray-lighter !default;
$btn-count-bg:                                  transparent !default;
$btn-count-border:                              transparent !default;
$btn-count-hover-ask:                           $ask-highlight !default;
$btn-count-hover-bid:                           $bid-highlight !default;
$btn-count-hover:                               $btn-count-hover-bid !default;

$btn-deal-color:                                 $text-color !default;
$btn-deal-bg:                                    $brand-success !default;
$btn-deal-border:                                darken($brand-success, 10%) !default;



$btn-login-color:                               $gray-dark !default;
$btn-login-bg:                                  $white !default;
$btn-login-border:                              $gray-dark !default;

$btn-quantity-color:                            $text-color !default;
$btn-quantity-bg:                               $gray-darkest !default;
$btn-quantity-border:                           $gray !default;
$btn-quantity-hover-bg:                         $brand-success !default;
$btn-quantity-hover-border:                     $bid-highlight !default;

$btn-warning-color:                             $gray;

// Base - Forms
$input-color:                                   $text-color !default;
$input-bg:                                      $gray-darkest !default;
$input-border-radius:                           0 !default;
$input-border:                                  $gray !default;
$input-border-focus:                            $aom-turquoise !default;
$input-border-focus-ask:                        $ask-lightest !default;
$input-color-placeholder:                       $gray !default;

// Base - Links
$a-tags:                                        'a, a:active, a:hover, a:visited';
$a-tags-hover:                                  'a:active, a:hover';

$link-color:                                    $aom-blue !default;
$link-hover-color:                              lighten($link-color, 15%) !default;

// Base - Panels
$panel-bg:                                      $gray-darker !default;
$panel-body-padding:                            $unit-px !default;
$panel-heading-padding:                         8px $unit-px !default;
$panel-footer-padding:                          $panel-heading-padding !default;
$panel-border-radius:                           0 !default;
$panel-inner-border:                            $white;

$panel-default-text:                            $text-color !default;
$panel-default-border:                          $gray !default;
$panel-default-heading-bg:                      $gray !default;
$panel-footer-bg:                               transparent !default;

// Base - Tables
$table-border-color:                            $gray !default;
$table-row-highlight:                           $aom-orange;
$pricing-table-ask-bg:                          rgba(92, 41, 41, 0.4) !default;
$pricing-table-bid-bg:                          rgba(41, 82, 92, 0.4) !default;


// Dropshadow - use to copy BS modal box-shadow to other components, e.g. popover etc
$shadow:                                        0 3px 9px rgba(0,0,0,.5);




// Component

// Component - Assessment

// Component Datepicker
$days-selected-ask:                             $ask-highlight !default;
$days-selected-bid:                             $bid-highlight !default;

// Component - Header
$navbar-height:                                 $unit-px * 10;
$navbar-inverse-bg:                             $gray-darker !default;
$navbar-inverse-border:                         $gray !default;
$navbar-inverse-link-active-bg:                 $gray-darker !default;
$dropdown-bg:                                   $gray-darker;

// Component - Login
$login-h2:                                      $aom-blue !default;
$login-h4:                                      $gray !default;
$login-label:                                   $gray !default;

// Component - Market ticker
$ticker-info:                                   $aom-blue;
$ticker-mine:                                   $aom-orange;
$ticker-executable:                             $text-color;
$ticker-read-only:                              $aom-gray;
$ticker-executable-4way:                        $aom-pink;

// Component - Popover
$popover-border-width:                          0;
$popover-bg:                                    $gray-darker !default;
$popover-max-width:                             $unit-1x * 3 !default;
$popover-border-color:                          $gray-darker !default;
$popover-fallback-border-color:                 $popover-border-color !default;
$popover-title-bg:                              $gray !default;
$popover-arrow-width:                           $unit-px * 2 !default;
$popover-arrow-color:                           $popover-border-color !default;
$popover-arrow-outer-width:                     ($popover-arrow-width + 5) !default;
$popover-arrow-outer-color:                     $popover-border-color !default;
$popover-arrow-outer-fallback-color:            $popover-arrow-outer-color !default;

$popover-title-ask:                             $ask-highlight !default;
$popover-title-bid:                             $bid-lightest !default;



// Component - Modals
$modal-inner-padding:                           15px !default;
$modal-title-padding:                           $unit-px * 2 !default;
//$modal-title-line-height:     $line-height-base !default;
$modal-content-bg:                              $gray-darker !default;
$modal-content-border-color:                    $gray !default;
$modal-content-fallback-border-color:           $gray !default;
$modal-backdrop-bg:                             $black !default;
$modal-backdrop-opacity:                        .5 !default;
$modal-header-border-color:                     $gray !default;
$modal-footer-border-color:                     $modal-header-border-color !default;

$modal-lg:                                      $unit-1x * 5 !default;
$modal-md:                                      600px !default;
$modal-sm:                                      300px !default;

$modal-header-ask-bg:                           $ask-lighter !default;
$modal-header-ask-border:                       $ask-lighter !default;
$modal-hover-ask:                               $ask-highlight !default;

$modal-header-bid-bg:                           $bid-lighter !default;
$modal-header-bid-border:                       $bid-lighter !default;
$modal-hover-bid:                               $aom-turquoise !default;

// Component - News
$panel-title-news:                              $text-color !default;
$panel-title-news-date:                         $aom-blue-light !default;

// Component - Scrollbar
$scrollbar-track-bg:                            $gray-light !default;
$scrollbar-thumb-bg:                            $bid-lightest !default;
$scrollbar-thumb-border:                        $aom-blue !default;

// Component - Styled Checkbox
$checkbox-bg:                                   $gray-lighter !default;
$checkbox-border:                               $gray !default;
$checkbox-color:                                $gray-dark !default;
$checkbox-focus:                                $aom-turquoise !default;

// Component multi-select
$multi-select-highlight:                        $aom-turquoise !default;
