<div class="login-parent">
  <form class="login-child border-right" [formGroup]="forgottenPasswordForm" (ngSubmit)="submit()">
    <div class="login-child-child">
      <h4>Forgotten Password</h4>
      <div class="form-group">
        <label for="forgotten-password-email">Enter your username</label>
        <input type="email" class="form-control" id="forgotten-password-email" formControlName="email" placeholder="Username">
      </div>
      <div id="login" class="form-group">
        <a id="forgotten-password-login" [routerLink]=" ['/login'] " class="">Back to Login</a>
      </div>
      <div id="forgotten-password-message" class="form-group">
        <span *ngIf="(session$ | async)?.success">
          <p>{{ succesfulResponseText }}</p>
        </span>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="error-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>
    </div>
    <div class="login-child-child-last">
      <div id="submit-forgot-password" class="login-child-cta">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="this.forgottenPasswordForm.invalid">Submit</button>
        <div class="spinner-wrapper spinner-wrapper-login">
          <div *ngIf="(session$ | async)?.loading" class="loading-spinner"></div>
        </div>
      </div>
    </div>
  </form>

  <aom-register class="login-child"></aom-register>
</div>

<!--
<div class="row">
  <div class="col-xs-6 login-item border-right">
    <h4>Forgotten Password</h4>
    <form [formGroup]="forgottenPasswordForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="forgotten-password-email">Enter your username</label>
        <input type="email" class="form-control" id="forgotten-password-email" formControlName="email" placeholder="Username">
      </div>
      <div id="login" class="form-group">
        <a id="forgotten-password-login" [routerLink]=" ['/login'] " class="">Back to Login</a>
      </div>
      <div id="forgotten-password-message" class="form-group">
        <span *ngIf="(session$ | async)?.success">
          <p>{{ succesfulResponseText }}</p>
        </span>
      </div>
      <div class="error-message form-group">
        <p>
          <span id="error-message" class=" text-danger" *ngIf="(session$ | async)?.error?.statusText">{{(session$ | async)?.error?.statusText }}</span>
        </p>
      </div>
      <div id="submit-forgot-password" class="cta-login">
        <div class="wrapper-spinner wrapper-spinner-login">
          <div class="item-spinner">
            <span *ngIf="(session$ | async)?.loading" class="glyphicon glyphicon-repeat glyphicon-loading-spinner"></span>
          </div>
          <div class="item-button">
            <button type="submit" class="btn btn-primary" [disabled]="this.forgottenPasswordForm.invalid">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="register-section" class="col-xs-6 login-item ">
    <aom-register></aom-register>
  </div>
</div> -->
