/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@background: #454343;
@tileBackground: #333333;
