<div class="login-parent">
  <div class="login-child">
    <h4>The web browser you are using is not supported.</h4>
    <p>AOM has been optimised for the following browsers:</p>
    <ul class="list-unstyled">
      <li>- Google Chrome</li>
      <li>- Firefox</li>
      <li>- Edge</li>
      <li>- IE11+</li>
    </ul>
    <p class="text-muted">
      Your current browser details:
      <br />
      {{ (platform$ | async)?.name }} {{ (platform$ | async)?.version }}
    </p>
    <p>
      Contact the AOM support team
      <br />
      +44 (0) 207 199 9430
      <br />
      <a href="mailto:AOMSupport@ArgusMedia.com?subject=Unsupported web browser query">AOMSupport@ArgusMedia.com</a>
    </p>
  </div>
</div>
