<div>
	<div>
		<div ng-style="{'width':  gridsterOptions.width}" gridster="gridsterOptions">
			<ul>

				<li gridster-item row="item.tile.row" col="item.tile.col" size-x="item.tile.sizeX" size-y="item.tile.sizeY" ng-repeat="item in userDashboardConfig | filter:viewWidgetFilter "  >
					<div ui-view="{{item.view}}" class="ui-widget"
					     ng-init="productConfigItems =  getProductConfigItems(item.productIds);gridRowCount = gridRowCount"></div>
				</li>
			</ul>
		</div>
	</div>
</div>

