.panel {
    margin-left: 15px;
    margin-right: 15px;
}

.panel-body {
    padding: 2px;
    height: 200px;
    overflow-y: auto;
    width:100%;
}

.panel-heading {
    height:50px;
}

.news-item {
    float: none;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 40px;
    margin: 2px;
    padding: 5px;
    &:hover {
        background-color: #FF7400;
    }
}

.news-item:nth-of-type(odd) {
    background-color: #30363C;
    &:hover {
        background-color: #FF7400;
    }
}