<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">NEWS &amp; ANALYSIS</h3>
        </div>
        <div class="panel-body">
            <div id="news-list">
                <div class="news-item" *ngFor="let item of newsItems">{{ item }}</div>
            </div>
        </div>
    </div>
</div>