<div class="dashboard">
    <button (click)="healthcheck()">HealthCheck</button><span>{{ status }}</span>
    <div class="widgets">
        <bidask></bidask>
        <assessments></assessments>
        <market-ticker></market-ticker>
        <news></news>
    </div>
</div>