<form #formCtrl="ngForm" (submit)="submitForm()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New notification email mapping</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true"><span class="icon-close"></span></span>
    </button>
  </div>

  <div class="modal-body modal-body-settings">
    <div class="row">
      <div class="col-xs-12 form-horizontal">
        <div class="form-group">
          <label id="mapping-product-label" for="" class="col-xs-3 control-label">Product(s)</label>
          <div class="col-xs-9">
            <multi-select id="selMultiProducts" name="selectedProducts" [items]="products$ | async" valueProperty="productId" textProperty="productName"
                defaultTitle="PRODUCTS" required ngModel></multi-select>
          </div>
        </div>

        <div class="form-group">
          <label id="mapping-category-label" for="" class="col-xs-3 control-label">Notification Type</label>
          <div class="col-xs-9">
            <multi-select id="selMultiSystemNotificationTypes" name="selectedSystemNotificationTypes"
                [items]="organisationSystemNotificationTypes$ | async" valueProperty="id" textProperty="description"
                defaultTitle="NOTIFICATION TYPES" required ngModel></multi-select>
          </div>
        </div>

        <div class="form-group">
          <label id="mapping-email-label" for="" class="col-xs-3 control-label">Email Addresses</label>
          <div class="col-xs-9">
            <ng2-selectize-fixed name="selectedEmails" [config]="emailSelectizeConfig" placeholder="Please add email addresses" required ngModel></ng2-selectize-fixed>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <label class="sr-only">Buttons</label>
    <button type="submit" [disabled]="!formCtrl.form.valid" class="btn btn-primary">Create</button>
  </div>
</form>



<!-- <form #formCtrl="ngForm" (submit)="submitForm()" novalidate>
    <div class="modal-header">
        <div class="glyphicon glyphicon-remove" style="cursor: pointer;" (click)="bsModalRef.hide()"></div>
        <h3>
            New notification email mapping
        </h3>
    </div>

    <div class="modal-body">
        <div>
            <div>
                <div id="mapping-product-label" ><label>Product(s)</label></div>
                <div>
                    <multi-select id="selMultiProducts" name="selectedProducts" [items]="products$ | async" valueProperty="productId" textProperty="productName"
                        defaultTitle="PRODUCTS" required ngModel></multi-select>
                </div>
            </div>

            <div>
                <div id="mapping-category-label" style="width:240px;"><label>Notification Type</label></div>
                <div>
                    <multi-select id="selMultiSystemNotificationTypes" name="selectedSystemNotificationTypes"
                        [items]="organisationSystemNotificationTypes$ | async" valueProperty="id" textProperty="description"
                        defaultTitle="NOTIFICATION TYPES" required ngModel></multi-select>
                </div>
            </div>

            <div>
                <div id="mapping-email-label" style="width:240px;" ><label>Email Addresses</label></div>
                <div>
                    <ng2-selectize-fixed name="selectedEmails" [config]="emailSelectizeConfig" placeholder="Please add email addresses" required ngModel></ng2-selectize-fixed>
                </div>
            </div>

            <div></div>

            <div>
                <div> <label class="invisible">Buttons</label></div>
                <div>
                    <button type="submit" [disabled]="!formCtrl.form.valid" class="btn btn-lg">Create</button>
                </div>
            </div>
        </div>
    </div>
</form> -->
