<span>
    <span style="padding-right:2px;">
        <span style="padding-right:5px;">
            <!-- <i class="fa fa-minus-circle fa-fw fa-2x" ng-class="spinnaClass()" ng-click="disableSpinna() || decrementValue()"> </i>-->
            <img ng-class="spinnaClass()" width="24px" ng-click="disableSpinna() || decrementValue()" src="assets/order/minus.gif" class="number-increment-image" />
        </span>
        <span ng-transclude style="vertical-align:top;"/>
        <span style="padding-left:5px;">
            <!-- <i class="fa fa-plus-circle fa-fw  fa-2x" ng-class="spinnaClass()" ng-click="incrementValue()"> </i>-->
            <img ng-class="spinnaClass()" width="24px" ng-click="disableSpinna() || incrementValue()" src="assets/order/plus.gif" class="number-increment-image" />
        </span>
    </span>
</span>