<div class="row">
  <div *ngFor="let product of products$ | async">
    <div *ngIf="product.definition" [ngSwitch]="product.definition?.bidAskStackStyle">
      <aom-simple-market-container *ngSwitchCase="'N'" [productDefinition]="product.definition"></aom-simple-market-container>
      <aom-complex-market-container *ngSwitchCase="'W'" [productDefinition]="product.definition"></aom-complex-market-container>
    </div>
  </div>
</div>
<div class="row">
  <aom-assessment *ngFor="let product of productsWithAssessment$ | async" [product]="product" class="assessment-container"></aom-assessment>
</div>
<div class="row">
  <aom-news class="col-xs-12"></aom-news>
</div>