<form [formGroup]="parentForm" class="form-group">
  <label for="" class="col-xs-3 control-label">Delivery location</label>
  <div class="col-xs-9 custom-select">
    <select id="deliveryLocation" class="form-control" formControlName="deliveryLocation">
      <option *ngFor="let option of deliveryLocationConfig.deliveryLocationOptions" [value]="option.id">{{ option.name }}</option>
    </select>
  </div>
</form>