/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

body {
  font-family: 'Verdana';
  background-color: #282828;
}

h1 {
  color: white;
  font-size: 15px;
}

.col-xs-6 {
  padding-left:0;
  padding-right:0;
}

.no-gutter [class*="-6"] {
  padding-left:0;
}

.table {
  text-align: center;
  margin-bottom: 0;
}

.table>thead>tr>th {
  border: none;
  background-color: #282828;
}

th {
  text-transform: uppercase;
  color: #FFF;
}

tr {
  color: #ff7400;
  height: 2.65em;
}

.table>tbody>tr>td {
  border: none;
}

.table-striped-blue {
  background-color: #172f3a;
}

.table-striped-blue>tbody>tr {
  border-bottom: 1px solid #304c59;
}

.table-striped-blue>tbody>tr:nth-of-type(odd) {
  background-color: #071c25;
}

.table-striped-red {
  background-color: #311b1c;
}

.table-striped-red>tbody>tr {
  border-bottom: 1px solid #4e3c40;
}

.table-striped-red>tbody>tr:nth-of-type(odd) {
  background-color: #1e0504;
}

.table-hover>tbody>tr:hover {
  background-color: #ff7400;
  color: white;
}

.btn {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn-askstack {
  border: 1px solid #7C0702;
  background-color: #52201e;
}

.btn-bidstack {
  border: 1px solid #006C9F;
  background-color: #085070;
}

.panel-default>.panel-heading {
  background-color: #424a51;
  border-radius: 0;
  color: #FFF;
  border: none;
}

.panel-body {
  padding: 0;
}

.panel-default {
  border: none;
  border-radius: 0;
  border: 3px #424A51 solid;
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
