html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

nav {
  height: 60px;
}

footer {
  border-top: 1px solid #ffffff;
  background-color: #333333;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 148px;
  text-align: center;
  padding-top: 20px;
}