<form [formGroup]="parentForm" class="form-group form-group-broker">
  <label for="broker" class="col-xs-3 control-label">Broker</label>
  <div class="col-xs-9 custom-select">
    <select class="form-control" formControlName="trader" id="listTraders">
      <option *ngFor='let trader of traderConfig.traders' [ngValue]='trader'>{{ trader.organisation.name }} <span *ngIf="trader.organisation.id > 0">({{ trader.organisation.shortCode }})</span></option>
    </select>
  </div>

  <div class="col-xs-offset-3 col-xs-9">
    <div class="checkbox" *ngIf='traderConfig.coBrokeringEnabled'>
      <input type="checkbox" id="allowOtherBrokers" [disabled]='coBrokeringFlagDisabled()'>
      <label for="allowOtherBrokers">Allow other brokers to execute this order</label>
    </div>
  </div>
</form>