<div id="news-container" class="news-container">
  <div class="spinner-wrapper spinner-wrapper-news" *ngIf="(loading$ | async)">
    <div class="loading-spinner"></div>
  </div>

  <div class="panel panel-news widget">
    <div class="panel-heading">News &amp; Analysis</div>
    <div class="panel-body">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group #group *ngFor="let news of newsStories$ | async; let index = index; let isOdd=odd; let isEven=even" [class.wrapper-news-odd]="isOdd"
          [class.wrapper-news-even]="isEven">
          <div accordion-heading (click)="showNewsBody(news, $event)">
            <div>
              <span class="news-date">{{ news.publicationDate | dateTimePipe }}</span>
              <span class="">{{ news.headline }}</span>
              <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group?.isOpen, 'icon-chevron-right': !group?.isOpen}"></span>
            </div>
            <div class="small">{{ news.story }}</div>
          </div>
          <!-- {{ ((newsStory$ | async)?.story) | safeHtml }} -->
          <div id='content' [innerHTML]="(newsStory$ | async)?.story | safeHtml"></div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
