// import the variables etc!
@import "./src/assets/sass/partials/partials";

// import the news page specific styling
@import "./src/assets/sass/pages/_news";

/deep/.wrapper-news {
  .panel-body {
    @extend %pad-all-4;
    min-height:1px;
    height: auto;
  }

  &-even {
    @extend %wrapper-news-item;
    border-width: 0;

    .panel {
      &-heading {
        background-color: $gray-darkest;
      }

      &-body {
        @extend %pad-all-4;
        min-height:1px;
        height: auto;
      }
    }

    &:hover {
      .panel {
        &-heading {
          background-color: $table-row-highlight;
        }
      }
    }
  }

  &-odd {
    @extend %wrapper-news-item;
    border-width: 0;

    .panel {
      &-heading {
        background-color: $gray;
      }

      &-body {
        @extend %pad-all-4;
        min-height:1px;
        height: auto;
      }
    }

    &:hover {
      .panel {
        &-heading {
          background-color: $table-row-highlight;
        }
      }
    }
  }
}
