<div class="tab-pane">
  <h1>Product Settings</h1>
  <h2>My Permissioned Products - Contract Details</h2>
  <span *ngIf="!(productDefinitions$ | async)">Sorry, you have no products assigned.</span>
  <accordion *ngIf="productDefinitions$ | async">
    <accordion-group #group id="{{'accordion-group-' + productDefinition.productName.split(' ').join('')}}"
      *ngFor="let productDefinition of productDefinitions$ | async"
    >
      <div accordion-heading>
        {{productDefinition?.productName}}
        <span class="pull-right float-xs-right" [ngClass]="{'icon-chevron-down': group?.isOpen, 'icon-chevron-right': !group?.isOpen}"></span>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>Market Open Time:</th>
            <td>{{productDefinition?.openTime | date:"HH:mm:ss"}}</td>
          </tr>
          <tr>
            <th>Market Close Time:</th>
            <td>{{productDefinition?.closeTime | date:"HH:mm:ss"}}</td>
          </tr>
          <tr>
            <th>Last Open Date:</th>
            <td>{{productDefinition?.lastOpenTime | date:"dd MMM yyyy"}}</td>
          </tr>
          <tr>
            <th>Last Close Date:</th>
            <td>{{productDefinition?.lastCloseTime | date:"dd MMM yyyy"}}</td>
          </tr>
          <tr>
            <th>Currency:</th>
            <td>{{productDefinition?.contractSpecification.pricing.pricingCurrencyCode}}</td>
          </tr>
          <tr>
            <th>Price Unit:</th>
            <td>{{productDefinition?.contractSpecification.pricing.pricingUnitDescription}}</td>
          </tr>
          <tr>
            <th>Volume Unit:</th>
            <td>{{productDefinition?.contractSpecification.volume.volumeUnitDescription}}</td>
          </tr>
          <tr>
            <th>Tenors:</th>
            <td><aom-tenor-info *ngFor="let productTenor of productDefinition.contractSpecification.productTenors" [productTenor]="productTenor"></aom-tenor-info></td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
  </accordion>